@{
	ViewBag.Title="Welcome";
	Layout = JXTPortal.Mobile.Website.ViewEngine.WhitelabelViewEngine.Resolve("~/Views/Shared/Whitelabel/116/_Layout.cshtml");
}

<ul id="mobi_homenav">
     <li><a href="/Job/Search">Job Search</a></li>
     <li><a href="/page/?id=About">About Us</a></li>
     <li><a href="/page/?id=Clients">Clients</a></li>
     <li><a href="/page/?id=Candidates">Candidates</a></li>
     <li><a href="/page/?id=Resources">Resources</a></li>
     <li><a href="/page/?id=Contact">Contact Us</a></li>
</ul>
