<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>IMR Medical</title>
        <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Styles/styles.css">
        <script src="http://images.jxt.net.au/mobile/Scripts/jquery-1.7.2.min.js"></script>
        <script src="http://images.jxt.net.au/mobile/Scripts/knockout-2.0.0.js"></script>
        <script src="http://images.jxt.net.au/mobile/Content/Javascripts/main/core-functions.js"></script>
        @RenderSection("Javascript", false)
								
									<link href="http://images.jxt.net.au/IMR-Medical/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://images.jxt.net.au/mobile/Content/Whitelabel/133/images/apple-touch-icon-114x114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://images.jxt.net.au/mobile/Content/Whitelabel/133/images/apple-touch-icon-72x72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" href="http://images.jxt.net.au/mobile/Content/Whitelabel/133/images/apple-touch-icon-57x57-precomposed.png" />
	<link rel="apple-touch-icon" href="http://images.jxt.net.au/mobile/Content/Whitelabel/133/images/apple-touch-icon.png" />
    </head>
	
    <body>
	
        <div class="page">
		
		<div id="wrapper">
		
            <div id="header">
                <div class="logo"><a href="/"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Images/imr-logo.png" width="295" height="64" alt="IMR Logo" /></a></div>
            </div>
			<!--End of header-->
			
			
			<div id="main-content-home">
            
                @RenderBody()
           
<div class="clear"></div>
			</div>
			<!--End of main-content-->
<div class="clear"></div>		
<div class="qlinks"><a href="/page/?id=australia" class="body-button-red">Australia</a>
<a href="/page/?id=newzealand" class="body-button-green">New-Zealand</a>
<div class="clear"></div>
<a href="/page/?id=faq" class="body-button-red">FAQ</a>
<a href="/Job/Viewall" class="body-button-green">View All Jobs</a>
<div class="clear"></div>
<a href="http://imrmedical.com/?mob=1" class="body-button-red">View Full Site</a>
<a href="/page/?id=contact" class="body-button-green">Contact Us</a></div>
			
<div id="footer">
<a href="https://www.facebook.com/imrmedical" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Images/facebook.png" alt="facebook" /></a>
<a href="http://www.twitter.com/IMR_Medical" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Images/twitter.png" alt="twitter" /></a>
<a href="http://www.linkedin.com/company/1934978?trk=tyah" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Images/linked-in.png" alt="Linked In" /></a>
<a href="https://plus.google.com/113371146881157175863/posts" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Images/google.png" alt="Google +" /></a>


<p>©International Medical Recruitment 2012<br />
  <a href="http://jxt.com.au" target="_blank">Powered by JXT</a></p>
</div>
<!--End of footer-->

        </div>
		<!--End of wrapper-->
		
		</div>
		<!--End of page-->
		
		
    </body>
</html>


