{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | Thronsberg</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body class="c-{{page}}">
  <div data-sticky-container>
    <div id="tracking-consent-dialog" class="stick" data-sticky data-margin-top="0" data-sticky-on="small">
      <strong>Tracking Consent</strong>
      <p>THRONSBERG uses cookies for better user experience. Read more within our <a
          href="/legal/privacy-policy">privacy
          policy</a>. By clicking on this you agree to the use of cookies.</p>
      <button type="button" onclick="TrackingConsentManager.updateUserConsent(true)" id="tracking-consent-dialog-accept"
        class="o-button-accept">I accept</button>
      <button type="button" onclick="TrackingConsentManager.updateUserConsent(false)"
        id="tracking-consent-dialog-reject" class="o-button-refuse">I refuse</button>
    </div>
  </div>
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  <div class="off-canvas position-right" id="offCanvasMenu" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <a href="/" class="o-mobile-logo">
      <img src="{{root}}assets/img/thronsberg-logo.svg" class="o-mobile-logo__img" title="" alt="" />
    </a>
    <nav class="o-mobile-nav">
      <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true" >
        <li>
          <a href="#">Item 1</a>
          <ul class="menu vertical nested">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
          </ul>
        </li>
        <li><a href="#">Item 2</a></li>
        <li class="is-active">
          <a href="#">Item 1</a>
          <ul class="menu vertical nested">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
          </ul>
        </li>
        <li><a href="#">Item 2</a></li>
      </ul>
    </nav>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    {{> site-header}}
    {{> page-intro}}
    <main class="c-main">
      {{> body}}
    </main>
    {{> site-footer}}
  </div>

  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>