@using JXTNext.Sitefinity.Widgets.Job.Mvc.Models
@model JobDetailsViewModel
@using System.Collections.Specialized;


@if (Model != null)
{
    
    <div class="job-offer-details apply-page">
        <h1><span>Apply for position </span> <span class="job-title">"@Model.JobDetails.Title"</span></h1>
    </div>
  
}
