@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

<div id="@Model.Heading" class="img-absolute image-pos-left bg-image @Model.CssClass" style="background-image: url('@Model.SelectedSizeUrl')"></div>