@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="col-12 col-md-12 col-lg-4 ml-lg-auto">
        <div class="job-item animated fadeInUp delay-05s">
            <h2>@Html.HtmlSanitize(Model.Heading)</h2>
            <p>@Html.HtmlSanitize(Model.Description)</p>
            <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-primary">@Model.ActionName</a>
        </div>
</div>
