@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers



<section class="hero-banner" data-parallax="scroll" data-image-src="@Model.SelectedSizeUrl">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-12 col-lg-7">
                <h1 class="animated fadeInUp">@Html.HtmlSanitize(Model.Heading)</h1>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ml-lg-auto">
                @Html.HtmlSanitize(Model.Description)
            </div>
        </div>
    </div>
</section>
