@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers


<section class="g-section why-work">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="content-two-colmun">
                    <h2>Model.Heading</h2>
                    <p>
                        @Html.HtmlSanitize(Model.Description)
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
