@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-controller="SimpleCtrl">
    <div class="form-group">
        <label>@Html.Resource("DisplayJobDetails")</label>
        <sf-list-selector sf-page-selector sf-selected-item-id="properties.JobDetailsPageId.PropertyValue" sf-select-button-text="@Html.Resource("SelectDetailsPage")"></sf-list-selector>
    </div>
</div>