@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
           <font style="color:red">
                This is Whitelabel 1 website Template HTML With Site ID @ViewBag.SiteId
            </font>
        </p>
    </div>
</section>
}

