<div class="news_side_search">

    <ul class="news_side_tabs">
        <li class="active"><a data-toggle="tab" href="#recent">Recent</a></li>
        <li><a data-toggle="tab" href="#popular">Popular</a></li>
        <li><a data-toggle="tab" href="#comments">Comments</a></li>
    </ul>

    <div class="tab-content">
        <div id="recent" class="tab-pane fade in active">
            <div class="sf_colsIn" data-sf-element="Recent" data-placeholder-label="Recent">

            </div>
        </div>
        <div id="popular" class="tab-pane fade">
            <div class="sf_colsIn" data-sf-element="Popular" data-placeholder-label="Popular">

            </div>
        </div>
        <div id="comments" class="tab-pane fade">
            <div class="sf_colsIn" data-sf-element="Comments" data-placeholder-label="Comments">

            </div>
        </div>
    </div>
</div>



