<div class="full_width three_colmun_section">
    <div class="container">
        <div class="row">
            <div class="sf_colsIn colmun col-xs-12 col-sm-4" data-sf-element="Column 1" data-placeholder-label="Column 1">
            </div>
            <div class="sf_colsIn colmun col-xs-12 col-sm-4" data-sf-element="Column 2" data-placeholder-label="Column 2">
            </div>
            <div class="sf_colsIn colmun col-xs-12 col-sm-4" data-sf-element="Column 3" data-placeholder-label="Column 3">
            </div>
        </div>
    </div>
</div>