@model dynamic

@if (Model != null)
{
    foreach (var jobItem in Model.SearchResults)
    {
        <div>
            <a href=@string.Format("{0}?jobId={1}",ViewData["JobDetailsPageUrl"], jobItem.JobID)>@jobItem.Title</a>
        </div>
        <div>
            <p>@jobItem.Description</p>
        </div>
    }
}