@model dynamic

@if (Model != null)
{
    foreach (var jobItem in Model.SearchResults)
    {
        <div>
            <a href="/jobdetails">@jobItem.Title</a>
        </div>
        <div>
            <p>@jobItem.Description</p>
        </div>
    }
}