
@if (ViewBag.ShowFilesUploadMessage != null)
{
    <div class="alert alert-success">@ViewBag.ShowFilesUploadMessage</div>
}

@using (Html.BeginForm("ApplyJob", "JobApplication", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="section-header">
            <h3>Upload your files to Apply</h3>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Resume</label>
                <input type="file" name="Resume" />
            </div>

            <div class="form-group col-md-6">
                <label>Cover Letter</label>
                <input type="file" name="CoverLetter" />
            </div>
            
        </div>  
        <div class="form-group button-wrapper">
            <input type="submit" value="Apply" class="btn" />
        </div>
    </div>
}
