<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<Sites>
		<add SiteName="Bayside Group" SiteId="cdf08266-9f1f-474a-bfc2-9dfde4937e87">
			<ApplicationSettings AccountId="46517452" AccountName="All Web Site Data" ClientId="206933582556-a2prl9mbr0orsclan9o95mft395urs62.apps.googleusercontent.com" ProfileId="80170979" TrackedDomain="www.baysidegroup.com.au" WebProperty="UA-46517452-1" />
		</add>
	</Sites>
	<ClientCredentials>
		<add AccessToken="[sf-scrt-rslvr=Encrypt]sycEWF+rYskRgOtadb2FLKP5GozPEJ6pJK98i3WsL83WEwxIElpnhRX2CHv1Ew1lmiyMznvH1wr+vyUpRlCMqOwKVdTNlhTegulkRxHsQ1P48scCUAvho/426BnftxnAsovlyo2KU9+nkZp14eb69TFLQN9eFSzJGir+jE3D6OZF67CR8WjvJm7RREk/3JzI4ccsaT7nYGsH0wcdeiuLBTdzVH/MfDpLjj56DagpaUe/wkFbYfpyK6lzHHnDrZFuBClyNr+VhQQ70QCLQMBqDwG3Bfw2+kxBVYdcE87uk9PDYDr1jggDQzmNQnL89MRoY69UErfGppeS/Q0OMWF5O/aclMYR0uJTUURxkgx6VtACAQAA" TokenType="Bearer" ClientSecret="[sf-scrt-rslvr=Encrypt]epkpyYBYBy31AhWpA3GssgbGtmcZ5wrayrbFnpJwwkQfkn/ie7KkmZiVI8WxNqCVVzOzFEY1bbXwmaJZBNQZRTAAAAA=" ExpiresInSeconds="3600" ExpiresOn="2019/07/17" RefreshToken="[sf-scrt-rslvr=Encrypt]Q0Jn4BhWCPgEJO03F1NOgbuLb2T2+L0dsc5yfiE28dBpAQkSw0AAxZJ78clGggPrjoUB/ArUCSwG/5qGz5WaCJ+rJ2AmbdQVDLWHwL/uW6XXVkal4o+F6/FKi0EnyziDz7vRAiN11BpaAAAA" RetrievedOn="2019/07/17" ClientId="206933582556-a2prl9mbr0orsclan9o95mft395urs62.apps.googleusercontent.com" />
	</ClientCredentials>
</analyticsConfig>