<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<Sites>
		<add SiteName="Hudson - Australia" SiteId="cdf08266-9f1f-474a-bfc2-9dfde4937e87">
			<ApplicationSettings AccountId="2176719" AccountName="au.hudson.com [Reporting]" ClientId="208253926393-2k0j3tk9f49urkqlck09gt9eejlmqcei.apps.googleusercontent.com" ProfileId="4896927" TrackedDomain="www.au.hudson.com" WebProperty="UA-2176719-15" />
		</add>
		<add SiteName="Hudson - New Zealand" SiteId="4bb0bf78-abfc-47db-982e-ebd81d0ce10b">
			<ApplicationSettings AccountId="2176719" AccountName="nz.hudson.com [Reporting]" ClientId="208253926393-2k0j3tk9f49urkqlck09gt9eejlmqcei.apps.googleusercontent.com" ProfileId="4896977" TrackedDomain="www.nz.hudson.com" WebProperty="UA-2176719-17" />
		</add>
	</Sites>
	<ClientCredentials>
		<add AccessToken="[sf-scrt-rslvr=Encrypt]DAkb3sDyY9EM4EI1eEgdMXkrWmMORJg6O1d+LpOgGNs1Z2tHKSO4PA/Wq5aN6w0XrUj2XFxM9OnRVFncstzIgXT5lE4KNGQQuUAExTaha19ZXpsTe1Um7Z02fgsyVIC2H0vD/mRQzj33krZ4+VLPH7f7plH6cWEUr3mTjeIHQkqH8/MnPo62u3FgpFBYjlnOEbif+UIJ4yXXqy1ic717jefjDT+IoK74wsDuBVoTzseUbs/6Z/YovhPpZpcUQwOdf0rvgwvUF84pW1DaPNJ+vtwA5kV+e2YTC5clr/wshfWCoKRmBr4uQm+Tq2nlxhreLJSBL24cy6rjWsD8abNSMDLOaMTFK8+lVU+cXh0cziYCAQAA" TokenType="Bearer" ClientSecret="[sf-scrt-rslvr=Encrypt]eJDCmLAhNetFjHlAnZXlYnj7u1cdyc1XscZNhm1LJtpqZGZXMPonwXLjZSb/4FTGyE2lgknrZNGEOnu2ZFVAHDAAAAA=" ExpiresInSeconds="3600" ExpiresOn="2019/02/11" RefreshToken="[sf-scrt-rslvr=Encrypt]bJJqA3rnjJ+KV9w+XUli0VG7imRf4yY/pEzPbMfeGRMmlwmvNR2axPGuXjxvZoAJvmXHlveZW6JfgYjcp4gl5c8hydNL2hdkTO1vSsqYCh5qzv7tLRUzgiakM2HYMu1vK44wJiP6X29aAAAA" RetrievedOn="2019/03/21" ClientId="208253926393-2k0j3tk9f49urkqlck09gt9eejlmqcei.apps.googleusercontent.com" />
	</ClientCredentials>
</analyticsConfig>