<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" authenticationProtocol="SimpleWebToken">
	<securityTokenServiceSettings>
		<authenticationProviders>
			<add appId="1907667829529561" appSecret="02aea5221cef847b60637f3177dc3890" enabled="True" name="Facebook" config:flags="1" />
			<add appId="609545036396-91fmp0udhqdu1hq3j1plarcpe4ssdfht.apps.googleusercontent.com" appSecret="KCsQfNwOPuXzh8eoE16lwkxQ" enabled="True" name="Google" config:flags="1" />
			<add appId="86f0uekon7wyxg" appSecret="CKqu1BKPG4d0XeHH" enabled="True" name="LinkedIn" config:flags="1" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>