<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<CommentableTypes>
		<commentableType AllowSubscription="True" ItemType="Telerik.Sitefinity.Events.Model.Event" config:flags="1" />
	</CommentableTypes>
</commentsModuleConfig>