<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<DefaultSettings RequiresApproval="True" />
	<CommentableTypes>
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.News.Model.NewsItem" config:flags="1" />
		<commentableType RequiresApproval="True" ItemType="Telerik.Sitefinity.Blogs.Model.BlogPost" config:flags="1" />
	</CommentableTypes>
</commentsModuleConfig>