<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7228.0">
	<DefaultSettings AllowComments="False" />
	<CommentableTypes>
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.News.Model.NewsItem" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Blogs.Model.BlogPost" config:flags="1" />
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Events.Model.Event" config:flags="1" />
	</CommentableTypes>
</commentsModuleConfig>