<?xml version="1.0" encoding="utf-8"?>
<customSiteSettingsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<uiCustomSiteSettings googleAPIKey="AIzaSyC_2kBF3MQ5jlN0wjBG8OKeQ77q_zYi9Vs" googleClientId="609545036396-91fmp0udhqdu1hq3j1plarcpe4ssdfht.apps.googleusercontent.com" googleClientSecret="KCsQfNwOPuXzh8eoE16lwkxQ" googleClientAPIKey="AIzaSyALAjtE3mxIR45VP3RggevbAsshUeB5YxU" dropboxAppSecret="us2758dyix2dlzz" dropboxClientAPIKey="69pj0i9ew2rj0bg" seekClientId="JXT3PU" seekClientSecret="Seek1234" seekClientAdvertiserId="4566650" indeedClientAPIToken="3dbb9a7125adc11ca2377ed45413af47bd6fcabda7778164f0c0def572d16e79" indeedClientSecret="zcF9U38bzt7Znz67ZAlSybfWzmhOEMyKtPCHda56XfEL3b1uGmn4XeYF5V3oGdqO" instagramClientIdToken="50ecc54eb6b64b71847bd2f988788d21" instagramClientSecret="b7cbc768d0e94d4fa89acd40ccfcdd38" instagramAccessToken="4290085952.50ecc54.b9b57994beba4128b469a4714302033c" instagramExpiration="10" instagramMaxItems="5" />
</customSiteSettingsConfig>