<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" initialized="True">
	<connectionStrings>
		<!--<add connectionString="data source=10.0.120.88;UID=sa;PWD=nameofthegame;initial catalog=JXTNext_Hudson" name="Sitefinity" />-->
  <add connectionString="data source=192.168.0.249,2433;UID=jxtnextusr;PWD=ids@12345;initial catalog=JXTNext_Bayside" name="Sitefinity" />
    <!--<add connectionString="data source=192.168.0.249,2433;UID=jxtnextusr;PWD=ids@12345;initial catalog=JXTNext_BaysideNew" name="Sitefinity" />-->
    <!--<add connectionString="data source=192.168.0.249,2433;UID=jxtnextusr;PWD=ids@12345;initial catalog=JXTNext_Hudson" name="Sitefinity" />-->
  </connectionStrings>
</dataConfig>