<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=10.0.120.201;UID=sa;PWD=nameofthegame;initial catalog=JXTNext_Sitefinity" name="Sitefinity" />
	</connectionStrings>
</dataConfig>