<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" initialized="True">
	<connectionStrings>
		
		
		
		<!-- <add connectionString="data source=10.0.120.200;UID=sa;PWD=nameofthegame;initial catalog=JXTNext_Sitefinity" name="Sitefinity" /> -->
	
	<add connectionString="data source=.;UID=sa2;PWD=admin@123;initial catalog=JXTNext_Sitefinity" name="Sitefinity" />
	
	</connectionStrings>
</dataConfig>