<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" connected="True" applicationName="Hudson_AU" username="+NkQbZeCjUKdLWDsXKh7aScn2XKOwh32PlNXo29FM7G0Z3VhqcDgAB4AAAA=" password="TvPRl7h3/1z0Fxgk4l/fWLeLRCR8QhhMk1ZuqAgDMU0WAAAA">
	<siteToApiKeyMappings>
		<add dataCenterApiKey="2d0143e7-4896-7462-2ab3-b4cfdffa3518" siteName="au" />
	</siteToApiKeyMappings>
</digitalExperienceCloudConnectorConfig>