<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" connected="True" applicationName="Hudson_AU" username="a6oFuRZS88267aIGWwSd4ZU/WSOLaN7t02cqenwG6buGOPhNEY1UwB4AAAA=" password="U93ojAOZiHMUpmqEGTCMNp9EUuITyhTqE/N7pB5ASssUAAAA">
	<siteToApiKeyMappings>
		<add dataCenterApiKey="2d0143e7-4896-7462-2ab3-b4cfdffa3518" siteName="au" />
		<add dataCenterApiKey="2d0143e7-4896-7462-2ab3-b4cfdffa3518" siteName="Hudson - Australia" />
	</siteToApiKeyMappings>
</digitalExperienceCloudConnectorConfig>