<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7128.0">
	<blobStorage>
		<providers>
			<add title="Amazon S3 Blob Storage Provider" accessKeyId="AKIAJ5QAJY2J6WQN4D2Q" secretKey="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" bucketName="sitefinity-assets-syd-dev-private" regionEndpoint="USEast1" useIamInstanceRole="false" keyPrefix="Sitefinity/" type="JXT.Sitefinity.Amazon.BlobStorage.AmazonBlobStorageProvider, JXT.Sitefinity.Amazon" name="Amazon-S3-Private" />
		</providers>
	</blobStorage>
	<providers>
		<add title="S3 Bucket (Private)" description="Any assets that are not accessible from the WWW" applicationName="private-amazon-s3" urlName="Hudson" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="private-amazon-s3-provider" />
	</providers>
</librariesConfig>