<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<images allowedExensionsSettings=".gif, .jpg, .jpeg, .png, .bmp, .svg">
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 350x350" MaxWidth="350" MaxHeight="350" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" name="thumb350" />
				<add title="thumbCrop400" Width="400" Height="400" ScaleUp="False" Quality="High" method="CropCropArguments" name="thumbcrop4" />
				<add title="thumbArticleCrop360x257" Width="360" Height="257" ScaleUp="False" Quality="High" method="CropCropArguments" name="thumbartic" />
				<add title="Thumbnail: 555x370 px" MaxWidth="555" MaxHeight="370" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" name="thumb555" />
				<add title="Thumbnail 470x260" Width="470" Height="260" ScaleUp="False" Quality="High" method="CropCropArguments" name="thumb470" />
			</thumbnails>
		</thumbnails>
	</images>
	<blobStorage>
		<providers>
			<add title="Amazon S3 Blob Storage Provider" accessKeyId="AKIAJ5QAJY2J6WQN4D2Q" secretKey="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" bucketName="sitefinity-assets-syd-dev-private" regionEndpoint="USEast1" type="Telerik.Sitefinity.Amazon.BlobStorage.AmazonBlobStorageProvider, Telerik.Sitefinity.Amazon" name="Amazon-S3" />
		</providers>
	</blobStorage>
	<providers>
		<add title="S3 Bucket (Private)" description="Any assets that are not accessible from the WWW" applicationName="private-amazon-s3" urlName="Hudson" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="private-amazon-s3-provider" />
	</providers>
</librariesConfig>