<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" viewName="DocumentsBackendEdit" config:flags="1">
	<sections>
		<sections name="AdvancedSection" config:flags="1">
			<fields>
				<field fieldName="MediaFileUrlName" config:flags="1">
					<validator regularExpression="([--:\w?@%&amp;+~#=]*\.[a-z]{2,4}\/{0,2})((?:[?&amp;](?:\w+)=(?:\w+))+|[--:\w?@%&amp;+~#=]+)?" />
				</field>
			</fields>
		</sections>
	</sections>
</view>