<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<images allowedExensionsSettings=".gif, .jpg, .jpeg, .png, .bmp, .svg">
		<thumbnails>
			<thumbnails>
				<add title="Profile-Grid 348 px" Width="348" Height="348" ScaleUp="True" Quality="High" method="CropCropArguments" name="profile-gr" />
				<add title="Profile Detail 554x958 px" MaxWidth="554" MaxHeight="958" ScaleUp="True" Quality="High" method="ResizeFitToAreaArguments" name="pers-det" />
				<add title="Article Grid 782x432 px" Width="782" Height="432" ScaleUp="True" Quality="High" method="CropCropArguments" name="art-grid" />
			</thumbnails>
		</thumbnails>
	</images>
	<blobStorage>
		<providers>
			<add title="Amazon S3 Blob Storage Provider" accessKeyId="AKIAJ5QAJY2J6WQN4D2Q" secretKey="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" bucketName="sitefinity-assets-syd-dev-private" regionEndpoint="USEast1" type="Telerik.Sitefinity.Amazon.BlobStorage.AmazonBlobStorageProvider, Telerik.Sitefinity.Amazon" name="Amazon-S3-Private" />
		</providers>
	</blobStorage>
	<providers>
		<add title="S3 Bucket (Private)" description="Any assets that are not accessible from the WWW" applicationName="private-amazon-s3" urlName="Hudson" type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" name="private-amazon-s3-provider" />
	</providers>
</librariesConfig>