<?xml version="1.0" encoding="utf-8"?>
<locationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<countries>
		<add isoCode="AU" config:flags="1">
			<states>
				<add name="Australian Capital Territory" latitude="-35.343784" longitude="149.082977" abbreviation="ACT" />
				<add name="New South Wales" latitude="-31.840233" longitude="145.612793" abbreviation="NSW" />
				<add name="Queensland" latitude="-20.917574" longitude="142.702789" abbreviation="QLD" />
				<add name="Victoria" latitude="-36.686043" longitude="143.580322" abbreviation="VIC" />
				<add name="Tasmania" latitude="-41.640079" longitude="146.315918" abbreviation="TAS" />
				<add name="South Australia" latitude="-30.000233" longitude="136.209152" abbreviation="SA" />
				<add name="Western Australia" latitude="-31.953512" longitude="115.857048" abbreviation="WA" />
			</states>
		</add>
	</countries>
</locationsConfig>