<?xml version="1.0" encoding="utf-8"?>
<locationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<countries>
		<add isoCode="AU" config:flags="1">
			<states>
				<add name="Queensland" abbreviation="QLD" />
				<add name="New South Wales" abbreviation="NSW" />
			</states>
		</add>
	</countries>
</locationsConfig>