<?xml version="1.0" encoding="utf-8"?>
<newslettersConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" smtpHost="email-smtp.us-east-1.amazonaws.com" smtpPort="587" smtpUsername="AKIAIZVYHY4KRLWQARKQ" smtpPassword="F8fED6FC8gl96R7opUx4E5jXr1JacovD0P/5NrBbSwQpvVToN9XiCjCcxsQ8T6ZnGMVDCYFVc4D0+WqepQL8gq4wJZ5EYee/GMaMnrqp4jtvHs0JLzMkRHL1jnV99bIuAlmOw+NSeBRYAAAA" />