<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<profiles>
		<add defaultSenderEmailAddress="info@hudson.com" host="email-smtp.us-east-1.amazonaws.com" port="587" useAuthentication="True" username="AKIAIJMR5WYXOKUSQWRQ" password="AnLIK+RGTvZeoT65GIjvnVjtE65M3tXiAcvMvCHxfAg/" useSSL="True" profileName="Default" config:flags="1" />
	</profiles>
</notificationsConfig>