<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0" multilingual="True">
	<cultures>
		<add culture="zh-CN" uiCulture="zh-CN" key="chinese (simplified, china)-zh-cn" />
	</cultures>
	<backendCultures>
		<add culture="zh-CHS" uiCulture="zh-CHS" key="chinese (simplified) legacy-zh-chs" />
	</backendCultures>
	<urlLocalizationStrategySettings>
		<add urlLocalizationStrategyName="SubFolderUrlLocalizationStrategy" config:flags="1">
			<urlLocalizationStrategySettings>
				<add setting="zh" cultureKey="chinese (simplified, china)-zh-cn" />
			</urlLocalizationStrategySettings>
		</add>
	</urlLocalizationStrategySettings>
</resourcesConfig>