<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<applicationModules>
		<add startupType="Disabled" name="News" config:flags="1" />
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add startupType="Disabled" name="Events" config:flags="1" />
		<add startupType="Disabled" name="Newsletters" config:flags="1" />
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="DataIntelligenceConnector" config:flags="1" />
		<add startupType="Disabled" name="EloquaConnector" config:flags="1" />
		<add startupType="OnApplicationStart" name="Warmup" config:flags="1" />
		<add startupType="Disabled" name="ABTesting" config:flags="1" />
		<add startupType="Disabled" name="WebSecurity" config:flags="1" />
	</applicationModules>
	<smtpSettings host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAIJMR5WYXOKUSQWRQ" password="[sf-scrt-rslvr=Encrypt]jAR6z7T2LATUJQ17e+qgyAfnj55nJGv5BottM/2i2PqrrYRkMdPKm5EniuS0bYET5v7Dx1mxr4A3Jv4M7rVMIhvTEQLQFHQmgptUKufcYcgI9d/RK0VSaoQceqX2Z5ze9MpfoMQcUmBYAAAA" enableSSL="True" DefaultSenderEmailAddress="info@thronsberg.com" />
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:key="2" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1" />
	</typeImplementationsMapping>
	<outputCacheSettings>
		<profiles>
			<add location="Any" duration="86400" slidingExpiration="False" maxAge="15" proxyMaxAge="120" name="Standard Caching" config:flags="1" />
			<add location="Any" duration="86400" maxAge="30" proxyMaxAge="300" name="Long Caching" config:flags="1" />
		</profiles>
		<mediaProfiles>
			<add duration="86400" slidingExpiration="False" proxyMaxAge="2592000" name="Standard Caching" config:flags="1" />
			<add duration="86400" proxyMaxAge="7776000" name="Long Caching" config:flags="1" />
		</mediaProfiles>
	</outputCacheSettings>
	<geoLocationSettings googleMapApiV3Key="slkhdklndnlkdndk" />
	<trackingConsentConfig consentIsRequired="True" consentDialog="~/App_Data/Sitefinity/TrackingConsent/consentDialog.html">
		<domainOverrides>
			<clear />
		</domainOverrides>
	</trackingConsentConfig>
</systemConfig>