<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<applicationModules>
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="ResponsiveDesign" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="Thunder" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="EloquaConnector" config:flags="1" />
		<add startupType="Disabled" name="Translations" config:flags="1" />
		<add startupType="OnApplicationStart" name="Warmup" config:flags="1" />
	</applicationModules>
	<outputCacheSettings defaultProfile="Long Caching" defaultClientProfile="Long Caching" defaultDocumentProfile="Long Caching" defaultVideoProfile="Long Caching">
		<profiles>
			<add location="ServerAndClient" duration="86400" maxAge="60" name="Long Caching" config:flags="1" />
		</profiles>
		<mediaProfiles>
			<add duration="86400" proxyMaxAge="86400" name="Long Caching" config:flags="1" />
		</mediaProfiles>
	</outputCacheSettings>
</systemConfig>