<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<applicationModules>
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="ResponsiveDesign" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="EloquaConnector" config:flags="1" />
		<add startupType="Disabled" name="Translations" config:flags="1" />
		<add startupType="OnApplicationStart" name="Warmup" config:flags="1" />
		<add startupType="Disabled" name="WebSecurity" config:flags="1" />
		<add title="Jobs" type="Jxt.Sitefinity.Jobs.JobsModule" startupType="OnApplicationStart" name="Jobs" />
	</applicationModules>
	<smtpSettings host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAIJMR5WYXOKUSQWRQ" password="[sf-scrt-rslvr=Encrypt]wdGOjJj9lRxY68xy7IiKFxzgUAH1UetODoNXETggC6oP0NDM8wpvDDHnSUjgqAW3eVeYE5t9jQL5khTzOpcfEV7zU1JVoh3774tb2wvoP9RzbV2y97a4WVjfbS1g9a2NyCuMzjd0j8dYAAAA" enableSSL="True" DefaultSenderEmailAddress="noreply@jxtnext.net" />
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:key="2" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1" />
	</typeImplementationsMapping>
	<outputCacheSettings enableOutputCache="False" enableClientCache="False" defaultProfile="Long Caching" defaultClientProfile="Long Caching" defaultDocumentProfile="Long Caching" defaultVideoProfile="Long Caching">
		<profiles>
			<add location="ServerAndClient" duration="86400" maxAge="60" name="Long Caching" config:flags="1" />
		</profiles>
		<mediaProfiles>
			<add duration="86400" proxyMaxAge="86400" name="Long Caching" config:flags="1" />
		</mediaProfiles>
	</outputCacheSettings>
</systemConfig>