<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Images" access="Anonymous" autogenerateTypes="True" urlName="images">
					<types>
						<remove clrType="Telerik.Sitefinity.Multisite.Model.Site" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Document" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Video" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.List" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.ListItem" />
						<remove clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Articles.Article" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.CompanyBoard.BoardMember" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Consultants.Consultant" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.StandardEmailTemplate.EmailTemplate" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Offices.Office" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.PressReleases.Pressrelease" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Testimonials.Testimonial" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.TrustedCustomers.TrustedCustomer" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<remove clrType="Telerik.Sitefinity.Model.Folder" />
						<remove clrType="Telerik.Sitefinity.Pages.Model.PageNode" />
						<add pageSize="60" clrType="Telerik.Sitefinity.Libraries.Model.Image" config:flags="1" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>