<h1>What We Do</h1>
<p>Since 2004 Aviation Labour Group has established itself as a leader in the recruitment of Aviation personnel in casual, contract and permanent placements across Australia, New Zealand and Asia.</p>
<p>Through our expert recruiters Aviation Labour Group can provide staffing solutions to all departments and required skill sets in the Aviation Industry.</p>
<p>Aviation Labour Group have developed recruitment procedures that are fully accredited to the ISO 9001:2008 Quality Management Systems standard, and with these recruitment procedures we are able not only to provide quality Aviation personnel but staffing solutions to other industries than can be closely connected to the Aviation industry.</p>
<p>Aviation Labour Group also provides recruitment solutions for the defense forces of Australia and New Zealand.</p>
<p>Our stringent recruitment and selection processes which includes, OH&amp;S, document and identity verification, and testing,means we only manage your vacancies with suitably skilled, qualified, and experienced personnel.</p>