<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JXTPortal.Database.Deployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="JXTPortal.Data.ConnectionString" connectionString="Data Source=JXT-WS01;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=sa;Password=nameofthegame" />
  </connectionStrings>
  <userSettings>
    <JXTPortal.Database.Deployment.Properties.Settings>
      <setting name="ScriptDirectory" serializeAs="String">
        <value>/script</value>
      </setting>
    </JXTPortal.Database.Deployment.Properties.Settings>
  </userSettings>
</configuration>