<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Sitefinity NuGet Server" value="http://nuget.sitefinity.com/nuget" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	<add key="JXTNextCMSLibrary" value="https://f.feedz.io/jxt-next/dev/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <JXTNextCMSLibrary>
        <add key="Username" value="JXTNextCMSLibrary" />
        <add key="ClearTextPassword" value="T-7UN5kG8gGKQl5yU4xEDXijvckgLYiWETwo" />
    </JXTNextCMSLibrary>    
	</packageSourceCredentials>
  <disabledPackageSources />
</configuration>