<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Sitefinity NuGet Server" value="http://nuget.sitefinity.com/nuget" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="JXTNextCMSLibraryProduction" value="https://f.feedz.io/jxt-next/prod/nuget/index.json" />
    <add key="JXTNextCMSLibraryDevelopment" value="https://f.feedz.io/jxt-next/dev/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <JXTNextCMSLibraryProduction>
        <add key="Username" value="JXTNextCMSLibraryProduction" />
        <add key="ClearTextPassword" value="T-SSvUGbIFqr9cEFNsMc9qNHxe2J9MoGiEKg" />
    </JXTNextCMSLibraryProduction> 
	<JXTNextCMSLibraryDevelopment>
        <add key="Username" value="JXTNextCMSLibraryDevelopment" />
        <add key="ClearTextPassword" value="T-SSvUGbIFqr9cEFNsMc9qNHxe2J9MoGiEKg" />
    </JXTNextCMSLibraryDevelopment>    	
	</packageSourceCredentials>
  <disabledPackageSources />
</configuration>