//Blog main page
.blog-metadata{
    padding: 2rem 0;
    .meta-data{
        font-size: 1.4rem;
        color: $baseColor;
        padding-left: 0;
        max-width: 100px;
        .jn_ico{
            color: $p1Color;
            font-size: 1.9rem;
            line-height: 1.6;
            overflow: visible;
            margin-right: 12px;
            &.icon-heart{
                font-size: 1.5rem;
                line-height: 2;
            }
        }
        [class*="data-"]{
            margin-bottom: 1.2rem;
        }
        
        a{
            text-decoration: none;
        }
        
    }
    .data-content{
        .avatar{
            width: 70px;
            font-size: 1.2rem;
            text-align: right;
            .img-holder{
                display: block;
                figure{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    float: right;
                }
                span{
                    clear: both;
                    display: block;
                    line-height: 1;
                }
            }
        }
        .sc-desc{
            p{
                margin-bottom: 10px;
            }
        }
    }
    .bio-pick{
        padding-top: 2rem;
        .bio-desc{
            small{
                color: lighten($fontColor, 40%);
                text-transform: uppercase;
            }
        }
    }
    @include bp-max(xs){
        padding: 0.5rem 0;
        .meta-data, .data-content{
            max-width: 100%;
            flex-basis: auto;
            padding: 0;
        }
    }
}

.list-view{
 
    .data-content{
        position: relative;
        padding-right: 90px;
        .avatar{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
    @include bp-max(md){
        .meta-data, .data-content{
            max-width: 100%;
            width: 100%;
            flex-basis: auto;
            padding: 0;
        }
        .data-content .avatar{
            position: static;
            float: right;
            margin-top: -2rem;
        }
        .tags{
            float: left;
            width: calc(100% - 100px);
        }
    }
}
.list-view, .grid-view{
    position: relative;
}
.grid-view{
    .h-section{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .article{
        width: 47%;
    }
    .meta-data, .data-content{
        max-width: 100%;
        width: 100%;
        flex-basis: auto;
        padding: 0;
    }
    .avatar{
        float: right;
        margin-top: -2rem;
    }
    .tags{
        float: left;
        width: calc(100% - 100px);
    }
    @include bp-max(md){
        .article{
            width: 100%;
        }
    }
}

.blog-wrapper{
    padding: 14rem 0 7rem;
    .list-head{
        padding-right: 100px;
        position: relative;
        
    }
    .article{
        margin-bottom: 7rem;
    }
    .sidebar{
        margin-top: 10rem;
    }

    @include bp-max(md){
        .list-head{
            padding-right: 0;
        }
        .article{
            margin-bottom: 4rem;
        }
    }
}

.layout-switch {
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 1;
    width: 85px;
    > span{
        margin-left: 10px;
        font-size: 2.4rem;
        line-height: 1.2;
        height: 28px;
        width: 28px;
        overflow: visible;
        cursor: pointer;
        &:hover, &:focus, &.active{
            color: $p1Color;
        }
    }
    @include bp-max(md){
        display: none;
    }
}

.article{
    figure{
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}
.tags{
    a{
        background-color: darken($bgColor,5%);
        border-radius: 3px;
        font-size: 1.4rem;
        padding: 2px 5px;
        margin-right:4px; 
        cursor: pointer;
        .jn_ico{
            font-size: 0.6rem;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            line-height: 1;
            position: relative;
            top: 0.3rem;
            padding: 9px;
            text-indent: 0;
            display: inline-block;
            &::after{
                position: static;
            }
        }
        &:hover, &:focus{
            background-color: darken($bgColor,10%);
        }
    }
}


//post scroller widget template with multiple item: 2 for now
.post-list{
    border-top: 2px solid $p2Color;
    padding-top: 7rem;
    margin-bottom: 5rem;
    .sc-item{
        margin-right: 30px;    
        @include bp-max(sm){
            margin-right: 0;
        }
    }
    h2{
        margin-bottom: 4rem;
    }
    .img-holder{
        border-radius: 10px;
        overflow: hidden;
        display: block;
        max-height: 195px;
    }
    .post-wrap{
        padding: 25px 30px;
        @include bp-max(sm){
            padding: 15px 10px;
        }
    }
    .post-date{
        font-size: 1.4rem;
        [class*="icon-"]{
            color: $p1Color;
            font-size: 1.8rem;
            margin-right: 12px;
            &.icon-calendar{
                top: 5px;
            }
        }
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    
    //control overriding for this widget
    .control-rt{
        .owl-nav {
            button{
                width: 4rem;
                height: 4rem;
                font-size: 2.2rem;
            }
            .owl-prev{
                top: -7rem;
                right: 6.5rem;
            }
            .owl-next{
                top: -12rem;
            }

            @include bp-max(sm){
                .owl-prev{
                    right: 2.5rem;
                }
                .owl-next{
                    right: 1rem;
                }
            }
        }
        
      
    }
}

//banner scroller widget template
.jn_scroller-full{

}

//single post page
.post-single{
    h1{
        font-size: 3.2rem;
        margin-bottom: 1.5rem;
    }
    figure{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .blog-metadata{
        .meta-data{
            max-width: 100%;
        }   
        .soc_share{
            margin-top: 10px;
            a{
                font-size: 1.5rem;
            }
        }
    }
    .post-content{
        margin-bottom: 5rem;
    }

    //changing the structure display
    &.row{
        display: block;
        [class*="col-"]{
            width: 100%;
            max-width: 100%;
        }
        @include bp-min(lg){
            .col-md-3{
                float: left;
                width: 25%;
            }
            .col-md-9{
                float: right;
                width: 75%;
            }
        }
    }
    .bio-pick{
        @include bp-max(md){
            margin-bottom: 0;
        }
        figure{
            margin-bottom: 0;
        }
    }
}
//comment block
.comment-wrapper{
    background: $bgColor;
    padding: 2rem;
    margin-bottom: 7rem;
    h3 {
        border-bottom: 1px solid lighten($baseColor, 70%);
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
        ~ a{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 15px;
            border-left: 1px solid lighten($baseColor, 70%);
            line-height: 1;
            display: block;
            @include bp-min(sm){
                display: inline;
                &:first-of-type{
                    padding-left: 0;
                    border-left: none;
                }
            }

        }
    }
    img {
        width: 40px;
        height: auto;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1;
        @include bp-min(sm){
            width: 50px;
        }
    }
    textarea{
        border-bottom: 2px solid lighten($baseColor, 70%);
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        box-shadow: 0 0 1px rgba(0,0,0,0.15);
        &:focus{
            box-shadow: 0 0 1px rgba(0,0,0,0.25);
            border-bottom-color: lighten($baseColor, 55%);
        }
        @include bp-min(sm){
            width: calc(100% - 70px);
            margin-top: 0;
        }
    }
    
}

[data-sf-role="comments-new-form"] {
    background: $brightColor;
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px;
    @include bp-min(sm){
        padding: 25px;
    }
}
[data-sf-role="error-message"] {
    font-size: 1.4rem;
    color: $p1Color;
    margin-bottom: 2rem;
    text-align: right;
}
button[data-sf-role="comments-new-submit-button"]{
    padding: 15px 25px;
    @include bp-min(sm){
        margin-left: 70px;
    }
}
[data-sf-role="comments-container"] {
    > div {
        padding: 30px 20px;
        border-bottom: 1px solid lighten($baseColor, 70%);
        >p {
            font-size: 1.6rem;
            margin-bottom: 10px;
            @include bp-min(sm){
                padding-left: 70px;
            }
        }
    }
    
    [data-sf-role="comment-name"] {
        color: #111;
        font: 500 1.8rem/1 $boldFont;
        text-transform: capitalize;
        display: block;
    }
    [data-sf-role="comment-date"] {
        font-size: 1.2rem;
        color: lighten($fontColor, 40%);;
    }
}