// Homepage specific styles

// Multicard widgets
//Intro block: first block after banner
.intro-block{
    background-color: #F5F4F0;
    padding-top: 15rem;
}

.multicards-wrapper{
    position: relative;
    .container, .multi-card-1{
        position: relative;
        z-index: 111;
    }
    &::before, &::after{
        content: '';
        position: absolute;
        width: 300px;
        height: 100%;
        z-index: 10;
        top: 0;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    &::before{
        background-image:url("../images/links-graphics_left.png");
        background-position: left 35%;
        left: 0;
    }
    &::after{
        background-image:url("../images/links-graphics_right.png");
        background-position: right 35%;
        right: 0;
    } 
    @include bp-max(sm){
        &::before, &::after{
            width: 200px;
        }
    }  
}


//newsletter form
.newsletter-form{
    max-width: 850px;
}


.side-triangle{
    position: relative;
    overflow: hidden;
    &::before, &::after{
        content: '';
        position: absolute;
        bottom: -11.5rem;
        width: 25rem;
        height: 53rem;
        background: #f4f9fe;
        z-index: -1;
    }
    &::before{
        left: -10rem;
        @include rotate(-33deg);
    }
    &::after{
        right: -10rem;
        @include rotate(33deg);
    }
    @include bp-max(xl){
        &::before{
            left: -18rem;
        }
        &::after{
            right: -18rem;
        }
    }
    @include bp-max(lg){
        &::before{
            left: -22rem;
        }
        &::after{
            right: -22rem;
        }
    }
    &.triangle-up{    
        &::before, &::after{
            bottom: auto;
            top: -14rem;
        }
        &::before{
            @include rotate(33deg);
        }
        &::after{
            @include rotate(-33deg);
        }
    }
}

