// service individual pages
.services-template-wrap{
    .sidebar{
        margin-right: 0;
        max-width: 100%;
    }
    .content-holder{
        width: 100%;
    }
}
.bio-pick{
    overflow: hidden;
    margin-bottom: 5rem;
    a.full-wrap{
        display: block;
        clear: both;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    figure{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        
    }
    .bio-desc{
        overflow: hidden;
        padding-top: 2.6rem;
    }
    p{
        margin-bottom: 2px;
    }
    .highlight{
        color: $p1Color;
        font-size: 1.4rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}