.sfPageEditor {
  .cell {
    &.shrink, &.small-shrink, &.medium-shrink, &.large-shrink {
      max-width: 25%;
    }
  }
}

.sfPageEditor
{
	.rdTable
	{
		tbody, tfoot, thead {
    	border: inherit;
    	background-color: inherit;
		}
	}
}
.sfPageContainer .zeDockZoneEmpty
{
	display: block !important;
}
.RadDockZone
{
	.column, .columns, .cell
	{
		box-sizing: border-box;
	}
}