.page-not-found
{
  padding: 40px 0 150px;
  font-size: 18px;
  color: $color-g1;
  h2
  {
    font-size: 30px;
    font-family: $global-font-family-lato;
    font-weight: 400;
    margin-top: 20px;
  }
  img
  {
    display: inline-block;
  }

  .search, .sf-search-input-wrapper{
     width: 750px;
  }
  
  @media (max-width:991px) {
      padding-bottom: 80px;
  }
}

.search, .sf-search-input-wrapper{
  position: relative;
  width: 750px;
  margin:0 auto;
  max-width: 100%;
  input[type="search"]{
    width: 100%;
    box-shadow: none;
    background-color: $grey-bg;
    padding: 10px;
    border: 1px solid $border-color-grey;
    color: $color-g1;
    font-size: 14px;
    font-family: $global-font-family-lato;
    font-weight: 400;
    border-radius: 0;
    height: auto;
    &:focus{
      color: $color-p1;
      border-color: darken($border-color-grey, 20%);
    }
    &::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
      color: $color-g1;
    }
    &::-moz-placeholder{ /* Firefox 19+ */
      color: $color-g1;
    }
    &::-ms-input-placeholder{ /* IE 10+ */
      color: $color-g1;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { display: none; }
    &::-ms-clear {  display: none; width : 0; height: 0; }
    &::-ms-reveal {  display: none; width : 0; height: 0; }
  }

  input[type="submit"], .btn{
    position: absolute;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    font-size: 0px;
    // background-image: url(../images/search-img.png);
    // background-position: center;
    // background-repeat: no-repeat;
    height: 100%;
    width: 50px;
    color: $color-g1;
    &:after{
      font-family: 'FontAwesome-solid';
      font-weight: 900;
      content: "\f002";
      font-size: 1.1rem;
    }
    &:focus, &:active{
      background-color: transparent!important;
      border: none!important;
      outline: none;
      box-shadow: none!important;
      color: $color-p1!important;
    }
  }
}
