/* -----------------------------------
    2. Media(max-width:1199px)
----------------------------------- */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1199px) {

    .container {
        max-width: 970px;
    }

    h2 {
        font-size: 26px;
    }
    .partner_section{
        .consultant-lists.grid-view {
            padding: 0 40px;
        }
    }
    .main-menu { 
        .first-level {
    
            & > li {
                margin: 0 40px 0 0;
            }
        }

        .megamenu {
            .sales {
                padding: 20px;
            }
            .talk-sales {
                padding: 10px 20px 20px 20px;
                .phone {
                    font-size: 24px;
                }
                .btn {
                    padding: 9px 22px;
                }
            }
            .contact-menu {
                .socail {
                    a {
                        margin: 0 17px 5px 0;
                    }
                }
            }
        }
    }   

    .bottom-header {
        .icons {
            a {
                margin: 0 0 0 25px;
            }
        }
    }
    
    .core-feature-section{
        ul.nav.nav-tabs{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                width: 16%;
                a{
                    display: flex;
                    vertical-align: middle;
                    text-align: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    h3{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .banner-section {
        min-height: auto;
        padding: 130px 0 150px;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            padding-right: 15%;
        }
    }

    .about-section {
        padding: 50px 0 0 0;
        h2 {
            font-size: 26px;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            line-height: 26px;
            padding: 0 0 15px 0;
        }
    }

    .brand-section {
        .brands {
            padding: 30px 0 0 0;
            .item {
                width: 208px;
                height: 108px;
                padding: 15px;
            }
        }
    }

    .strategy-benefits-section {
        padding: 55px 0;
        h2 {
            margin-bottom: 70px;
        }
        .item {
            .sub {
                padding: 0 20px 20px 20px;
                .text{ 
                    h3 {
                        font-size: 15px;
                    }
                    p {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .digital-section {
        padding: 55px 0 0 0;
        .digital-area {
            padding: 50px 0 0 0;
        }

        .digital-info {
            .title-icon {
                h3 {
                    font-size: 15px;
                    width: calc(100% - 58px);
                }
            }
            p {
                font-size: 12px;
                line-height: 20px;
            }
        }

        .mobile-text {
            max-width: 95%;
            height: 555px;
            vertical-align: top;
            background-size: 100% auto;
            padding: 125px 35px 0 35px;
            h3 {
                font-size: 26px;
                line-height: 34px;
            }
        }
    }

    .our-blog-section {
        padding: 55px 0 65px 0;
        h2 {
            margin-bottom: 55px;
        }

        .blog-item {
            margin-bottom: 30px;
            .sub {
                min-height: 370px;
                .image {
                    height: 255px;
                }
                .text {
                    padding: 15px 15px 5px 15px;
                    .cat {
                        font-size: 16px;
                    }
                    .title {
                        margin: 8px 0;
                        font-size: 16px;
                    }
                    .desc {
                        font-size: 13px;
                        line-height: 20px;                        
                    }
                }
            }
        }
        .cntr-btn {
            margin: 40px 0 0 0;
        }
    }

    .meet-team-section {
        &.team-detail {
            padding: 60px 0;
            .team-list {
                .image {
                    height: 320px;
                }
                .text {
                    p {
                        padding-top: 0px;
                    }
                }
            }
        }

        .team-list.grid-view {
            padding: 0px;
        }
    }

    .testimonials-section {
        padding: 35px 0 50px 0;
        h2 {
            margin-bottom: 30px;
        }
        p {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .sent-message-section {
        padding: 50px 0;
        h2 {
            margin-bottom: 30px;
        }
    }

    .newsletter-section {
        padding: 50px 0 65px 0;
        p {
            margin-bottom: 30px;
        }
    }

    .search-bar {
        padding-bottom: 45px;
        .bg-srch {
            padding: 30px 15px;
        }
    }

    .meet-the-team {
        .owl-nav {
            display: none;
        }
        .owl-dots {
            display: block;
        }
    }

    .feature-boxes {
        .box {
            .sub {
                padding: 30px 15px 0 15px;
            }
        }
    }

    .footerTop {

        .f-left {
            padding-right: 25px;
            &:before {
                right: 15px;
            }
        }

        h3 {
            font-size: 18px;
        }
        .talk-sales {
            padding: 15px 15px 27px 15px;
            .btn {
                padding: 9px 25px;
            }
        }
        .connected {
            margin: 25px 0 0 0;
        }
    }

    .footerBottom {
        padding: 20px 0;
        .f-link {
            ul {
                li {
                    padding: 0 20px;
                }
            }
        }
    }
    .request-demo {
        .request-heading{
            h1{
                font-size: 26px;
            }
        }
    }

}

/* -----------------------------------
    3. Media(max-width:991px)
----------------------------------- */
@media (max-width: 991px) {

    .container {
        max-width: 750px;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }

    .top-header {
        padding: 10px 0;
        .btn {
            font-size: 14px;
            margin: 6px 0 0 0;
        }
    }
    .request-demo {
        .request-heading {
            max-width: 100%;
            text-align: center;
            h1{
                font-size: 30px;
            }
        }
    
    }
    .Theme-section{
        .theme-padding{
            padding-right: 15px;
        }
    }
    .pricing-box-section {
        .box-padding {
            width: 100%;
        }
    }
    .partner_section{
        .consultant-lists.grid-view {
            padding: 0 40px;
        }
    }
    
    .main-menu {
        margin: 8px 0 0 0;
        .first-level {
            & > li {
                margin: 0 22px 0 0;
                & > a {
                    font-size: 14px;
                    font-weight: 600;
                    &:after {
                        width: calc(100% + 20px);
                        height: 25px;
                    }
                }
            }
        }
        .megamenu {
            .cat-menu {
                padding: 13px 15px 33px 15px;
                ul {
                    li {
                        padding: 12px 0;
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
            .posts {
                padding: 0 15px;
                max-width: 37.5%;
                flex: 0 0 37.5%;
                &:nth-of-type(2):after {
                    height: calc(100% - 12px);
                }
            }
            p {
                font-size: 14px;
            }
            .recent-post {
                .item {
                    padding: 15px 0;
                    .img {
                        width: 80px;
                    }
                    .text {
                        width: calc(100% - 90px);
                        h4 {
                            font-size: 14px;
                            line-height: 20px;
                            margin: -4px 0 0 0;
                        }
                    }
                }
            }
            .sales {
                padding: 15px;
            }
            .talk-sales {
                padding: 10px 15px 15px 15px;
                .phone {
                    font-size: 20px;
                }
                .btn {
                    font-size: 14px;
                    padding: 8px 16px;
                }
            }
            .contact-menu {
                padding: 0 15px;
                .socail {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .bottom-header {
        padding: 12px 0;
        .icons {
            a {
                font-size: 18px;
                margin: 0 0 0 20px;
            }
        }
    }

    .banner-section {
        padding: 100px 0 130px;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 18px;
            line-height: 28px;
            padding-right: 0px;
        }
    }

    .about-section {
        padding: 35px 0 0 0;
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            padding: 0 0 5px 0;
        }
        img {
            margin: 25px auto 0;
        }
    }

    .brand-section {
        padding: 35px 0 50px 0;
        .brands {
            padding: 20px 0 0 0;
            .item {
                width: 165px;
                height: 85px;
            }
        }
    }

    .strategy-benefits-section {
        padding: 35px 0;
        h2 {
            margin-bottom: 45px;
        }
        .item {
            .sub {
                .text {
                    p {
                        min-height: 80px;
                    }
                }
            }
        }
    }

    .digital-section {
        padding: 35px 0 0 0;
        .digital-area {
            padding: 25px 0 0 0;
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;   
            flex-wrap: wrap;
        }
        .mb-layout {
            order: 3;
        }
        .digit-text {
            padding: 0px;
        }
        .digital-info {
            width: 33.33%;
            padding: 0 5px;
            text-align: left;
            .title-icon {
                h3 {
                    float: right;
                }
                .icon {
                    float: left;
                }
            }
        }
        .mobile-text {
            max-width: 457px;
            height: 575px;
        }
    }

    .work-section {
        .btn {
            font-size: 24px;
            min-width: auto;
            padding: 16px 35px;
        }
        .sub {
            height: 300px;
        }
    }

    .our-blog-section {
        padding: 35px 0 50px 0;
        h2 {
            margin-bottom: 35px;
        }
        .cntr-btn {
            margin: 20px 0 0 0;
        }
        .blog-item {
            .sub {
                min-height: 330px;
                .image {
                    height: 210px;
                }
            }
        }
    }

    .newsletter-section {
        padding: 35px 0 50px 0;
        .form-group {
            min-width: 335px;
        }
    }

    .tracking-solution {
        padding: 80px 0px;
    }

    .meet-team-section {
        &.team-detail {
            padding: 40px 0;
            .team-list {
                .image {
                    height: 246px;
                }
                .text {
                    h4 {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .sent-message-section {
        padding: 35px 0;
    }

    .footerTop {
        .jxt-intro {
            margin-bottom: 8px;
        }
        .f-left {
            padding-right: 15px;
            &:before {
                display: none;
            }
        }
        .f-right {
            padding-bottom: 30px;
        }
        .connected {
            margin: 0 0 30px 0;
            width: 36%;
            float: right;
            h3 {
                margin-top: 0px;
            }
        }
        .talk-sales {
            width: 60%;
            h4 {
                font-size: 18px;
            }
            .phone {
                font-size: 28px;
            }
        }
    }
    
    .footerBottom {
        padding: 15px 0;
        .copyright {
            font-size: 14px;
            margin: 5px 8px 0 0;
        }
        .f-link {
            ul {
                li {
                    padding: 0 10px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        .country {
            .dropdown-toggle {
                font-size: 14px;
            }
        }
    }

    .company-section {
        .title {
            font-size: 22px;
        }
        p {
            font-size: 16px;
            line-height: 26px;
        }
    }

    .tabs-menu {
        margin: 0 0 25px;
        li {
            a {
                min-width: auto;
            }
        }
    }

    .meet-team-section {
        padding: 22px 0;
        h2 {
            margin-bottom: 25px;
        }
        
        .team-list {
            .list {
                margin: 15px 0;
            }
            .text {
                width: calc(100% - 155px);
            }
        }
        .pagination {
            margin: 20px 0;
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .search-bar {
        padding-bottom: 30px;
        .bg-srch {
            padding: 20px 15px;
        }
        .form-group {
            margin: 0px;
        }
    }

    .package-options {
        padding: 45px 0 80px 0;
        .build-pack {
            .recruit-title {
                font-size: 24px;
                span {
                    font-size: 40px;
                }
            }
            .text {
                font-size: 13px;
                padding: 11px 5px;
            }
            .image {
                .icon {
                    width: 100px;
                    height: 100px;
                    img {
                        max-height: 48%;
                    }
                }
            }
            .item-pack {
                td {
                    padding: 10px;
                    font-size: 13px;
                    i {
                        font-size: 15px;
                    }
                }
                .btn {
                    font-size: 12px;
                    padding: 7px 12px;
                }
            }
        }
    }

    .feature-boxes {
        padding: 40px 0 60px 0;
        h2 {
            margin-bottom: 30px;
        }
        .box {
            .sub {
                p {
                    min-height: 108px;
                }
            }
        }
    }

    .meet-the-team {
        padding: 35px 0 48px 0;
        h2 {
            margin-bottom: 25px;
        }
    }

    .overlay-banner {
        padding: 35px 0 40px;
        h2 {
            margin-bottom: 25px;
        }
        p {font-size: 16px; padding: 0px; }
    }

    .timeline-sec {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contact-section {
        padding: 50px 0;
        h3 {
            font-size: 24px;
            margin: 0 0 15px 0;
        }
        input, .sf-fieldWrp input {
            height: 40px;
        }
        textarea { 
            min-height: 155px;
        }
    }

    .accordion-section {
        h3 {
            margin-bottom: 15px;
        }
    }

    h3 {
        font-size: 22px;
    }
}

/* -----------------------------------
    4. Media(max-width:767px)
----------------------------------- */
@media (max-width: 767px) {
    .request-demo {
        .col-width {
            flex: 0 0 100%;
            max-width: 100%;
        }
        h1{
            text-align:center;
            margin-bottom:15px;
        }
       
        .form-div {
            .request-form {
                form {
                    .row {
                        .col-lg-4 {                            
                            max-width: 100% !important;
                            flex: 100% !important;
                        
                        }
                    }
                }
            }
        }
    }
    .partner-main-section {
        .partner_section{
            .consultant-lists.grid-view {
                padding: 0 0;
            }
            .partner-img{
                width: 100%;
            }
        } 
    }
  
    .container {
        max-width: 100%;
    }

    h2, h1 {
        font-size: 20px;
    }
    .pricing-box-section {
        .box-padding {
            width: 75%;
        }
    }
   
    h3 {
        font-size: 22px;
    }

    .bottom-header {
        padding: 10px 0;
        z-index: 10;
    }
    .product-section {
        .producttab {
            margin-top: 48px;
        }
    }
    .menuToggle {
        display: block;
        float: left;
        background: #76e8b5;
        padding: 7px;
        border: none;
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background: #192b3b;
            & + .icon-bar {
                margin-top: 4px;
            }
        }
    }

    .open-submenu {
        position: absolute;
        top: 8px;
        right: 15px;
        width: 12px;
        height: 12px;

        &:before {
            position: absolute;
            margin-top: -1px;
            top: 50%;
            left: 0px;
            width: 100%;
            height: 2px;
            content: "";
            background: #fff;
        }

        &:after {
            position: absolute;
            margin-left: -1px;
            top: 0px;
            left: 50%;
            width: 2px;
            height: 100%;
            content: "";
            background: #fff;
        }

        &.active {
            &:after {
                display: none;
            }
        }
    }

    .main-menu {
        width: 100%;
        overflow: hidden;
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        background: #192b3b;
        margin: 0px;
        border-top: 1px solid rgba(135,151,162,.25);
        .first-level {
            & > li {
                width: 100%;
                position: relative;
                & > a {
                    padding: 7px 35px 7px 15px;
                    border-bottom: 1px solid rgba(135,151,162,.25);
                }
                &:hover .megamenu {
                    display: none;
                }
            }
        }
        .megamenu {
            width: 100%;
            float: left;
            clear: both;
            display: none;
            position: relative;
            border-bottom: 1px solid rgba(135,151,162,.25);
            
            .cat-menu {
                padding: 12px 15px 15px 15px;
                h5 {
                    margin-bottom: 10px;
                }
                ul {
                    li {
                        padding: 4px 0;
                    }
                }
            }
            .posts {
                max-width: 100%;
                flex: 0 0 100%;
                padding: 0px;
                &:nth-of-type(2):after {
                    display: none;
                }
            }
            .contact-menu {
                padding: 0 0 15px;
                &:nth-of-type(2):after { 
                    display: none;
                }
            }
        }
    }

    .top-header {
        .btn {
            font-size: 12px;
            padding: 9px 18px 7px 18px;
            margin: 8px 0 0 0;
        }
    }

    .banner-section {
        padding: 40px 0 60px;
        h1 {
            font-size: 24px;
            color: #192b3b;
        }
        p {
            font-size: 16px;
            line-height: 26px;
            color: #192b3b;
            font-weight: normal;
        }
    }

    .about-section {
        h2 {
            font-size: 20px;
            margin-top: 0px;
        }
        img {
            margin: 40px auto 0;
        }
    }

    .brand-section {
        h2 {
            margin-top: 0px;
        }
        .brands {
            .item {
                width: 134px;
                padding: 10px;
                margin: 4px 2px;
            }
        }
    }

    .strategy-benefits-section {
        .item {
            margin: 37px 0;
            .sub {
                .text {
                    p {
                        min-height: auto;
                    }
                }
            }
        }
    }

    .digital-section {
        h2 {
            margin-top: 0px;
        }
        .digital-info {
            width: 100%;
            p {
                clear: both;
            }
        }
        .mobile-text {
            max-width: 315px;
            height: auto;
            padding: 65px 25px 36px 25px;
            img {
                margin: 0 auto 36px auto;
            }
            h3 {
                font-size: 18px;
                line-height: 24px;
                &:before {
                    margin: 0 auto 40px auto;
                }
            }
        }
    }

    .work-section {
        .work {
            height: auto;
            padding: 40px 15px;
        }
        .sub {
            height: auto;
            .under {
                padding: 0 0 30px 0;
            }
            img { 
                max-height: 80px;
            }
        }
        .btn {
            font-size: 18px;
            padding: 10px 26px;
        }
    }

    .our-blog-section {
        h2 {
            margin-top: 0px;
        }
        .blog-item {
            max-width: 50%;
        }
    }

    .newsletter-section {
        .form-group {
            min-width: 100%;
            margin: 5px 0;
        }
    }

    .footerTop {
        .f-right {
            padding-bottom: 20px;
        }
        .fmenu {
            width: 50%;
            padding: 0 15px 0 0;
        }
        .talk-sales {
            width: 100%;
        }
        .connected {
            width: 100%;
            margin: 25px 0 0 0;
        }
    }

    .footerBottom {
        padding: 10px 0 15px 0;
        text-align: center;

        .container {
            display: -webkit-flex;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap; 
            div{
                width:100%; 
            }
        }

        .f-link {
            order: 1;
            text-align: center;
            margin-bottom: 10px;
            width: 100%;

            ul {
                li {
                    padding: 0 7px;

                    &:before {
                        height: 10px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }

        .copyright {
            order: 2;
            font-size: 12px;
            margin: 0 10px 0 0;
            display: block;
            float: none;
            margin: 0 auto;
        }

        .country {
            display: block;
            float: none;
            margin: 0 auto;
            order: 3;

            .dropdown-toggle {
                font-size: 12px;
                display: block;
                margin: 0px auto;
            }
        }
    }

    .bullhormn-marketplace {
        padding-top: 30px;
    
         
    }

    .bullhorn-recruitment {
        padding-left: 0;
        padding-bottom: 30px;
    }

    .product_overview {
        padding: 25px 0 40px 0;
        .product-div {
            h3 {
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 25px;
            }
        }
    }
    .prod-box {
        width: 100%;
        margin-bottom: 15px;
    }

    .services {
        p {
            font-size: 14px;
            line-height: 24px;
        }
    }

    .tracking-solution {
        padding: 40px 0px;
    }

    .talktosates-form {
        h6 {
            padding: 15px;
        }
        p {
            padding: 20px;
        }
    }
    
    form.talksale-form {
        padding: 0 20px 30px;
        label {
            font-size: 16px;
            line-height: normal;
        }
        input {
            height: 40px;
        }
        .btn {
            font-size: 16px;
            padding: 10px 15px;
            margin-top: 10px;
        }
    }
    
    .flex-div {
        display: block;
    }

    .tabs-menu {
        li {
            a {
                font-size: 12px;
                padding: 4px 14px;
            }
        }
    }

    .meet-team-section {
        
        .team-list {
            .image {
                width: 100px;
                height: 100px;
            }
            .text {
                width: calc(100% - 110px);
                h4 {
                    font-size: 14px;
                }
                .designation {
                    font-size: 12px;
                    padding: 5px 32px 5px 0;
                }
                p {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        .pagination {
            li {
                a {
                    font-size: 12px;
                    padding: 4px 6px;
                }
            }
        }
    }

    .meet-team-section {
        &.team-detail {
            .team-list {
                .image {
                    width: 100%;
                    height: 246px;
                    margin-bottom: 25px;
                }
                .text {
                    width: 100%;
                    h4 {
                        font-size: 24px;
                        padding-right: 0px;
                    }
                    .designation {
                        padding: 5px 0 5px 0;
                    }
                    .socail {
                        position: static;
                        a {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }

    .testimonials-section {
        p {
            font-size: 16px;
            line-height: 26px;
        }
        .name {
            font-size: 20px;
        }
    }

    .sent-message-section {
        padding: 25px 0;
        h2 {
            font-size: 22px;
        }
        .form-control {
            height: 40px;
        }
        textarea.form-control {
            height: 120px;
        }
    }

    .package-options {
        padding: 20px 0 30px 0;
        h2 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        .build-pack {
            display: block;
            background: none;
            & > tbody {
                display: block;
                width: 100%;
            }
            & > tr, & > tbody > tr {
                display: block;
                width: 100%;
            }
            .five-col {
                display: block;
                width: 100%;
                background: #fff;
                margin: 0 0 15px 0;
            }
            .head-t, .foot-t {
                height: auto;
            }
            .image { 
                height: 150px;
            }
            .item-pack {
                td {
                    &:before {
                        content: attr(data-title);
                        font-weight: 600;
                        padding-right: 7px;
                    }
                }
            }
            .change-mobile {
                margin: 0px;
                tr {
                    display: none;
                    &:first-child {
                        display: table-row;
                    }
                }
            }
        }
    }

    .feature-boxes {
        padding: 25px 0 40px 0;
        h2 {
            margin-bottom: 15px;
            font-size: 22px;
        }
        .box {
            .sub {
                p {
                    min-height: auto;
                }
            }
        }
    }

.intro,.feature-section,.content, .overlay-banner, .three-img {padding: 20px 0 20px 0}
.overlay-banner p {font-size: 18px}
.accordion-section {
    .nav-tabs li a {
        font-size: 12px;
        
        padding: 6px 7px;
    }
    }
    .map-section {
        min-height: 350px;
    }
 .contact-section {
    padding: 40px 0;
    h3 {
        margin:20px 0px 20px;
    }
.contact-info{
    ul {
        li {
            width: 49%;
        }
    }
}
}

.meet-team-section {
    .team-list.grid-view {
        .list {
            margin: 15px 0;
            max-width: 50%;
        }
    }
}

.intro {
    h2 {
        margin-top: 20px;
    }
}

}


/* -----------------------------------
    5. Media(max-width:480px)
----------------------------------- */
@media (max-width: 480px) {

    .our-blog-section {
        .blog-item {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    .core-feature-section {
        ul.nav.nav-tabs {
            li {
                width: 32%;
                margin-bottom: 20px;
            }
        }
    }
    .partner-main-section {
        .partner_section{
            .partner-img{
                width: 100%;
            }
        } 
    }

    .footerTop {
        .fmenu {
            width: 100%;
            padding: 0px;
        }
    }

    .meet-team-section {
        .team-list.grid-view {
            .list {
                max-width: 100%;
            }
        }
    }

}