@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Web;
@using Telerik.Sitefinity.Libraries.Model;
@using JXTNext.Sitefinity.Media.Mvc.Helpers;


@foreach (var node in Model.Nodes)
{
    var pageSiteNode = node.OriginalSiteMapNode as PageSiteNode;
    var pageIcon = (Image)pageSiteNode.GetCustomFieldValue("PageIcon");
    <a href="@node.Url" class="o-features__item">
        <div class="o-features__img">
            @Html.ImgTag(pageIcon, node.Title)
        </div>
        <div class="o-features__txt">
            @node.Title
        </div>
    </a>
}