.c-article-grid__item {
}

.c-article-grid {
  &__wrp {
    border: 2px solid #f2f2f2;
    margin-bottom: rem-calc(30);
    text-decoration: none;
    text-align: left;
    color: #404040;
    position: relative;

    &:after {
      width: rem-calc(10);
      height: rem-calc(13);
      background-color: #6f0a1c;
      content: url(../img/arrow-1.svg);
      padding: rem-calc(3) rem-calc(7) rem-calc(8);
      text-align: center;
      position: absolute;
      right: 0;
      bottom: 0;
      box-sizing: content-box;
    }
    &:hover,
    &:active {
      img {
        opacity: 0.75;
      }
      &:after {
        background-color: scale-color(#6f0a1c, $lightness: 75%);
      }
    }
  }

  &__sum {
    padding: rem-calc(22);
  }

  &__title {
    font-family: $header-font-family;
    font-size: rem-calc(20);
    line-height: (24/20);
    color: #404040;
    text-align: left;
    margin-bottom: 1rem;
  }

  nav {
    display: block;
    width: 100%;
  }
}

.pagination {
  text-align: right;
  font-family: $header-font-family;

  a {
    border: 2px solid $pagination-item-color;
    width: rem-calc(34);
    text-align: center;
  }
  .current {
    padding: 0;
    background-color: transparent;
    .o-pagination__number {
      background-color: transparent;
    }
    a {
      background-color: #6f0a1c;
      color: $white;
      &:hover,
      &:active {
        color: $pagination-item-background-hover;
      }
    }
  }
}
.o-pagination__number {
  background-color: $pagination-item-background-hover;
  padding: 0 1px;
}

.o-categories {
  &__list {
    list-style: none;
    margin-left: 0;
    color: #7e7e7e;
    font-size: rem-calc(13);
    text-transform: uppercase;
  }

  &__list-item {
    display: inline-block;
  }

  &__item {
    color: #7e7e7e;
  }

  &.c-article__categories {
    .o-categories__list-item {
      border-top: 2px solid #d8d8d8;
      display: block;
      padding: rem-calc(21) 1rem;
      color: #7e7e7e;
      font-size: rem-calc(14);
      text-align: center;
      font-family: $header-font-family;

      &:last-child {
        border-bottom: 2px solid #d8d8d8;
      }
    }
  }
}

.c-article-detail {
  &__aside {
    text-align: center;
  }
  &__back {
    padding: rem-calc(14 0 21);
  }
  &__back-lnk {
    color: #6f0a1c;
    text-decoration: none;

    &:before {
      width: rem-calc(10);
      height: rem-calc(13);
      background-color: #6f0a1c;
      content: url(../img/arrow-1.svg);
      padding: rem-calc(3) rem-calc(7) rem-calc(8);
      text-align: center;
      display: inline-block;
      box-sizing: content-box;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      margin-right: rem-calc(4);
    }

    &:hover,
    &:active {
      text-decoration: underline;

      img {
        opacity: 0.75;
      }
      &:after {
        background-color: scale-color(#6f0a1c, $lightness: 75%);
      }
    }
  }
}

.c-article {
  text-align: left;

  &__title {
    text-transform: none;
    text-align: left;
    font-family: $header-font-family;
    font-size: rem-calc(28);
    line-height: (35/28);
  }
}

.o-related__hdg {
  text-transform: none;
  text-align: left;
  font-family: $header-font-family;
  font-size: rem-calc(28);
  line-height: (35/28);
  margin-bottom: rem-calc(20);
}

.o-social-share {
  &__hdg {
    text-transform: uppercase;
    text-align: center;
    font-family: $header-font-family;
    font-size: rem-calc(16);
    line-height: (35/28);
    margin: rem-calc(21);
  }

  .sf-social-share {
    margin: rem-calc(21) 0;
    > li {
      margin: 0 rem-calc(8);
    }
  }

  .sf-icon-linkedin,
  .sf-icon-mailto {
    width: rem-calc(16);
    height: rem-calc(16);
  }
  .sf-icon-linkedin {
    background: url("../img/ico-linkedin.svg") no-repeat 50% 50%;
    background-size: auto 14px;
  }
  .sf-icon-mailto {
    background: url("../img/ico-mail.svg") no-repeat 50% 50%;
    background-size: auto 13px;
  }
}
