@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Image.ImageViewModel
@using JXTNext.Sitefinity.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;


@if (SystemManager.IsDesignMode && !SystemManager.IsPreviewMode)
{
    <div class="grid-container">
        <div class="callout alert small">
            <p>This widget sets the background image of the section. To set the background image click edit.</p>
        </div>
    </div>
}
else
{
    <img src="@Model.SelectedSizeUrl" alt="@Model.AlternativeText" class="js-bg-img @Model.CssClass" aria-hidden="true" style="display:none;" />
}
