@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Image.ImageViewModel
@using JXTNext.Sitefinity.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers

@{
    var cssClasses = new List<string>();
    var containerCssClass = Model.CssClass.Trim();
    var imageCssClass = string.Empty;

    if (!Model.CssClass.IsNullOrWhitespace())
    {
        cssClasses = Model.CssClass.Split(' ').ToList();
    }

    if (cssClasses.Count > 0 && !Model.LinkedContentUrl.IsNullOrWhitespace())
    {
        imageCssClass = cssClasses.First().Trim() + "-img";
    }
    else
    {
        imageCssClass = cssClasses.First().Trim();
    }

    if (!Model.LinkedContentUrl.IsNullOrWhitespace())
    {
        containerCssClass = string.Join(" ", "w-sf-image", containerCssClass);
    }
    else
    {
        imageCssClass = string.Join(" ", "w-sf-image", imageCssClass);
    }
}

@if (string.IsNullOrEmpty(Model.LinkedContentUrl))
{
    @Html.ImgTag(Model.SelectedSizeUrl, Model.AlternativeText).WithCssClass(imageCssClass)
}
else
{
    <a href="@Model.LinkedContentUrl" class="@containerCssClass">
        @Html.ImgTag(Model.SelectedSizeUrl, Model.AlternativeText).WithCssClass(imageCssClass)
    </a>
} 