<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings>
		<add key="JXTNextAPI_Domain" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
		<add key="JXTNextAPI_Path" value="http://api.JXTNEST.local"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="statsd.environment" value="production"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<!--Sitefinity Config Settings-->
		<add key="sf-env:pagesConfig:compressScriptsFrontEnd" value="Forced" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="sf-env:notificationsConfig/profiles/SendGrid:password" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="sf-env:systemConfig/smtpSettings:password" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="sf-env:systemConfig/loadBalancingConfig/redisSettings:ConnectionString" value="#{RedisConnection}" xdt:Transform="Insert" />
		<add key="sf-env:systemConfig/loadBalancingConfig/redisSettings:KeyPrefix" value="#{ClientName}" xdt:Transform="Insert" />
	</appSettings>
	<connectionStrings>
		<add name="Sitefinity" connectionString="#{Sitefinity}"
		xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="Replace">
			<error statusCode="403" redirect="~/forbidden-403" />
			<error statusCode="410" redirect="~/gone-410" />
			<error statusCode="404" redirect="~/page-not-found-404" />
			<error statusCode="500" redirect="~/server-error-500" />
		</customErrors>
	</system.web>
	<system.webServer>
		<applicationInitialization xdt:Transform="Remove" />
		<applicationInitialization doAppInitAfterRestart="true" xdt:Transform="Insert" >
		</applicationInitialization>
		<httpErrors xdt:Transform="Remove" />
		<httpErrors errorMode="Custom" xdt:Transform="InsertIfMissing">
			<clear />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="410" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="403" path="/forbidden-403" responseMode="ExecuteURL" />
			<error statusCode="410" path="/gone-410" responseMode="ExecuteURL" />
			<error statusCode="404" path="/page-not-found-404" responseMode="ExecuteURL" />
			<error statusCode="500" path="/server-error-500" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
</configuration>