<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- JXT Next Connection Configurations -->
  <appSettings>
    <add key="JXTNextAPI_WaitTimeMs" value="10000" xdt:Transform="Replace" />
    <add key="JXTNextAPI_Path" value="http://localhost:57611" xdt:Transform="Replace" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Controls the behavior for errors thrown by ASP.NET during the execution of a request.
      https://www.progress.com/documentation/sitefinity-cms/administration-custom-error-pages#configure-the-lt-httperrors-gt-element
    -->
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="403" redirect="~/forbidden-403" />
      <error statusCode="404" redirect="~/page-not-found-404" />
      <error statusCode="500" redirect="~/server-error-500" />
    </customErrors>
    <trace xdt:Transform="Remove" />
    <trace enabled="false" localOnly="true" pageOutput="false" writeToDiagnosticsTrace="false" xdt:Transform="InsertIfMissing"/>
  </system.web>
  <system.webServer>
    <!-- 
      HttpErrors handles errors that occur when accessing Sitefinity CMS pages.
      https://www.progress.com/documentation/sitefinity-cms/administration-custom-error-pages#configure-the-lt-httperrors-gt-element
    -->
    <httpErrors xdt:Transform="Remove" />
    <httpErrors errorMode="Custom" xdt:Transform="InsertIfMissing">
      <clear />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />

      <error statusCode="403" path="/forbidden-403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/page-not-found-404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/server-error-500" responseMode="ExecuteURL" />
    </httpErrors>
    <directoryBrowse xdt:Transform="Remove" />
    <directoryBrowse enabled="false" xdt:Transform="InsertIfMissing"/>
    <!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
    <httpCompression xdt:Transform="Remove" />
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024" xdt:Transform="InsertIfMissing">
      <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip"/>
      <dynamicTypes>
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="true" mimeType="application/json; charset=utf-8" />
        <add enabled="false" mimeType="*/*" />
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/json; charset=utf-8" />
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <security>
      <requestFiltering>
        <verbs xdt:Transform="Remove" />
        <verbs xdt:Transform="InsertIfMissing">
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>