<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- JXT Next Connection Configurations -->
  <appSettings>
    <add key="JXTNextAPI_WaitTimeMs" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="JXTNextAPI_Path" value="http://internal-jxt-next-api-alb-33678638.ap-southeast-2.elb.amazonaws.com:3030" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Controls the behavior for errors thrown by ASP.NET during the execution of a request.
      https://www.progress.com/documentation/sitefinity-cms/administration-custom-error-pages#configure-the-lt-httperrors-gt-element
    -->
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="403" redirect="~/forbidden-403" />
      <error statusCode="404" redirect="~/page-not-found-404" />
      <error statusCode="500" redirect="~/server-error-500" />
    </customErrors>
    <trace xdt:Transform="Remove" />
    <trace enabled="false" localOnly="true" pageOutput="false" writeToDiagnosticsTrace="false" xdt:Transform="InsertIfMissing"/>
    <machineKey xdt:Transform="Remove" />
    <machineKey validationKey="4DFC9A797337E6D63A2C02AEB57FB15F7E55098B39BB6C15445367558FAEB69879A38C1EBE5AB6E232A2098A1C8EA0CE7AE27B3D23E01119F016E25D3820E858" decryptionKey="5292B2E85D0994CE686FAC7B766DEE76D946B6BBCFDE72D2" validation="SHA1" xdt:Transform="InsertIfMissing"/>
  </system.web>
  <system.webServer>
    <!-- 
      Make sure the following settings are configured in IIS to take advantage - AlwaysRunning to true and Preload to true.
    -->
    <applicationInitialization doAppInitAfterRestart="true" xdt:Transform="InsertIfMissing">
    </applicationInitialization>
    <!-- 
      HttpErrors handles errors that occur when accessing Sitefinity CMS pages.
      https://www.progress.com/documentation/sitefinity-cms/administration-custom-error-pages#configure-the-lt-httperrors-gt-element
    -->
    <httpErrors xdt:Transform="Remove" />
    <httpErrors errorMode="Custom" xdt:Transform="InsertIfMissing">
      <clear />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />

      <error statusCode="403" path="/forbidden-403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/page-not-found-404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/server-error-500" responseMode="ExecuteURL" />
    </httpErrors>
    <directoryBrowse xdt:Transform="Remove" />
    <directoryBrowse enabled="false" xdt:Transform="InsertIfMissing"/>
    <!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
    <httpCompression xdt:Transform="Remove" />
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024" xdt:Transform="InsertIfMissing">
      <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip"/>
      <dynamicTypes>
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="true" mimeType="application/json; charset=utf-8" />
        <add enabled="false" mimeType="*/*" />
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/json; charset=utf-8" />
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <security>
      <requestFiltering>
        <verbs xdt:Transform="Remove" />
        <verbs xdt:Transform="InsertIfMissing">
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <aspNetCore xdt:Transform="Remove" />
    <aspNetCore xdt:Transform="InsertIfMissing">
      <environmentVariables>
        <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
        <environmentVariable name="CORECLR_PROFILER" value="{36032161-FFC0-4B61-B559-F6C5D41BAE5A}" />
        <environmentVariable name="CORECLR_NEWRELIC_HOME" value="C:\Program Files\New Relic\newrelic-apm\dotnet-core" />
        <environmentVariable name="CORECLR_PROFILER_PATH" value="C:\Program Files\New Relic\newrelic-apm\dotnet-core\NewRelic.Profiler.dll" />
        <environmentVariable name="NEW_RELIC_LICENSE_KEY" value="4d2e2ccdce4a782b6615cf19983f02371212d262" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>