// Home banner
// posible widget to be use: jn_banner widget
#jn_banner{
    clear: both;
    text-align: center;
    h1{
       font-size: 12rem;
       @include bp-max(md){
            font-size: 8rem;
        }
        @include bp-max(xs){
            font-size: 4rem;
        } 
    }
    .row{
        min-height: 90vh;
    }
}
.banner-bg{
    background-repeat: no-repeat;
    background-position: center top;
}
.bg-cover{
    background-size: cover;
}

.banner-wrapper{
    position: relative;
}


// ====================================
// inner page common styles
// ====================================

.jn_innerpage{
    padding-top: 17rem;
}
.page-title{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.page-intro{
    font-size: 2.4rem;
    padding-bottom: 8rem;
    text-align: center;
    @include bp-max(sm){
        font-size: 1.8rem;
    }
}
