// Home banner
// posible widget to be use: jn_banner widget
#jn_banner{
    clear: both;
    text-align: center;
    max-height: 852px;
    min-height: 450px;
    margin-bottom: 0;
    overflow: hidden;
    h1{
       font-size: 12rem;
       @include bp-max(md){
            font-size: 8rem;
        }
        @include bp-max(xs){
            font-size: 3rem;
        } 
    }
    .row{
        min-height: 90vh;
    }

    .owl-dots{
        position: absolute;
        padding-top: 0;
        width: 100%;
        bottom: 18rem;
        @include bp-max(xs){
            display: none;
        }
    }
    video{
        min-width: 100%;
        min-height: 100%;
    }
}
.banner-bg{
    background-repeat: no-repeat;
    background-position: center top;
}
.bg-cover{
    background-size: cover;
}

.banner-wrapper{
    position: relative;
}
.banner-single{
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    .bg-video{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}


// ====================================
// inner page common styles
// ====================================

.jn_innerpage{
    padding-top: 17rem;
    position: relative;
    @include bp-max(sm){
        padding-top: 13rem;
    }
}
.page-title{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: 900;
}
.overlay-title{
    position: absolute;
    bottom: 20px;
    color: $brightColor;
    width: 100%;
    z-index: 11;
    margin: 0;
}
.page-intro{
    font-size: 2.4rem;
    padding-bottom: 8rem;
    text-align: center;
    @include bp-max(sm){
        font-size: 1.8rem;
    }
}
