// Footer styling
#footer{
    background: $baseColor url('../images/footer-bg.jpg') no-repeat center bottom / auto 100%;
    padding: 6.5rem 0 4.5rem;
    text-align: center;
    font-size: 1.4rem;
    color: lighten($baseColor,48.8%);
    .container{
        position: relative;
    }
    .row{
        min-height: 80px;
    }
    a{
        color: $brightColor;
        text-decoration: none;
        &:hover, &:focus{
            color: $p1Color;
        }
    }
    .jn_social-links, .footer-nav{
        max-width: 400px;
        margin: 1.5rem auto;
        display: block;
        li{
            padding: 0 1.5rem;
            a{
                padding: 0;
            }
        }
    }
    .footer-nav{
        ul{
            @include listReset;
        }
        li::before{
            display: none;
        }
    }
    .footer-menu{
        margin-top: 10rem;
        .menu-title{
            text-transform: uppercase;
            letter-spacing: 4px;
            border-bottom: 1px solid $p1Color;
            padding-bottom: 1.5rem;
            margin-bottom: 2.5rem;
            display: block;
            font-size: 1rem;
            text-align: right;
        }
        &.footer-left{
            float: left;
            text-align: left;
            ul{
                padding-left: 4rem;
            }
        }
        &.footer-right{
            float: right;
            text-align: right;
            .menu-title{
                text-align: left;
            }
            address{
                padding-right: 4rem;
            }
        }
        ul{
            @include listReset;  
            
            li{
                padding-bottom: 12px;
                line-height: 1.4;
            }          
        }
        a{
            color: lighten($baseColor, 48.8%);
            
            &:hover, &:focus{
                color: $p1Color;
            }
        }
        li.active a{
            color: $p1Color;
        }
   }
   @include bp-min(lg){
        .footer-menu{
            margin-top: 0;
            position: absolute;
            top: 0;
            .menu-title{
                writing-mode: vertical-rl;
                text-orientation: upright;
                position: absolute;
                top: 0;
                border-bottom:none;
            }
            &.footer-left{
                left:15px;
                .menu-title{
                    left: 0;
                    border-right: 1px solid $p1Color;
                    padding-right: 1.2rem;
                }
                ul{
                    padding-left: 10rem;
                    margin-top: -4px;
                }
            }
            &.footer-right{
                right:15px;
                .menu-title{
                    right: 15px;
                    border-left: 1px solid $p1Color;
                    padding-left: 1.2rem;
                }
                address{
                    padding-right: 10rem;
                }
            }
        }
    }
   address{
       line-height: 1.4;
       strong{
           color: $brightColor;
           font-weight: normal;
           display: block;
           margin-bottom: 0rem;
       }
   }
}
.footer-logo{
    display: inline-block;
    margin-bottom: 10rem;
}

