// General form styles
input[type="text"], input[type="email"], input[type="tel"], input[type="password"],
textarea{
    padding: 10px;
    width: 100%;
    border:none;
    color: lighten($baseColor,13.5%);
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}
textarea{
    min-height: 100px;
    resize: vertical;
}
.input-text {
    clear: both;
    margin-bottom: 5px;
}
.input-text input {
    display: block;
    width: 100%;
}
.no-label label {
    display: none;
}


//default layout
.form-group{
    margin-bottom: 2rem;
    input[type="text"], input[type="email"], input[type="tel"], input[type="password"],
    textarea{
        border-bottom: 2px solid $fontColor;
        font-size: 1.6rem;
        box-shadow: 0 0 1px rgba(0,0,0,0.1);
        &:focus, &:active{
            border-color: #000;
            box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.15);
        }
    }  
    label{
        text-transform: uppercase;
        font-size: 1.2rem;
    } 
    &.button-wrapper{
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}