#header{
    .container{
        max-width: 1250px;
    }
    @include bp-min(xs){
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10000;
        padding: 35px 0;
    }
    a{
        text-decoration: none;
    }
    @include bp-max(sm){
        padding: 20px 0;
    }
}

.navbar-default{
    background:none;
    border:none;
    margin-bottom: 0;
}

.navbar-brand{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -45px;
    height: auto;
    padding: 0;
}
.navbar-wrapper .container{
    padding-left: 120px;
    position: relative;
    text-align: right;
}
#header .login{
    margin-top: 5px;
    @include bp-max(sm){
        margin-top: 0;
        .profile-name{
            display: none;
        }
        .button a.btn{
            position: relative;
            text-indent: -99em;
            overflow: hidden;
            padding: 0;
            width: 40px;
            height: 40px;
            &::after{
                content: '\f007';
                font: 2rem/1 FontAwesome;
                position: absolute;
                top: 9px;
                left: 0;
                text-indent: 0;
                text-align: center;
                width: 40px;
            }
        }
    }
}
.login-wrap {
    background: $p1Color;
    color: $brightColor;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 1.2rem;

    > a {
        line-height: 1.4;
        color: $brightColor;
        padding-top: 4px;
        padding-left: 10px;
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }

    button {
        border: none;
        background: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }

    &.status-logout {
        padding: 10px;
        a, button {
            float: none;
            padding: 0 10px;
        }

        button {
            border-right: 1px solid darken($p1Color, 7%);
        }
    }

    > span[class*="icon-"] {
        font-size: 6px;
        margin-left: 5px;
        padding: 10px 5px;
        cursor: pointer;
        @include bp-max(sm){
            margin-left: 0;
            padding: 10px 2px;
        }
    }

    .avatar-wrap {
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 7px;
        padding: 0;
        float: left;
    }

    .login-dropdown {
        clear: both;
        text-align: left;
        padding: 5px 6px 5px;

        p {
            margin-bottom: 0;
        }

        a {
            color: $brightColor;

            &:hover, &:focus {
                text-decoration: underline !important;
            }
        }
    }

    .in {
        display: block;
    }
}
#header .login{
    float: right;
}
#header .login, #header .login > div {
    display: inline-block;
}
.jobSearch-container{
    position: relative;
    top: 40px;
    z-index: 1000;
    @include bp-max(sm){
        top: 90px;
    }
    @include bp-max(xs){
        top: 90px;
    }
}
.banner-wrapper {
    .jobSearch-container{
        margin-top: -135px;
        @include bp-max(sm){
            margin-top: -225px;
        }
        @include bp-max(xs){
            margin-top: -286px;
        }
    }
}
@include bp-min(lg) {
    .navbar-wrapper .container {
        padding-left: 120px;
    }

    .navbar-brand {
        left: 15px;
        margin-left: 0;
    }
}