// Header navigation
.navbar-nav{
    >li{
        padding: 5px 9px;
        position: relative;
        >a{
            color: $baseColor;
            font-size: 1.4rem;
            padding: 0;
            margin: 0;
            text-transform: capitalize;
            text-shadow: none;
            text-decoration: none;
        }
    }
}
.navbar-toggle{
    display: block;
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 0;
    background: none;
    border:none;
    border-top: 3px solid $baseColor;
    width: 26px;
    text-indent: -99em;
    overflow: hidden;
    &::before, &::after{
        content: '';
        height: 0;
        border-top: 3px solid $baseColor;
        position: absolute;
        left: 0;
        @include transition(width,0.5s,ease-in-out);
    }
    &::before{
        width: 20px;
        top: 6px;
    }
    &::after{
        width: 12px;
        top: 15px;
    }
    &:hover, &:focus{
        border-color: $p1Color;
        outline: none;
        &::before, &::after{
            border-color: $p1Color;
            width: 26px;
        }
    }
}
@include bp-min(xl){
    .navbar-nav{
        >li{ 
            >a{
                padding: 5px 7px;
            }
        }
    }
}
@include bp-min(sm){
    .navbar-nav{
       li{
           display: inline-block;
           ul{
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            min-width: 200px;
            padding: 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: $p2Color;
            border: none;
            margin-top: -1px;
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0,0,0,0.175);
            background-clip: padding-box;
            li{
                display: block;
            }
            a{
                color: $baseColor;
                display: block;
                line-height: 1.5;
                white-space: nowrap;
                padding: 5px 15px;
                text-decoration: none;
                &:hover, &:focus{
                    background: darken($baseColor, 20%);
                    color: $brightColor;
                }
            }
            li.active a{
                background: darken($baseColor, 20%);
                color: $brightColor;
            }
           }
           &:hover{
               ul{
                   display:block;
               }
           }
       }
    }
}
#header .nav>li{
    > a{
        &:focus, &:hover{
            color: $p1Color;
        }
    }
    &.active > a{
        color: $p1Color;
    }
}
@include bp-min(lg){
    .navbar-collapse{
        display: inline-block;
    }
    .navbar-nav{
        display: inline-block;
    }
    .navbar-toggle, .navbar-close{
        display: none;
    }
}
@include bp-max(md){
    .navbar-collapse{
        position: fixed;
        left: -360px;
        top: 0;
        background: $p2Color;
        width: 100%;
        max-width: 360px;
        height: 100%;
        z-index: 1010;
        text-align: left;
        padding: 10rem 3rem 5px 6rem;
        @include transition(left,0.2s,ease-in-out);
        &.show{
            left: 0;
        }
        &.collapse{
            display: block;
        }
    }
    .navbar-nav{
        >li{
            padding: 0;
            >a{
                font-size: 4rem;
                font-weight: 900;
                line-height: 1;
            }
            ul{
                position: static;
                background: none;
                box-shadow: none;
                li a{
                    &:hover, &:focus{
                        background: none;
                        color: $p1Color;
                    }
                }
            }
        }
    }
    #wrapper{
        @include transition(left,0.2s,ease-in-out);
        position: relative;
        left: 0;
    }
    .menu-opened{
        overflow-x: hidden;
        #wrapper{
            left: 360px;
        }
    }
    .navbar-close{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        width: 20px;
        height: 20px;
        font-size: 3rem;
        cursor: pointer!important;
        &:hover, &:focus{
            color: $p1Color!important;
        }
    }
}
// vertical navigation
ul.vertical.menu{
    @include listReset;
}

//sidebar navigation
.sidebar-nav{
    li{
        a{
            text-decoration: none;
            display: block;
            padding: 10px 0;
            color: $baseColor;
            position: relative;
            border-top: 1px solid #E8E8E8;
            text-indent: 5px;
            &:hover, &:focus{
                color: $p1Color;
            }
        }
    }
}

// footer navigation
.footer-nav{
    @include listReset;
    padding-top: 7px;
    li{
        display: inline;
        a{
            padding: 0 10px;
            &:hover{
                color: $p1Color;
            }
        }
        &:before{
            content: '|';
        }
        &:first-child {
            &:before{
                content:'';
            }
            a{
                padding-left: 0;
            }
        }
    }
}