.sidebar{
    margin-top: 6rem;
    margin-bottom: 4rem;
    flex-grow: 1;
    ul{
        list-style: none;
        padding-left: 0;
        li{
            a{
                display: block;
                position: relative;
                padding: 4px 10px 4px 20px;
                color: lighten($fontColor,40%);
                line-height: 1.4;
                &::before{
                    content: '';
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 14px;
                    height: 8px;
                    width: 8px;
                    background: lighten($fontColor,40%);
                }
                &:hover{
                    text-decoration: none;
                    color: $baseColor;   
                    &::before{
                        background: $p1Color;
                    }
                }
            }
            h4 a::before{
                top: 12px;
            }
            &.active > a, a.active{
                color: $baseColor;   
                &::before{
                    background: $p1Color;
                }
            }
        }
        ul ul{
            margin-left: 15px;
        }
    }
    
        > ul.filter-multilevel{
            > li{
                padding-bottom: 10px;
                > a{
                    color: $baseColor;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding-left: 0;
                    &::before{
                        display: none;
                    }
                }
                >ul{
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
        }
        .btn{
            display: block;
            margin: 0 auto;
        }
       
}
h4.aside-title{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3rem;
}


.side-widget{
    margin-bottom: 6rem;
    &:last-of-type{
        margin-bottom: 5rem;
    }
}
.vrt-list{
    li{
        margin-bottom: 1.5rem;
    }
}