<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JXTPortal.Data" type="JXTPortal.Data.Bases.NetTiersServiceSection, JXTPortal.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="JobAlertResults" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Multi -->
    <add key="MultiThreadSiteIDs" value="" />
    <add key="MultiSiteIDs" value=" 441 " />
    <add key="MultiMaxJobsPerEmail" value="50" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory">
			<network host="ignored" />
			<specifiedPickupDirectory pickupDirectoryLocation="C:\JXTMail" />
		</smtp>-->

      <smtp deliveryMethod="Network" from="testuser@jxt.com">
        <network defaultCredentials="false" host="10.0.20.87" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="JXTPortal.Data.ConnectionString"
		 connectionString="Application Name=MiniJXT Job Alert;	Initial Catalog=MiniJXT_App;      
				Data Source=10.0.20.79;    
				User Id=jxtwebuser;    
				Password=@jxtw3bUser*;"/>
  </connectionStrings>
  <JXTPortal.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add name="SqlNetTiersProvider" type="JXTPortal.Data.SqlClient.SqlNetTiersProvider, JXTPortal.Data.SqlClient" connectionStringName="JXTPortal.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="JXTPortal.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" defaultCommandTimeout="30"/>

    </providers>
  </JXTPortal.Data>
</configuration>
