@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers


<div class="@Model.CssClass full_width banner_section" style="background-image: url(@Model.SelectedSizeUrl);">
    <div class="container">

        <h1>@Html.HtmlSanitize(Model.Heading)</h1>

    </div>
</div>