@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers


<div class="@Model.CssClass full_width header_banner" style="background-image: url(@Model.SelectedSizeUrl);">
    <div class="container">
        <h1 class="page-heading">@Html.HtmlSanitize(Model.Heading)</h1>
    </div>
</div>