@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h1 class="page-header">
        Dashboard</h1>
    <ol class="round">
        <li class="one">
            <h5>
                Getting Started</h5>
           Some Content Goes Here. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn
                more…</a> </li>

    </ol>
</div>
