@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<style>
    .testimonials-slider.clean-slider{
        padding:0px;
        background:transparent;
    }
        .testimonials-slider.clean-slider .owl-item{
            padding:0px;
        }
            .testimonials-slider.clean-slider .owl-item .quote {
                font-size: 40px;
                height: 40px;
            }

            .testimonials-slider.clean-slider .owl-item .testimonial{
                padding:0px;
            }

        .testimonials-slider.clean-slider .quote span{
            top:5px;
        }
        .testimonials-slider.clean-slider .owl-stage-outer{
            background:transparent;
        }
</style>
<div class="testimonials-slider clean-slider" style="">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-testimonials owl-theme">
                    @foreach (var item in Model.Items)
                    {
                        <div>
                            <div class="quote"><span>&ldquo;</span></div>
                            <div class="testimonial">@item.Fields.Quote</div>
                            <div class="testimonial-author">@item.Fields.By</div>
                            <div class="quote text-right"><span>&rdquo;</span></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>