<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SilverSky</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Styles/styles.css">
        <script src="http://images.jxt.net.au/mobile/Scripts/jquery-1.7.2.min.js"></script>
        <script src="http://images.jxt.net.au/mobile/Scripts/knockout-2.0.0.js"></script>
        <script src="http://images.jxt.net.au/mobile/Content/Javascripts/main/core-functions.js"></script>

	<link href="http://images.jxt.net.au/silversky/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://images.jxt.net.au/mobile/Content/Whitelabel/174/images/apple-touch-icon-114x114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://images.jxt.net.au/mobile/Content/Whitelabel/174/images/apple-touch-icon-72x72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" href="http://images.jxt.net.au/mobile/Content/Whitelabel/174/images/apple-touch-icon-57x57-precomposed.png" />
	<link rel="apple-touch-icon" href="http://images.jxt.net.au/mobile/Content/Whitelabel/174/images/apple-touch-icon.png" />
        @RenderSection("Javascript", false)
    </head>
	
    <body><nav class="top-fixed-nav"> 
            	<div class="left-col">
                     @if (JXTPortal.Entities.SessionData.Member != null) {
	                        <button class="top-button btn-navbar-icon" type="button" id="jsmenu">
						    	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button> 
                    		<span>Welcome @JXTPortal.Entities.SessionData.Member.Username</span>
	                    }
	                    else
	                    {
	                        <a href="~/account/login" class="top-button">Login</a>
	                    }        
                </div>
                <div class="right-col">
                	 <a href="/" class="flt-right"><img src="http://images.jxt.net.au/mobile/Content/Whitelabel/174/images/icon-home-grey.png" alt="Home"></a>
                </div>   	
    
                <div class="collapse jsmenuCollapse">
                    <ul>
                        <li><a href="/Account/SavedJobs">My Saved Jobs</a></li>
                        <li><a href="/Account/MyAlerts">My Alerts</a></li>
                        <li><a href="/Account/Documents">My Resumes/Cover Letter</a></li>
                        <li><a href="/Account/ChangePassword">Change Password</a></li>
                        <li><a href="/Account/LogOff">Log off</a></li>
                    </ul>
                </div><!-- end of jsmenuCollapse --> 

	              
            </nav>	
	
            <header>
<div class="header-logo"> <a href="/"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/174/Images/logo.png" alt="Silversky Logo"></a> </div>
</header>
<div id="wrapcontent">
            
                @RenderBody()
           
		   
			</div>
<div id="mainMenu">
<div id="careerSolutions"> </div>
<ul>
<li class="item1"><a class="item1" href="/page/?id=about">About Us</a></li>
<li class="item3"><a class="item3" href="/page/?id=contact">Contact Us</a></li>
</ul>
</div>
<footer>
<ul>
<li><a href="/page/?id=terms">Terms</a></li>
<li>|</li>
<li><a href="http://silversky.com.au/?mob=1">Full Website</a></li>
<li> <a href="http://www.linkedin.com/company/silversky-group-pty-ltd" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/174/Images/linkedIn.png"></a> <a href="http://www.facebook.com/SilverSkyGroup" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/174/Images/facebook.png"></a> <a href="http://twitter.com/silverskygroup" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/whitelabel/174/Images/twitter.png"></a></li><div class="clear"><!-- --></div></ul>
<p>&copy; SilverSky 2012 | <a href="http://www.jxt.com.au" target="_blank"> Powered by JXT</a></p>
</footer>
		
		
    </body>
</html>

