@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.Breadcrumb.BreadcrumbViewModel

<nav aria-label="You are here:" role="navigation" class="@Model.CssClass">
    <ul class="breadcrumbs ">
        @for (int i = 0; i < Model.SiteMapNodes.Count; i++)
        {
            var node = Model.SiteMapNodes[i];

            if (i == Model.SiteMapNodes.Count - 1 && Model.ShowCurrentPageInTheEnd)
            {
                <li>
                    <span class="show-for-sr">Current: </span> @node.Title
                </li>
            }
            else
            {
                <li><a href="@node.Url">@node.Title</a></li>
            }
        }
    </ul>
</nav>