/*#region Form - Newsletter */
.form-newsletter {

    .label-hide {

        label,
        strong {
            display: none;
        }
    }

    h1 {
        margin: 0 0 30px;
    }

    p {
        margin: 10px 0 0;
        font-size: 14px;
        font-size: 1.4rem;
    }
}
/*#endregion Form - Newsletter */

/*#region Form - Contact us*/
.page-wrapper {
    .basic-form {
        margin-top: 50px;
        font-family: $font-family-regular;

        .form-control {
            color: $forms-placeholder-color;
        }

        textarea {
            height: 115px;
            resize: none;
        }

        .form-label {
            color: $forms-element-border;
            text-transform: uppercase;
            font-family: $font-family-medium;
            text-align: right;
            font-size: $forms-label-size;
            font-size: $forms-label-size-px;
        }

        .checkbox {
            margin-left: 15px;

            .checkbox-icon {
                width: 20px;
                height: 20px;
                border: 1px solid $forms-element-border;
                display: inline-block;
                color: $forms-element-border;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                font-size: 13px;

                &:before {
                    content: '';
                }
            }

            input[type="checkbox"] {
                z-index: 2;
                position: relative;
                opacity: 0;
                height: 20px;
                width: 20px;
                margin: 0 10px 0 0;
                float: left;

                &:checked + .checkbox-icon:before {
                    content: "\f00c";
                    line-height: 19px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .form-group {
            margin-bottom: 10px;
        }

        .upload-section {
            margin: 5px 0 20px 0;
        }
    }
}

/*#endregion Form - Contact us*/

/*#region Log in/Sign in/Apply*/
.page-wrapper {
    /*#region Forms*/
    .login-form {
        .forgot-password a {
            font-style: italic;

            &, &:hover, &:focus {
                color: #8e8e8e;
                text-decoration: none;
            }
        }

        .basic-form {

            .checkbox {
                margin-left: 0;
                margin-top: 0;

                input[type=checkbox]:checked + input + .checkbox-icon:before {
                    content: "\f00c";
                    line-height: 19px;
                }
            }

            .login-border {
                margin-bottom: 10px;
            }
        }

        .privacy-policy {
            &, &:hover, &:focus {
                color: #000;
                text-decoration: underline;
            }
        }

        .password-strength {
            height: 25px;
            border: 1px solid $global-highlight-color;
            color: #fff;

            div {
                color: #fff;
                font-size: 14px;
                line-height: 24px;
                padding: 0 5px;
            }

            .password-weak {
                width: 33%;
                background-color: $global-highlight-color;
            }

            .password-good {
                width: 66%;
                background-color: $global-highlight-color;
            }

            .password-strong {
                width: 100%;
                background-color: $global-highlight-color;
            }
        }

        .apply-upload {
            padding: 10px 12px;
            border: 1px solid $global-highlight-color;
            color: #c5c5c5;

            a {
                display: block;
                float: left;
                width: 33.3333333333%;
                text-align: center;
                padding: 10px;

                em {
                    display: block;
                    color: #2a2a2a;
                    font-size: 30px;
                }
            }
        }

        &.apply-form .basic-form .login-border {
            padding-top: 0;
        }

        .text-muted {
            margin-top: 10px;
            display: block;
        }
    }
    /*#endregion Forms*/
    /*#region Social*/
    .sign-in-with {
        ul {
            margin-top: 50px;

            li {

                .btn {
                    text-align: left;
                    padding: 10px;

                    em {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .apply-with {
        .btn {

            &.btn-indeed {
                background: #f85402 url(../images/indeedBtn.png) no-repeat 50% 50%;
            }

            &.btn-linkedin {
                background: #007cb7 url(../images/linkkedinBtn.png) no-repeat 50% 50%;
            }

            &.btn-seek {
                background: #e61977 url(../images/seekBtn.png) no-repeat 50% 50%;
            }
        }
    }

    .apply-with, .sign-in-with {
        ul {
            padding-left: 0;

            li {
                margin-bottom: 5px;

                .btn {
                    height: 42px;
                    min-width: 120px;
                }
            }
        }

        &.job-application-social {
            ul {
                margin-top: 20px;

                &:before, &:after {
                    display: table;
                    content: " ";
                }

                &:after {
                    clear: both;
                }

                li {
                    float: left;
                    margin-right: 10px;
                }
            }
        }
    }
    /*#endregion Social*/
}

/*#endregion Log in/Sign in/Apply*/