//Card widget :: with icon 
.card-cta_icon{
    position: relative;
    margin: 20px 0;
    background-color: $color-bright;
    border: 1px solid $color-g2;
    padding: 0 35px 5% 35px;
    //copy style
    font-size: 14px;
    line-height: 24px;
    height: calc(100% - 42px); //height is calculated based on margin and border width
    .icon-image{
        .img-innerwrap{
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
    }
    .text{
        padding: 13px 0 0 0;
        min-height: 140px;
        p{
            margin-bottom: 20px;
        }
    }
    h3{
        font-size  : 18px;
        color      : #2c3e50;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .btn{
        background: $color-g1;
        border: 1px solid $color-g1;
        color: $color-bright;
        padding: 9px 35px;
    }
    &.grey-bg{
        background-color: $color-g3;
        .btn{
            background: $color-bright;
            border: 1px solid #e5e5e5;
            color: #a1b1bc;
        }
    }
    
}

.icon-abs-top{
    margin: 42px 0;
    height: calc(100% - 86px);
    .icon-image{
        width: 110px;
        height: 110px;
        display: table;
        border: 4px solid #fff;
        border-radius: 100%;
        background: #fff;
        margin: -55px auto 0 auto;
        transition: all 0.5s cubic-bezier(0.5, 0.36, 0.49, 1.25);
        .img-innerwrap{
            border: 2px solid #1abc9c;
            border-radius: 100%;
        }
    }
}

//card with whole card clickable
a.card-cta_icon{
    display: block;
    cursor: pointer;
    color: $color-p1a;
    &:hover{
        .btn{
            background  : #76e8b5;
            color       : #192b3b;
            border-color: #76e8b5;
        }
    }
}
a.icon-abs-top{
    &:hover{
        .icon-image{
            border-color: #1abc9c;
            background  : #2c3e50;
        }
    }
}

//product card
.text-center{
    .icon-image{
        img{
            margin: 0 auto;
        }
    }
}
.p1-head-bg{
    &.round-corner-box{
        overflow: hidden;
    }
    .icon-image{
        background-color: $color-p1b;
        padding: 20px 0;
    }
}
.full-width-img{
    padding: 0;
    .text{
        padding: 30px 5%;
    }
}

