@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@{
    var append = string.IsNullOrEmpty(Model.Heading) ? "long-text" : "";
}

<div class="@Model.CssClass hexagon-card @(append)">

    <div class="hexagon-text-wrap">
        @if (!string.IsNullOrEmpty(Model.Heading))
        {
            <p>@Html.HtmlSanitize(Model.Heading)</p>
        }
        else
        {
            <p>@Html.HtmlSanitize(Model.Description)</p>
        }
    </div>

</div>
