@using JXTNext.Sitefinity.Widgets.Social.Mvc.Models
@model LinkedInSignInViewModel

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger">@Model.Error</div>
}

@if (!string.IsNullOrEmpty(Model.BackUrl))
{
    <br />
    <a href="@Model.BackUrl" class="btn btn-default">Go Back</a>
}
