@model JXTNext.Sitefinity.Widgets.Social.Mvc.Models.AddThis.AddThisViewModel

@using System;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script("//s7.addthis.com/js/300/addthis_widget.js#pubid=" + Model.PublisherId, "bottom")

<div class="addthis_toolbox">
    <ul class="@Model.CssClass">
        @foreach (var serviceButton in Model.ServiceButtons)
        {
            var label = "";

            if (!string.IsNullOrEmpty(serviceButton.Icon))
            {
                label = string.Format("<i class=\"{0}\"></i>",
                    Html.Encode(serviceButton.Icon
                ));
            }
            else if (!string.IsNullOrEmpty(serviceButton.Image))
            {
                label = string.Format("<img src=\"{0}\" alt=\"{1}\" />",
                    Html.Encode(serviceButton.Image),
                    Html.Resource(serviceButton.Name + "Label"
                ));
            }

            <li>
                <a href="javascript:;" class="addthis_button_@serviceButton.Service">
                    @Html.Raw(label)
                    <span class="sr-only">@Html.Resource(serviceButton.Name + "Title")</span>
                </a>
            </li>
        }
    </ul>
</div>
