@model List<SitefinityWebApp.Mvc.Models.SocialLinkModel>

<div class="@ViewData["CssClass"]">
    <ul class="list-inline">
        @foreach (var item in Model)
        {
            <li><a href=@item.UrlPath target="_blank" title="@item.DisplayName"><span class="@item.EMCssClass"></span/a></li>
        }
    </ul>
</div>