<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Titan Recruitment @ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="http://images.jxt.net.au/titan/recruitment/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://images.jxt.net.au/mobile/Content/Whitelabel/132/images/apple-icon114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://images.jxt.net.au/mobile/Content/Whitelabel/132/images/apple-icon72.png" />
		<link rel="apple-touch-icon-precomposed" href="http://images.jxt.net.au/mobile/Content/Whitelabel/132/images/apple-icon57.png" />
		<link rel="apple-touch-icon" href="http://images.jxt.net.au/mobile/Content/Whitelabel/132/images/apple-icon57.png" />	
		
		<link rel="stylesheet" type="text/css" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Styles/styles.css">
        <script src="http://images.jxt.net.au/mobile/Scripts/jquery-1.7.2.min.js"></script>
        <script src="http://images.jxt.net.au/mobile/Scripts/knockout-2.0.0.js"></script>
		<script src="http://images.jxt.net.au/mobile/Content/Javascripts/main/core-functions.js"></script>
        @*RenderSection("Header", false)*@
        @RenderSection("Javascript", false)
    </head>
	
    <body>
	
	<div class="wrapper">
		<header>	
        	<nav class="top-fixed-nav"> 
            	<div class="left-col">
                     @if (JXTPortal.Entities.SessionData.Member != null) {
	                        <button class="top-button btn-navbar-icon" type="button" id="jsmenu">
						    	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button> 
                    		<span>Welcome @JXTPortal.Entities.SessionData.Member.Username</span>
	                    }
	                    else
	                    {
	                        <a href="~/account/login" class="top-button">Login</a>
	                    }        
                </div>
                <div class="right-col">
                	 <a href="/" class="flt-right"><img src="http://images.jxt.net.au/mobile/Content/images/icon-home-grey.png" alt="Home"></a>
                </div>   	
    
                <div class="collapse jsmenuCollapse">
                    <ul>
                        <li><a href="/Account/SavedJobs">My Saved Jobs</a></li>
                        <li><a href="/Account/MyAlerts">My Alerts</a></li>
                        <li><a href="/Account/Documents">My Resumes/Cover Letter</a></li>
                        <li><a href="/Account/ChangePassword">Change Password</a></li>
                        <li><a href="/Account/LogOff">Log off</a></li>
                    </ul>
                </div><!-- end of jsmenuCollapse --> 

	              
            </nav>	
       </header>	                        
        <div class="header-logo">
            <a href="/"><img src="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Images/titanlogo.png" width="177" height="79" alt="Titan Recruitment Logo" /></a>                  
        </div>
		                

			
		<section>	
        	<div class="content-wrap body-content">
		        	@RenderBody()                      
                    
                    
            </div>
		</section>
				
		<footer>
		
		    	<div class="mobi-footer">
					<div class="mobi-footer-content">
					 <a href="http://www.linkedin.com/company/titan-recruitment/careers?trk=tabs_biz_career" id="connectLinkedIn" target="_blank"><img src="http://images.jxt.net.au/mobile/Content/Whitelabel/132/Images/connect-with-us.png" width="297" alt="Connect with us on LinkedIn"/></a>	
				     
				     <a href="/" class="titan-mobi-btns" id="footerLogo">Titan Recruitment Logo</a>	
				     <p class="footerTagline">Engineering, Mining and IT & T Recruitment</p>
				     		
				     </div>	
				</div><!-- end of mobi-footer -->            	
		</footer>
	</div>
    </body>
</html>


