<div data-equalizer="features" data-equalize-on="medium">
    <div class="l-features__row" data-equalizer="features-intro" data-equalize-on="medium" data-sf-element="Row">
        <div class="l-features__cell">
            <article class="o-features">
                <div class="sf_colsIn o-features__intro" data-equalizer-watch="features-intro" data-placeholder-label="Intro 1" data-sf-element="Intro 1">
                </div>
                <div class="sf_colsIn o-features__list" data-equalizer-watch="features" data-placeholder-label="List 1" data-sf-element="List 1">
                </div>
                <div class="sf_colsIn o-features__action" data-placeholder-label="Action 1" data-sf-element="Action 1">
                </div>
            </article>
        </div>
        <div class="l-features__cell">
            <article class="o-features">
                <div class="sf_colsIn o-features__intro" data-equalizer-watch="features-intro" data-placeholder-label="Intro 2" data-sf-element="Intro 2">
                </div>
                <div class="sf_colsIn o-features__list" data-equalizer-watch="features" data-placeholder-label="List 2" data-sf-element="List 2">
                </div>
                <div class="sf_colsIn o-features__action" data-placeholder-label="Action 2" data-sf-element="Action 2">
                </div>
            </article>
        </div>
    </div>
</div>