@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Modules.Libraries;

@if (Model.Item.Fields.Testimonials != null && Model.Item.Fields.Testimonials.Length > 0)
{
<div class="page-section @Model.CssClass">
    <div class="container">
        <div class="testimonials-slider testimonials-simple">
            <div class="owl-carousel owl-carousel-testimonials owl-theme">

                @foreach (var testimonial in Model.Item.Fields.Testimonials)
                {
                    if ((string)testimonial.Fields.Quote != "")
                    {
                        <div class="item">
                            <div class="quote"><span>“</span></div>
                            <div class="testimonial">@testimonial.Fields.Quote</div>
                            <div class="testimonial-author">@testimonial.Fields.By</div>
                            <div class="quote text-right"><span>”</span></div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
}
