<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6929.0">
	<connectionStrings>
		<add connectionString="data source=192.168.0.249,2433;UID=jxtnextusr;PWD=ids@12345;initial catalog=JXTNext_Demo112" name="Sitefinity" />
	</connectionStrings>
</dataConfig>