<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-JXTNext.Sitefinity" rolesCookieName=".SFROLES-JXTNext.Sitefinity" validationKey="11AC710DD211C450B2E50B27DDD1094BCE49EB2BCB89C138B23E6A9FF24C57089942DBEECE3877F86F9C3C9E09A03E199AF420BAC22D288C910F18901C925F67" decryptionKey="44DBB4DA19F4EBEE29B55BC4B7F20367E82AD6B89A72602013D7DE56957A2A15" loggingCookieName=".SFLOG-JXTNext.Sitefinity">
	<securityTokenIssuers>
		<add key="700EEA2231323207EEBC8C3C58840E5624471E39D9137DD2B5BD8AB393A085BD" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="700EEA2231323207EEBC8C3C58840E5624471E39D9137DD2B5BD8AB393A085BD" realm="http://localhost" />
	</relyingParties>
</securityConfig>