<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6929.0" authCookieName=".SFAUTH-jxtsitefinity112" rolesCookieName=".SFROLES-jxtsitefinity112" validationKey="999A6FE113B2091446FA8A41324EC82B87DBBAF7E138E3B5F405C977E5D6CDC02CF3C9AB7141F877022395AF8ABDDA875A16891852D1E82CF80A519CF84C8C55" decryptionKey="9ABB9E20566C3F84E7426537C8142DBE21E61774D22504A3C7855A723555CBBD" loggingCookieName=".SFLOG-jxtsitefinity112">
	<securityTokenIssuers>
		<add key="B0D0DDEAA9ADDF0DB36429A33E43CC8054B950A0EF16473008AD998BEF2E45B6" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="B0D0DDEAA9ADDF0DB36429A33E43CC8054B950A0EF16473008AD998BEF2E45B6" realm="http://localhost" />
	</relyingParties>
</securityConfig>