<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6929.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="taxons" access="Anonymous" autogenerateTypes="True" urlName="taxons">
					<types>
						<remove clrType="Telerik.Sitefinity.Multisite.Model.Site" />
						<remove clrType="Telerik.Sitefinity.News.Model.NewsItem" />
						<remove clrType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
						<remove clrType="Telerik.Sitefinity.Blogs.Model.Blog" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Event" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Image" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Document" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Video" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.List" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.ListItem" />
						<remove clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Consultants.Consultant" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Marketplace.Marketplace" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Offices.Office" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Testimonials.Testimonial" />
						<remove clrType="Telerik.Sitefinity.Model.Folder" />
						<remove clrType="Telerik.Sitefinity.Pages.Model.PageNode" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>