<div class="callout success">
    <a class="close-button" aria-label="Dismiss alert" href="@Url.Action("","FormController")">
        <span aria-hidden="true">&times;</span>
    </a>
    @ViewBag.SubmitMessage
</div>