@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.RelatedData
@using Telerik.Sitefinity.Web.DataResolving;

@helper RenderBoardMembersFirstName()
{
    string firstName = string.Empty;
    var memberUrl = this.ViewContext.RequestContext.RouteData.Values["action"].ToString();
    if (!string.IsNullOrEmpty(memberUrl))
    {
        firstName = memberUrl.Split('-')[0].ToPascalCase();
        firstName = (firstName.EndsWith("s")) ? $"{firstName}'" : $"{firstName}'s";
    }

    firstName = (string.IsNullOrEmpty(firstName)) ? "Related" : $"{firstName}";

    @:  <h1 style="text-align: center">@firstName articles</h1>
}

<div class="page-section section-lighter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div>
                        @RenderBoardMembersFirstName()
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               @Html.Partial("List.FeaturedArticles", Model)
            </div>
        </div>
    </div>
</div>