.mc-plain-text-wrapper {
    text-align: center;
    background-color: rgb(237, 237, 237) !important;
    letter-spacing: 1px;
    background-image: url('../imgs/star-network.png') !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.multicard .heading {
    font-size: 45px;
    font-weight: 600;
}

.multicard .content-padding {
    padding: 50px 0;
}

.multicard .content {
    color: gray !important;
    font-weight: 400;
    font-size: 20px;
}

.multicard .action-btn {
    width: 200px;
    height: 70px;
    background-color: rgb(243, 14, 60) !important;
    border: none !important;
    border-radius: 40px !important;
}

.multicard span.action-text {
    position: relative;
    top: 12px;
    left: 0;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    color: white !important;
    font-size: 16px !important;
}

.mc-icons-wrapper {
    text-align: center;
    background-color: whitesmoke !important;
    background-image: url('../imgs/triangle.png'),url('../imgs/triangle2.png') !important;
    background-position: bottom left, bottom right !important;
    background-repeat: no-repeat, no-repeat !important;
    background-size: 200px 500px !important;
}

    .mc-icons-wrapper .icons {
        width: 100px;
        padding: 10px;
    }

    .mc-icons-wrapper .row {
        margin-left: 0;
        margin-right: 0;
    }

    .mc-icons-wrapper .icon-border {
        border-right: 2px rgb(243, 14, 60) solid;
        height: 100px;
    }

    .mc-icons-wrapper .last-icon-height {
        height: 100px;
    }

    .mc-icons-wrapper .content {
        padding-top: 20px;
    }

    .mc-icons-wrapper div.row div.col-md-2 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

@media screen and (max-width: 992px) {
    .mc-icons-wrapper .icon-border {
        border-right: none;
    }

    .mc-icons-wrapper .page-icons {
        border-bottom: 2px rgb(243, 14, 60) solid;
        padding-bottom: 20px;
    }
}

.icons-over-image-wrapper{
    position:relative;
}
    .icons-over-image-wrapper .background-image {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        right: 0px;
        filter: brightness(50%);
        -moz-filter: brightness(0.2);
        -ms-filter: brightness(0.2);
    }

.icons-over-image-wrapper .icons {
    width: 100px;
}

.icons-over-image-wrapper .row {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.icons-over-image-wrapper .paragaph-text {
    font-size: 2em;
    font-weight: bold;
    color: yellow !important;
    padding: 50px 0 20px 0;
}

.icons-over-image-wrapper .content {
    font-weight: 600;
    color: white !important;
    padding-bottom: 20px;
    font-size: 20px;
}

.icons-over-image-wrapper hr {
    margin-top: 20px !important;
    margin-bottom: 40px !important;
    border: 0 !important;
    border-top: 2px solid white !important;
    width: 100px !important;
}
