<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="Autofac.Web" version="3.2.0" targetFramework="net40" />
  <package id="AWS.SessionProvider" version="3.1.0.2" targetFramework="net40" />
  <package id="AWSSDK.Core" version="3.1.9.1" targetFramework="net40" />
  <package id="AWSSDK.DynamoDBv2" version="3.1.5.2" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="log4net-loggly" version="7.2.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net40" />
  <package id="TweetSharp" version="2.3.1" targetFramework="net40" />
</packages>