<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="JXTPortal.Data" type="JXTPortal.Data.Bases.NetTiersServiceSection, JXTPortal.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Enterprise Library Configuration-->
  <securityConfiguration defaultAuthorizationInstance="NetTiers.RuleProvider" defaultSecurityCacheInstance="">
    <authorizationProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NetTiers.RuleProvider" />
    </authorizationProviders>
    <securityCacheProviders>
      <add cacheManagerInstanceName="JXTPortal.Entities.EntityCache" defaultSlidingSessionExpirationInMinutes="10" defaultAbsoluteSessionExpirationInMinutes="60" type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Caching Store Provider" />
    </securityCacheProviders>
  </securityConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="JXTPortal.log.exclude" header="----------------------------------------" footer="----------------------------------------" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Error" name="Exceptions">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ServiceLayerExceptionPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" title="JXTPortal Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <cachingConfiguration defaultCacheManager="JXTPortal.Entities.EntityCache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="JXTPortal.Entities.EntityCache" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <log4net>
    <root>
      <level value="ERROR" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="https://logs-01.loggly.com/" />
      <inputKey value="737ae26f-1233-4ee0-90c9-e4f0f3f1aa32" />
      <tag value="log4net" />
    </appender>
  </log4net>
  <appSettings>
    <add key="SaltKey" value="S4lted" />
    <add key="MasterSiteID" value="281" />
    <add key="DefaultPageCodeForLayout" value="SystemPage" />
    <add key="AdministratorRoleID" value="1" />
    <add key="DefaultAdminID" value="1" />
    <add key="AdvancedSearchPaging" value="7" />
    <add key="WebsiteUrlPostfix" value=".jxt.net.au" />
    <add key="SQLServer1" value="Data Source=JXT-WS01;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=sa;Password=nameofthegame" />
    <!-- Start Member Broadcast page -->
    <add key="MemberSavedJobsPaging" value="5" />
    <add key="MemberApplicationPaging" value="5" />
    <add key="MemberJobAlertPaging" value="5" />
    <!-- End Member Broadcast page -->
    <!-- Start Advertiser Broadcast page -->
    <add key="AdvertiserCurrentJobsPaging" value="5" />
    <!-- End Advertiser Broadcast page -->
    <add key="SitePaging" value="10" />
    <add key="EncryptionKey" value="JXTSite$" />
    <!-- Application File Types -->
    <add key="ApplicationFileTypes" value=".txt,.doc,.docx,.pdf,.rtf,.xls,.xlsx" />
    <add key="ValidUploadFileTypes" value=".pdf,.xls,.xlsx,.csv,.jpeg,.png,.gif,.doc,.docx,.ppt,.xml,.txt,.jpg,.svg,.ico,.css" />
    <add key="ImageFileTypes" value=".jpg,.jpeg,.bmp,.png,.gif,.ico" />
    <!-- File Storage Paths -->
    <add key="WebsiteFullPath" value="C:\Developments\MiniJXT\MiniJXT\JXTPortal.Website" />
    <add key="FileAndImagePaths" value="/uploads/files/" />
    <add key="ApplicationUploadCoverLetterPaths" value="/uploads/applications/coverletter/" />
    <add key="ApplicationUploadResumePaths" value="/uploads/applications/resume/" />
    <add key="MemberUploadPicturePaths" value="/media/candidate/" />
    <!-- XML Files Paths -->
    <add key="XMLFilesPath" value="/xml/" />
    <!-- FTP Paramemters -->
    <add key="FTPHost" value="ftp://10.0.20.87/" />
    <add key="FTPUsername" value="jxtupload" />
    <add key="FTPPassword" value="jobx123" />
    <add key="RootFolder" value="media" />
    <add key="MemberRootFolder" value="testing3" />
    <add key="SitesFolder" value="sites" />
    <add key="AdvertisersFolder" value="advertisers" />
    <add key="AdvertiserJobTemplateLogoFolder" value="advertiserjobtemplatelogo" />
    <add key="MemberFilesFolder" value="memberfiles" />
    <add key="ConsultantsFolder" value="consultants" />
    <add key="JobTemplatesFolder" value="jobtemplates" />
    
    <add key="FTPHostUrl" value="ftp://images.jxt.net.au/" />
    <add key="HTTPHostUrl" value="http://images.jxt.net.au/" />
    <add key="FTPUsername" value="jxtimg" />
    <add key="FTPPassword" value="Tep29frA" />
    <!-- Job Apply FTP Paramemters -->
    <add key="FTPJobApplyCoverLetterUrl" value="ftp://10.0.20.87/applications/test/" />
    <add key="FTPJobApplyResumeUrl" value="ftp://10.0.20.87/applications/test/" />
    <add key="FTPMemberProfilePicUrl" value="http://10.0.20.87:84/uploads/media/candidate/" />
    <add key="FTPFileManager" value="ftp://10.0.20.87/media/" />
    <add key="HTTPFileManager" value="http://10.0.20.87:84/uploads/media/" />
    <add key="FTPJobApplyUsername" value="jxtupload" />
    <add key="FTPJobApplyPassword" value="jobx123" />
    <add key="LocalCoverLetterPath" value="C:\Temp\applications\" />
    <add key="LocalResumePath" value="C:\Temp\applications\" />
    <add key="LocalPDFPath" value="C:\Temp\applications\" />
    <!-- Custom Job Applications - XML and PDFs -->
    <add key="FTPCustomJobApplications" value="ftp://10.0.20.87/applications/others/" />
    <add key="CKEditor:BasePath" value="~/ckeditor" />
    <add key="DisplayErrorMessage" value="false" />
    <add key="PeopleBankWLs" value=" 246 " />
    <add key="SafeSearchWLs" value=" 570 " />
    <add key="MultiSiteIDs" value=" 441 " />
    <add key="IsPaypalLive" value="0" />
    <add key="IsSeekLive" value="0" />
    <add key="PAYFLOW_HOST" value="pilot-payflowpro.paypal.com" />
    <add key="SalesForceSyncSiteIDs" value=" 441 " />
    <add key="SalesForceSyncUrl" value="http://localhost:62564/SalesForce2.aspx" />
    <add key="ServiceDottIntegrationIDs" value=" 469 " />
    <add key="ServiceDottIntegrationEncryptKey" value="JXT-kdjnnQ5vK2qZ" />
    <add key="IsWeVideoLive" value="0" />
    <!-- Custom Member Profile Edit -->
    <add key="EnworldSiteID" value=" 281 " />
    <add key="IndeedDataFile" value="~/uploads/IndeedResponse.txt" />
    <add key="301RedirectUrlFolder" value="\\10.0.120.157\c$\uploads\" />
    <add key="301RedirectCacheTime" value="360" />
    <add key="MonashSAMLSSOSiteId" value=" 506 " />
    <add key="MonashSAMLSSOLive" value="false" />
    <add key="IsPlatformLive" value="false" />
    <add key="GoogleReCaptchaSiteKey" value="6Lf9FhUTAAAAAPmy1laIwzFONw7m-htIeDv9y6Wf" />
    <add key="GoogleReCaptchaSiteSecret" value="6Lf9FhUTAAAAAPg0B_T2JhXJ6tHDo9zkJ8afaEof" />
    <add key="EmailValidationRegex" value="^(?(&quot;)(&quot;.+?(?&lt;!\\)&quot;@)|(([0-9a-z]((\.(?!\.))|[-!#\$%&amp;'\*\+/=\?\^`\{\}\|~\w])*)(?&lt;=[0-9a-z])@))(?(\[)(\[(\d{1,3}\.){3}\d{1,3}\])|(([0-9a-z][-\w]*[0-9a-z]*\.)+[a-z0-9][\-a-z0-9]{0,22}[a-z0-9]))$" />
  </appSettings>
  <connectionStrings>
    <add name="JXTPortal.Data.ConnectionString" connectionString="Data Source=JXT-WS01;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=sa;Password=nameofthegame" />
    <!--<add name="JXTPortal.Data.ConnectionString" connectionString="Data Source=JXT-WS01;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=sa;Password=nameofthegame" />-->
    <add name="JXTPortal.DocumentStorage" connectionString="Url=http://dittonarotama:8080" />
  </connectionStrings>
  <JXTPortal.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlNetTiersProvider" type="JXTPortal.Data.SqlClient.SqlNetTiersProvider, JXTPortal.Data.SqlClient" connectionStringName="JXTPortal.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="JXTPortal.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" defaultCommandTimeout="30" />
      <!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/JXTPortal/JXTPortalServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="JXTPortal.Data.WebServiceClient.WsNetTiersProvider, JXTPortal.Data.WebServiceClient"
					url="/JXTPortalServices.asmx" />
			-->
    </providers>
  </JXTPortal.Data>
  <!-- URL Rewriting-->
  <rewriter>
    <!-- Home Page -->
    <rewrite url="~/en/?[\?]?$" to="~/en/default.aspx" />
    <rewrite url="~/zh/?[\?]?$" to="~/zh/default.aspx" />
    <rewrite url="~/en-us/?[\?]?$" to="~/en-us/default.aspx" />
    <rewrite url="~/jp/?[\?]?$" to="~/jp/default.aspx" />
    <rewrite url="~/ko/?[\?]?$" to="~/ko/default.aspx" />
    <rewrite url="~/th/?[\?]?$" to="~/th/default.aspx" />
    <rewrite url="~/zh-cn/?[\?]?$" to="~/zh-cn/default.aspx" />
    <rewrite url="~/vi/?[\?]?$" to="~/vi/default.aspx" />
    <rewrite url="~/nl/?[\?]?$" to="~/nl/default.aspx" />
    <rewrite url="~/fr/?[\?]?$" to="~/fr/default.aspx" />
    <rewrite url="~/de/?[\?]?$" to="~/de/default.aspx" />
    <rewrite url="~/es/?[\?]?$" to="~/es/default.aspx" />
    <rewrite url="~/es-xl/?[\?]?$" to="~/es-xl/default.aspx" />

    <!--<rewrite url="~/contact-us/(.+)" to="~/pages/enquiry.aspx" />-->
    <!-- Dynamic Pages "/en/..." support -->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/page/(.+)/$" to="~/$1$2/pages/page.aspx?code=$3" />
    <if url="^/(.{2,2})(-.{2,2}){0,1}/page/(.+)$">
      <redirect to="/$1$2/page/$3/" />
    </if>
    <!-- (normal) -->
    <rewrite url="~/page/(.+)/$" to="~/pages/page.aspx?code=$1" />
    <if url="^/page/(.+)$">
      <redirect to="/page/$1/" />
    </if>
    <!-- News -->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/news/(.+)/(\d+)/$" to="~/$1$2/news.aspx?url=$3&amp;newsid=$4" />
    <!-- (normal) -->
    <rewrite url="~/news/(.+)/(\d+)/$" to="~/news.aspx?url=$1&amp;newsid=$2" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/news/(.+)/(\d+)/(\?)(.*)*$" to="~/$1$2/news.aspx?url=$3&amp;newsid=$4" />
    <if url="^/(.{2,2})(-.{2,2}){0,1}/news/(.+)/(\d+)$">
      <redirect to="/$1$2/news/$3/$4/" />
    </if>
    <!-- (normal) -->
    <rewrite url="~/news/(.+)/(\d+)/(\?)(.*)*$" to="~/news.aspx?url=$1&amp;newsid=$2" />
    <if url="^/news/(.+)/(\d+)$">
      <redirect to="/news/$1/$2/" />
    </if>
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/news/$" to="~/$1$2/news.aspx" />
    <if url="^/(.{2,2})(-.{2,2}){0,1}/news$">
      <redirect to="/$1$2/news/" />
    </if>
    <!-- (normal) -->
    <rewrite url="~/news/$" to="~/news.aspx" />
    <if url="^/news$">
      <redirect to="/news/" />
    </if>
    <rewrite url="~/news[\?](.*)$" to="~/news.aspx" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/news/category/(.+)/$" to="~/$1$2/news.aspx?category=$3" />
    <!-- LIVE <rewrite url="~/news/category/(.+)[\?](.*)$" to="~/news.aspx?category=$1" />-->
    <if url="^/(.{2,2})(-.{2,2}){0,1}/news/category/(.+)$">
      <!--LIVE <if url=" ^/news/category/([\?\.]+)$">-->
      <redirect to="/$1$2/news/category/$3/" />
    </if>
    <!-- (normal) -->
    <rewrite url="~/news/category/(.+)/$" to="~/news.aspx?category=$1" />
    <if url="^/news/category/(.+)$">
      <redirect to="/news/category/$1/" />
    </if>
    <!-- Members -->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/members/(.+)/$" to="~/$1$2/member/publicprofile.aspx?memberurlextension=$3" />
    <if url="^/(.{2,2})(-.{2,2}){0,1}/members/(.+)$">
      <redirect to="/$1$2/members/$3/" />
    </if>
    <!-- (normal) -->
    <rewrite url="~/members/(.+)/$" to="~/member/publicprofile.aspx?memberurlextension=$1" />
    <if url="^/members/(.+)$">
      <redirect to="/members/$1/" />
    </if>
    <!-- Advertiser -->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/advertisers/(.+)/$" to="~/$1$2/advertiser/publicprofile.aspx?advertiserid=$3" />
    <if url="^/(.{2,2})(-.{2,2}){0,1}/advertisers/(.+)$">
      <redirect to="/$1$2/advertisers/$3/" />
    </if>
    <!-- (normal) -->
    <rewrite url="~/advertisers/(.+)/$" to="~/advertiser/publicprofile.aspx?advertiserid=$1" />
    <if url="^/advertisers/(.+)$">
      <redirect to="/advertisers/$1/" />
    </if>
    <!--<rewrite url="~/job/emailfriend/(\d+)" to="~/member/emailfriend.aspx?jobid=$1"/>
		<rewrite url="~/job/emailme/(\d+)" to="~/member/emailme.aspx?jobid=$1"/>-->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/advertiser/terms/(.+)" to="~/$1$2/advertiser/AdvertiserTerms.aspx$3" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/member/terms/(.+)" to="~/$1$2/member/MemberTerms.aspx$3" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/t/(.+)" to="~/$1$2/ConsultantProfile.aspx?consultantname=$3" />
    <!-- (normal) -->
    <rewrite url="~/advertiser/terms/(.+)" to="~/advertiser/AdvertiserTerms.aspx$1" />
    <rewrite url="~/member/terms/(.+)" to="~/member/MemberTerms.aspx$1" />
    <rewrite url="~/t/(.+)" to="~/ConsultantProfile.aspx?consultantname=$1" />
    <!-- LIVE <redirect url="^/default.aspx$" to="~/" /> -->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/advertiser/terms/" to="~/$1$2/advertiser/AdvertiserTerms.aspx" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/member/terms/" to="~/$1$2/member/MemberTerms.aspx" />
    <!-- (normal) -->
    <rewrite url="~/advertiser/terms/" to="~/advertiser/AdvertiserTerms.aspx" />
    <rewrite url="~/member/terms/" to="~/member/MemberTerms.aspx" />
    <redirect url="^/default.aspx$" to="~/" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/job/emailfriend/(\d+)/([a-z0-9\-]+)" to="~/$1$2/member/emailfriend.aspx?jobid=$3&amp;profession=$4" />
    <!-- (normal) -->
    <rewrite url="~/job/emailfriend/(\d+)/([a-z0-9\-]+)" to="~/member/emailfriend.aspx?jobid=$1&amp;profession=$2" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/job/emailme/(\d+)/([a-z0-9\-]+)" to="~/$1$2/member/emailme.aspx?jobid=$3&amp;profession=$4" />
    <!-- (normal) -->
    <rewrite url="~/job/emailme/(\d+)/([a-z0-9\-]+)" to="~/member/emailme.aspx?jobid=$1&amp;profession=$2" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/p/(\d+)/j/(\d+)" to="~/$1$2/jobdetail.aspx?professionid=$3&amp;jobid=$4" />
    <!-- (normal) -->
    <rewrite url="~/p/(\d+)/j/(\d+)" to="~/jobdetail.aspx?professionid=$1&amp;jobid=$2" />
    <!-- Job Browse URLs-->
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;sitelocation=$4&amp;siteworktype=$5&amp;siteprofession=$6&amp;siterole=$7&amp;pageno=$8" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;sitelocation=$4&amp;siteprofession=$5&amp;siterole=$6&amp;pageno=$7" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;siteworktype=$4&amp;siteprofession=$5&amp;siterole=$6&amp;pageno=$7" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;sitelocation=$4&amp;siteworktype=$5&amp;siteprofession=$6&amp;pageno=$7" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;siteworktype=$4&amp;siteprofession=$5&amp;pageno=$6" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;sitelocation=$4&amp;siteprofession=$5&amp;pageno=$6" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;sitelocation=$4&amp;siteworktype=$5&amp;pageno=$6" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;siteprofession=$4&amp;pageno=$5" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;siteprofession=$4&amp;siterole=$5&amp;pageno=$6" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?siteworktype=$3&amp;siteprofession=$4&amp;siterole=$5&amp;pageno=$6" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?siteprofession=$3&amp;siterole=$4" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?siteworktype=$3&amp;siteprofession=$4" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;sitelocation=$4&amp;pageno=$5" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;siteworktype=$4&amp;pageno=$5" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?siteprofession=$3&amp;pageno=$4" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/c/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?sitecountry=$3&amp;pageno=$4" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/w/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?siteworktype=$3&amp;pageno=$4" />
    <!-- (normal) -->
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;sitelocation=$2&amp;siteworktype=$3&amp;siteprofession=$4&amp;siterole=$5&amp;pageno=$6" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;sitelocation=$2&amp;siteprofession=$3&amp;siterole=$4&amp;pageno=$5" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;siteworktype=$2&amp;siteprofession=$3&amp;siterole=$4&amp;pageno=$5" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;sitelocation=$2&amp;siteworktype=$3&amp;siteprofession=$4&amp;pageno=$5" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;siteworktype=$2&amp;siteprofession=$3&amp;pageno=$4" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;sitelocation=$2&amp;siteprofession=$3&amp;pageno=$4" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;sitelocation=$2&amp;siteworktype=$3&amp;pageno=$4" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;siteprofession=$2&amp;pageno=$3" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;siteprofession=$2&amp;siterole=$3&amp;pageno=$4" />
    <rewrite url="~/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?siteworktype=$1&amp;siteprofession=$2&amp;siterole=$3&amp;pageno=$4" />
    <rewrite url="~/p/([a-z0-9\-]+)(?:-jobs)/r/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?siteprofession=$1&amp;siterole=$2" />
    <rewrite url="~/w/([a-z0-9\-]+)(?:-jobs)/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?siteworktype=$1&amp;siteprofession=$2" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/l/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;sitelocation=$2&amp;pageno=$3" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/w/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;siteworktype=$2&amp;pageno=$3" />
    <rewrite url="~/p/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?siteprofession=$1&amp;pageno=$2" />
    <rewrite url="~/c/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?sitecountry=$1&amp;pageno=$2" />
    <rewrite url="~/w/([a-z0-9\-]+)(?:-jobs)/([0-9]+)*$" to="~/jobbrowse.aspx?siteworktype=$1&amp;pageno=$2" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/jobbrowse/([0-9]+)*$" to="~/$1$2/jobbrowse.aspx?pageno=$3" />
    <!-- (normal) -->
    <rewrite url="~/jobbrowse/([0-9]+)*$" to="~/jobbrowse.aspx?pageno=$1" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/applyjob/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)*[/]*$" to="~/$1$2/applyjob.aspx?jobid=$5&amp;profession=$3&amp;jobname=$4" />
    <!-- (normal) -->
    <rewrite url="~/applyjob/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)*[/]*$" to="~/applyjob.aspx?jobid=$3&amp;profession=$1&amp;jobname=$2" />
    <!-- (lang) -->
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)*[/]*$" to="~/$1$2/jobdetail.aspx?jobid=$5&amp;profession=$3" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)(\?+)([a-z_=\&amp;]+)$" to="~/$1$2/jobdetail.aspx?jobid=$5&amp;profession=$3&amp;$7" />
    <rewrite url="~/(.{2,2})(-.{2,2}){0,1}/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)(\?)(.*)*$" to="~/$1$2/jobdetail.aspx?jobid=$5&amp;profession=$3" />
    <!-- (normal) -->
    <rewrite url="~/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)*[/]*$" to="~/jobdetail.aspx?jobid=$3&amp;profession=$1" />
    <rewrite url="~/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)(\?+)([a-z_=\&amp;]+)$" to="~/jobdetail.aspx?jobid=$3&amp;profession=$1&amp;$5" />
    <rewrite url="~/([a-z0-9\-]+)(?:-jobs)/(.*)/[_]*([0-9]+)(\?)(.*)*$" to="~/jobdetail.aspx?jobid=$3&amp;profession=$1" />
    <!-- For Signatures  -->
    <rewrite url="^/([^/]+\.jpg)$" to="~/signature/$1" />
    <rewrite url="^/([^/]+\.gif)$" to="~/signature/$1" />
    <rewrite url="^/([^/]+\.png)$" to="~/signature/$1" />
    <rewrite url="^(/.+(\.gif|/.+\.png|\.jpg|\.ico|\.pdf|\.css|\.js|\.asmx|\.axd|\.flv|\.swf)(\?.+)?)$" to="$1" processing="stop" />
    <!--<rewrite name="AdvertiserRedirect" url="~/Advertiser/register(.*)$" to="~/default.aspx" ignoreCase="true" permanent="true" />-->
    <!--<rewrite name="BrowseTimesheets" url="~/timesheets$" to="~/pages/page.aspx?code=contractors/timesheets" ignoreCase="true" />-->
    <rewrite url="^/admin/?$" to="~/admin/default.aspx" />
    <!-- (lang) -->
    <rewrite url="^/(.{2,2})(-.{2,2}){0,1}/member/?$" to="~/$1$2/member/default.aspx" />
    <!-- (normal) -->
    <rewrite url="^/member/?$" to="~/member/default.aspx" />
    <!-- (lang) -->
    <rewrite url="^/(.{2,2})(-.{2,2}){0,1}/advertiser/?$" to="~/$1$2/advertiser/default.aspx" />
    <!-- (normal) -->
    <rewrite url="^/advertiser/?$" to="~/advertiser/default.aspx" />
    <rewrite url="^/mobilesite/?$" to="~/mobilesite/index.html" />
    <rewrite url="^/[\?]+[^\.]*$" to="~/default.aspx" />
    <!-- (lang) -->
    <rewrite url="^/(.{2,2})(-.{2,2}){0,1}/([^\.\?\+\,\%\&amp;\*\'\\\:\&lt;\&gt;\[\]\^\`\{\}\|]+)$" to="~/$1$2/pages/page.aspx?code=$3&amp;customurl=1" />
    <!-- (normal) -->
    <rewrite url="^/([^\.\,\%\*\'\\\:\&lt;\&gt;\[\]\^\`\{\}\|]+)$" to="~/pages/page.aspx?code=$1&amp;customurl=1" />
  </rewriter>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="32768" requestValidationMode="2.0" enableVersionHeader="false" />
    <globalization culture="en-AU" />
    <!-- Comment this out for Dev Environment  -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="Data Source=JXT-WS01;Persist Security Info=True;User ID=sa;Password=nameofthegame" cookieless="false" timeout="20" />
    <!-- AWS Session State-->
    <!--<sessionState mode="Custom" customProvider="DynamoDBSessionStoreProvider">
      <providers>
        <add name="DynamoDBSessionStoreProvider" type="Amazon.SessionProvider.DynamoDBSessionStateStore, AWS.SessionProvider"
          AWSAccessKey="AKIAIEA7THXVGQ44ILBA" AWSSecretKey="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"
          Table="ASP.NET_SessionState" Region="ap-southeast-2" />
      </providers>
    </sessionState>-->
    <machineKey validationKey="70CFC03BB7D19AB0703831EB781987F6C1A7E0EB611436C6CBC09E2CCF530ECE152B3D1D7656608B620B5C0A396825B14A8D2BF1DB3E8C4909A431C8FB7767D0" decryptionKey="376CEE0CBC66F7C0A40C983879501E45D179EE586E2041CA5BF75ECA929B1839" validation="SHA1" decryption="AES" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="data" namespace="JXTPortal.Web.Data" assembly="JXTPortal.Web" />
        <add tagPrefix="data" namespace="JXTPortal.Web.UI" assembly="JXTPortal.Web" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="JXTControl" namespace="TinyMCETextBox" assembly="TinyMCETextBox" />
        <add tagPrefix="FredCK" namespace="CKEditor.NET" assembly="CKEditor.NET" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/HTMLEditor.ascx" tagName="HTMLEditor" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/ucLanguages.ascx" tagName="ucLanguages" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/ucHeader.ascx" tagName="ucHeader" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/ucFooter.ascx" tagName="ucFooter" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/ucLanguageLiteral.ascx" tagName="ucLanguageLiteral" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/ucSystemDynamicPage.ascx" tagName="ucSystemDynamicPage" />
        <add tagPrefix="JXTControl" src="~/usercontrols/member/MemberNavigation.ascx" tagName="MemberNavigation" />
        <add tagPrefix="JXTControl" src="~/usercontrols/member/ucMemberApplicationTracker.ascx" tagName="MemberApplicationTracker" />
        <add tagPrefix="JXTControl" src="~/usercontrols/advertiser/AdvertiserNavigation.ascx" tagName="AdvertiserNavigation" />
        <add tagPrefix="JXTControl" src="~/userControls/advertiser/ucAdvertiserJobTemplateLogo.ascx" tagName="AdvertiserJobTemplateLogo" />
        <add tagPrefix="JXTControl" src="~/usercontrols/job/ucJobPreview.ascx" tagName="JobPreview" />
        <add tagPrefix="JXTControl" src="~/usercontrols/job/ucJobFields.ascx" tagName="JobFieldsEdit" />
        <add tagPrefix="JXTControl" src="~/usercontrols/navigation/ucMemberAdvertiserNavigation.ascx" tagName="MemberAdvertiserNavigation" />
        <add tagPrefix="JXTControl" src="~/usercontrols/common/ucPrivacySettings.ascx" tagName="ucPrivacySettings" />
        <add tagPrefix="JXTControl" src="~/Admin/UserControls/DynamicPagesFieldsList.ascx" tagName="DynamicPagesField" />
        <add tagPrefix="JXTControl" src="~/Admin/UserControls/DynamicPageRevisionsFields.ascx" tagName="DynamicPageRevisionsField" />
        <add tagPrefix="JXTControl" src="~/Admin/UserControls/FileManagerFiles.ascx" tagName="FileManagerFiles" />
        <add tagPrefix="JXTControl" src="~/Admin/UserControls/SiteRepeaters.ascx" tagName="SiteRepeaters" />
        <!--
		<add tagPrefix="JXTControl" src="~/usercontrols/common/CalendarDropDown.ascx"	tagName="CalendarDropDown" />
		<add tagPrefix="JXTControl" tagName="ProfessionRoleTreeView" src="~/Admin/UserControls/ProfessionRoleTreeView.ascx" />	
		<add tagPrefix="JXTControl" src="~/Admin/UserControls/EmailTemplatesFields.ascx"	tagName="EmailTemplatesField" />-->
      </controls>
    </pages>
    <httpModules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" />
      <add name="AttributeInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" />
      <add name="EntityTransactionModule" type="JXTPortal.Web.Data.EntityTransactionModule, JXTPortal.Web" />
      <!-- This section is used for IIS6 -->
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
    </httpModules>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" batch="false" targetFramework="4.0"></compilation>
    <siteMap enabled="true">
      <providers>
        <add name="ContentEditorSitemapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.Administration.sitemap" />
        <add name="DeveloperSitemapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.Developer.sitemap" />
        <add name="ContributorSitemapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.Contributor.sitemap" />
      </providers>
    </siteMap>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        <authentication mode="Windows" />
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="404.aspx">
      <error statusCode="403" redirect="404.aspx" />
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\JobXMail\au" />
      </smtp>
      <!--<smtp deliveryMethod="Network" from="testuser@jxt.com">
        <network defaultCredentials="false" host="jobx-svr01.jobx.local" port="25" userName="Daniel.Ng" password="d@1234"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </handlers>
    <!-- This section is used for IIS7 -->
    <modules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="AttributedInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ValidationConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="bin\validation.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>