<div class="container margin-container">
    <div class="row" data-sf-element="Row" data-placeholder-label="News Details">
        <div class="sf_colsIn col-auto vertical-social-share">

        </div>
        <div class="sf_colsIn col blog-detail-col">

        </div>
    </div>

    <div class="row also_like-row" data-sf-element="Row" data-placeholder-label="News List">

        <div class="sf_colsIn col-md-12" data-sf-element="Footer News-List" data-placeholder-label="Footer News-List">

        </div>

    </div>
</div>