<div class="container">
    <div class="row" data-sf-element="Row">
        <div class="sf_colsIn col-md-3" data-placeholder-label="Navigation Col1">
        </div>
        <div class="sf_colsIn col-md-3" data-placeholder-label="Navigation Col2">
        </div>
        <div class="sf_colsIn col-md-3" data-placeholder-label="Navigation Col3">
        </div>
        <div class="sf_colsIn col-md-3" data-placeholder-label="Navigation Col4">
        </div>
    </div>
    <hr class="divider">
    <div class="sf_colsIn full-width" data-sf-element="Row" data-placeholder-label="Below Footer Menu">
       
    </div>
</div>
