<section class="multiple-ideas bg-grey">
    <div class="container1">
        <div class="row align-items-center no-gutters">
            <div class="sf_colsIn col-12 col-lg-6 pt-5 pb-5  wow fadeInLeft" data-sf-element="Left Container" data-placeholder-label="Left Container">

            </div>
            <div class="col-12 col-lg-6">
                <div class="row no-gutters squire-box-row">
                    <div class="col-12 col-md-6 wow slideInUp" data-wow-delay="0.3s">

                        <div class="sf_colsIn h-100" data-sf-element="Right Top Left" data-placeholder-label="Right Top Left">

                        </div>
                    </div>
                    <div class="col-12 col-md-6 wow slideInUp" data-wow-delay="0.3s">


                        <div class="sf_colsIn h-100" data-sf-element="Right Top Right" data-placeholder-label="Right Top Right">


                        </div>
                    </div>
                    <div class="col-12 col-md-6 wow slideInUp" data-wow-delay="0.3s">


                        <div class="sf_colsIn h-100" data-sf-element="Right Bottom Left" data-placeholder-label="Right Bottom Left">


                        </div>
                    </div>
                    <div class="col-12 col-md-6 wow slideInUp" data-wow-delay="0.3s">

                        <div class="sf_colsIn h-100" data-sf-element="Right Bottom Right" data-placeholder-label="Right Bottom Right">


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>