<section class="job_search_section">
    <div class="container">
        <div class="row">
            <div class="sf_colsIn col-12 col-sm-12 col-md-4 filter_sidebar" data-sf-element="Filter Section" data-placeholder-label="Filter Section">

            </div>

            <div class="sf_colsIn jobs-list col-12 col-sm-12 col-md-8" data-sf-element="Search Jobs Section" data-placeholder-label="Search Jobs Section">

            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>