@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">
    <h1>Hudson @Model.Item.Fields.Name</h1>
    <div>
        @Html.HtmlSanitize((string)Model.Item.Fields.OfficeBio)
    </div>
</div>