@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

@if (Model.Item.Fields.HeroImage != null)
{
    <div class="jumbotron-container">
        <div class="jumbotron" style="background-image: url('@Model.Item.Fields.HeroImage.Fields.MediaUrl');">
            <div class="jumbotron-content">
                <h1>@Model.Item.Fields.Name</h1>
                <p></p>
            </div>
        </div>
    </div>
}

