@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@{ int officesCounter = 0;}

<div class="page-section section-lighter @Model.CssClass">
    <div class="container card-bg-image-dark">
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
            var heroImageStyleRule = (item.Fields.HeroImage != null) ? $"background-image: url({item.Fields.HeroImage.Fields.MediaUrl})" : "background-color: rgba(0,112,119,.9)";

            if (officesCounter % 4 == 0)
            {
                @: <div class="row">
            }
                <div class="col-md-3">
                    <div class="thumbnail card-rollover-bg">
                        <a href="@navigateUrl">
                            <div class="caption" style="@heroImageStyleRule;
         background-position: 50% 50%;
         background-size: cover;
         background-repeat: no-repeat;">
                                <div class="card-description">
                                    <div class="display-table">
                                        <div class="card-description-content">
                                            <h3>@item.Fields.Name</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="btn btn-more"></span>
                        </a>
                    </div>
                </div>

         if (officesCounter % 4 == 3 || officesCounter == (Model.Items.Count() - 1))
         {
            @: </div>
         }

            officesCounter++;
        }
    </div>
</div>