@model dynamic

@if (Model != null)
{
    if (Model.Success == true)
    {
        <div>@Model.Job.Title</div>
        <div>@Model.Job.Description</div>
   }
    else
    {
        foreach (var message in @Model.Messages)
        {
            <div>@message</div>
        }
    }
}

