@model dynamic

@if (Model != null)
{
<button class="btn btn-default"><a href="#" id="back-to-results">Back To Results</a></button>
    <br /><br />
    if (Model.Success == true)
    {
        <div>@Model.Job.Title</div>
        <div>@Model.Job.Description</div>
   }
    else
    {
        foreach (var message in @Model.Messages)
        {
            <div>@message</div>
        }
    }
}


<script type="text/javascript">
    $(document).ready(function () {
        var previousUrl = document.referrer;
        $("#back-to-results").attr("href", getUrlPath(previousUrl));

        function getUrlPath(backUrl) {
            var index = nthIndex(backUrl, '/', 3);
            var urlPath = "#";
            if (index !== -1)
                urlPath = backUrl.substr(index);

            return urlPath;
        };

        function nthIndex(url, pat, n) {
            var index = -1;
            while (n-- && index++ < url.length) {
                index = url.indexOf(pat, index);
                if (index < 0) break;
            }
            return index;
        };
    });
</script>

