@model dynamic

@if (Model != null)
{
<button class="btn btn-default"><a href="#" id="back-to-results">Back To Results</a></button>
    <br /><br />
    if (Model.Success == true)
    {
        <div>@Model.Job.Title</div>
        <div>@Model.Job.Description</div>
   }
    else
    {
        foreach (var message in @Model.Messages)
        {
            <div>@message</div>
        }
    }
}


<script type="text/javascript">
    $(document).ready(function () {
        var previousUrl = new URL(document.referrer);
        var urlPath = previousUrl.pathname + previousUrl.search
        $("#back-to-results").attr("href", urlPath);
    });
</script>

