/* Search result widget */

.sf-search-results{
    .sf-media{
        margin-bottom: 2.2rem;
    }
    h3{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    p{
      margin-bottom: 0.5rem;  
    }
}   