@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">
    
    @*Get image*@
    @if (Model.Item.Fields.thumbImage != null)
    {
        <div class="image-holder">
        @foreach (var relatedItem in Model.Item.Fields.thumbImage)
        {
            <img src="@relatedItem.Fields.MediaUrl" alt="@relatedItem.Fields.Title" />
        }
        </div>
    }

    <div class="product-copy">
        @Html.Raw(Model.Item.Fields.Description)
    </div>

</div>
<style>

    

</style>