@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@{
    int jobOfferIndex = 0;
}

@foreach (var jobOffer in Model.SearchResults)
{
    if (jobOfferIndex % 2 == 0)
    {
        @: <div class="row same-height-wrapper">
        }

        <div class="col-md-6">
            <div>
                <div>
                    <div class="featured-job-offer same-height-box">
                        <div class="job-offer-company text-right"><img alt="Asset 2" src="/images/default-source/clients/optus.png" title="Asset 2"></div>
                        <div class="job-offer">
                            <h3>@jobOffer.Title</h3>
                            <p class="text-muted">08.12.2018</p>    @*@jobOffer.DatePosted*@
                            <p class="job-offer-sum">
                                @Html.Raw(jobOffer.ShortDescription)
                            </p>
                        </div>
                        <a class="btn btn-more" href="@ViewBag.JobDetailsPageUrl?jobId=@jobOffer.JobID"></a>
                    </div>
                </div>
            </div>
        </div>

        if (jobOfferIndex % 2 != 0)
        {
        @: </div>
        }

    jobOfferIndex++;
}

<div class="row row-see-more">
    <div class="col-md-12">
        <div>
            <div><div style="text-align: center"><a class="btn btn-default" href="@ViewBag.JobResultsPageUrl">View all jobs</a></div></div>
        </div>
    </div>
</div>
