@model JXTNext.Sitefinity.Widgets.Job.Mvc.Models.JobDetailsViewModel


<div>
    <div>
        <a class="btn btn-primary btn-block" href="@ViewBag.JobApplicationPageUrl?jobid=@Model.JobDetails.JobID">APPLY NOW</a>
    </div>
</div>