// General form styles
input[type="text"], input[type="email"], input[type="tel"], input[type="password"],
textarea{
    padding: 10px;
    width: 100%;
    border:none;
    color: lighten($baseColor,13.5%);
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}
textarea{
    min-height: 100px;
    resize: vertical;
}
.input-text {
    clear: both;
    margin-bottom: 5px;
}
.input-text input {
    display: block;
    width: 100%;
}
.no-label label {
    display: none;
}