/*Screening Questions*/
.SQstTemp {list-style-type:none; margin:0; padding:0}
.SQstTemp li {padding-bottom:10px;}
.SQstTemp li strong {display:block; font-weight:normal !important; padding-bottom:5px;}
.SQstTemp li strong:before {
    content: "Q. ";  font-weight:bold;
}
#lblQstnTempalate > .SQstTemp {
    display: none}
.SQstTemp {background:#ededed; padding:20px; max-height:300px; overflow-y:scroll; }
.STempQstns {list-style-type:none
}
.STempQstns li {
    padding:10px 0; background:#f6f6f6; padding:25px; margin-bottom:20px; border:1px solid #c5c5c5; 
}
.STempQstns li strong{
    display:block
}
.STempQstns li span.remove {
    float:right
    }
#sortable li {
    height:auto !important;
}
.SQstTemp {display:none; padding-top:10px 0; margin-top:15px; border-top:1px dotted #c5c5c5; padding-top:10px;}
.STempQstns li span.remove {display: block; position: relative;}
.STempQstns li span.remove a {margin-top: -15px; position: absolute; right: 0; top: 0;}
