body { font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: 'Titillium Web', sans-serif; }
.links-2 > ul > li > a, #side-drop-menu > li > a{ font-family: 'Titillium Web', sans-serif; font-weight:600; }
h4{ color:#3d96aa}

/* Inner page */
.links-2 > ul, #side-drop-menu, .search-query{ background:#3d96aa;}
#r19_inner-banner-container{ /*background:none;*/}
a{ color:#3d96aa;}
a:hover, a:focus, a:active{ color:#333;}
label{ display:block; margin-bottom:6px;}

.site-btn{ color: #FFF; padding:5px 10px; font-family: 'Titillium Web', sans-serif; font-weight: 700; font-size:15px; background:#3D96AA;}
.site-btn:hover{ background:#18525F; color:#FFF;}
.accordion dt { display: block; margin-bottom:5px; font-family: 'Titillium Web'; font-size: 18px;font-weight: 700; padding:10px 0 10px 50px; color: #3D97AB; cursor: pointer; border: 1px solid #B4B1B1;}
.accordion h4{ margin-top:0;}
.accordion dd{padding: 10px 20px; border: 1px solid #B4B1B1; margin: 0 0 5px 0; border-radius:10px;}
.accordion dt{border-radius: 10px; background: url("../images/ico-arrow.png") 18px 50% no-repeat;}
.accordion p:last-child{ margin-bottom: 5px; }
.testimonial { border: 2px solid #fdfcfc; border-radius: 8px; box-shadow: 0 0 3px #b4b1b1; margin: 0 0 10px; padding: 15px 15px 0 20px;}
.uniForm input, .form-all input, .uniForm select, .form-all select, .uniForm textarea, .form-all textarea, #advanced_search-holder input, #advanced_search-holder select{ border-color:#3d96aa;}
#AdvancedSearchFilter_PnlSalaryBands div input, #search-salary input, .secure-login input.login-inp, #wrapper .form-control, input[type=text], input[type=password], input[type=email], textarea, select{ border-color:#3d96aa;}
.MemberFullRegisterHeader{ color:#3d96aa;}
.MemberFullRegisterHeader:hover{color:#333;}

.button a, .back-to-news-index{ background:#3D96AA;}
.button:hover a, .button:active a, .button:focus a, .back-to-news-index:hover a, .back-to-news-index:active a, .back-to-news-index:focus a{ background:#18525f; color:#FFF;}
h1 strong, h2 strong, h3 strong, h4 strong{ color:#18525f;}
#job-ad-footer a:hover, #job-ad-footer a:focus, #job-ad-footer a:active{ background:#3D96AA !important;}
.apply-now-link a{ background:#bb0000;}
.apply-now-link a:hover, .apply-now-link a:focus, .apply-now-link a:active{ background:#ac2626; color:#FFF;}

/* Left - widget*/
.links-2 > ul{ margin:0;}
.left-widget{ padding:30px 32px 50px; background:#3fabc3;}
.left-widget .r19_search-field{ width:100%; margin-bottom:10px;}
.left-widget .r19_search-field a{ display:block;}
.left-widget h2{ font-size:20px; line-height:20px; padding:0; margin:0 0 10px 0; color:#FFF; text-transform:none; font-weight:600;}

/**/
#job-ad-header h2{ background: url("../images/logo.png") no-repeat 0 0 !important; width: 271px; height: 72px; }

/* Header */
.container-logo:before { transition: all 500ms linear; -moz-transition: all 500ms linear; -ms--moz-transition: all 500ms linear; -o--moz-transition: all 500ms linear; -webkit-transition: all 500ms linear; background: rgba(0, 0, 0, 0) url("../images/top-bg.png") repeat scroll 0 0; content: ""; display: block; height:112px; opacity:0; position: absolute; transition: all 0.5s ease-in-out 0s; width: 100%; }
.container-logo.fixed:before { opacity:1; }
.container-logo .container-fluid { position:relative; z-index:1; }
#r19_top-bar-container { background: url("../images/top-bg.png") repeat-x; }
#r19_top-bar { background: inherit; }
#r19_logo { background: url("../images/logo.png") no-repeat 0 0; width: 300px; height: 90px; margin:20px 0px 0 -13px;}
.r19_social-media a:hover, .r19_social-media a:focus, .r19_social-media a:active, #dynamic-content .r19_social-media a:hover, #dynamic-content .r19_social-media a:focus, #dynamic-content .r19_social-media a:active { background-color: #3D96AA; }
#r19_login-register a { text-transform: uppercase; margin: 0 6px; }
#r19_top-bar .r19_social-media { margin-right: 17px; }
.r19_social-media a { margin-left: 19px; }

/* Navigation */
#r19_navigation-container { background: url("../images/nav-bg.png") repeat-x; }
#r19_navigation > ul > li > a:hover, #r19_navigation > ul > li > a:focus, #r19_navigation > ul > li > a:active { color: #3D96AA; }
#r19_navigation { position: relative; margin: 0; padding:9px 0; float: right; }
#r19_navigation > ul > li > a { font-family: 'Titillium Web', sans-serif; font-size: 15px; color: #FFF; }
#r19_navigation > ul > li.active > a { color: #3D96AA; font-weight: 700; }
#r19_login-register a:hover, #r19_login-register a:focus, #r19_login-register a:active { color: #3D96AA; }
#r19_navigation li li a { background: rgba(44, 44, 42, 0.9); }
#r19_navigation li li a:hover, #r19_navigation li li a:focus, #r19_navigation li li a:active { background: #3D96AA; }
#r19_navigation li:hover > ul, #r19_navigation ul ul:hover{ padding:9px 0;}

select { line-height: 28px; background: none; }
.custom-select { position: relative; }
.custom-select select {-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; position: relative; z-index: 1; } 
.custom-select:before {display: inline-block; content: "\f078"; color: #3d96aa; font-family: FontAwesome; font-style: normal; font-size: 13px; position: absolute; right: 1.2em; top: 0.8em; z-index: 0; text-decoration: inherit; }
.custom-select span {display: block; overflow: hidden; background-color: #fff; } 


/* Banner */
#r19_home-banner-container { height: 588px; width: 100%; margin: 0; }
.r19_home-banner-caption-container{bottom:20%;}
.r19_banner img { height: 100%; width: auto; }
.r19_banner { background: url("../images/banner-bg.png") repeat; }

.r19_banner .row { position: relative; }
.banner-image { position: absolute; right: 76px; bottom: -30px; z-index: -1; }
.banner-image-2{ position: absolute; left:30px; bottom: -30px; }
.abs-left{ right: auto; left: 76px; }

.cycle-pager { position: absolute; top: 50%; left: 50%; margin-left: -622px; margin-top: 40px; z-index: 999; }
.cycle-pager span { width: 13px; height: 13px; background: #FFF; display: block; font-size: 0; margin-bottom: 13px; list-style: none; border-radius: 50%; color: #FFF; cursor: pointer; }
.cycle-pager span.cycle-pager-active { background: #3d96aa; }
.r19_home-banner-caption { padding: 25px 25px 20px 25px; font-style: normal; }
.r19_home-banner-caption h1, .r19_home-banner-caption h2 { text-align: left; margin-bottom: 14px; font-size: 30px; line-height: 35px; font-weight: 700; color: #3D96AA; font-family: 'Titillium Web', sans-serif; }
.r19_home-banner-caption p { color: #333333; font-family: 'Open Sans', sans-serif; text-align: left; margin-bottom: 18px; }
.r19_home-banner-caption a { font-size: 13px; font-weight: 700; color: #3D96AA; font-family: 'Titillium Web', sans-serif; }
.r19_home-banner-caption a:hover { color: #333333; }
#r19_home-banner-search-container { background: #e9eef1; }
#r19_home-banner-search #r19_search-link:hover, #r19_home-banner-search #r19_search-link:focus, #r19_home-banner-search #r19_search-link:active { background-color: #ac2626; border-color: #18525e; }
#r19_search-link i { display: none; }
#r19_home-banner-search #r19_search-link{ font-size:18px; line-height:40px;}
#r19_home-banner-search #r19_search-link span { position: static; text-transform: none; font: 600 18px/1.2 'Titillium Web', sans-serif; }
#r19_home-banner-search #r19_job-search-submit { width: 22%; }
#r19_home-banner-search .r19_search-field { width: 23%; }

#r19_inner-banner-container{ height:130px;}
#r19_inner-banner-container .row{ height:300px;}

/* Midol Part */
.services-block { margin-top: 50px; }
.services-block p { text-align: center; color: #666666; font-size: 14px; line-height: 18px; }
.services-block h2 { margin-bottom: 19px; }
.r19_home-call-to-action-box h2 { font-family: 'Titillium Web', sans-serif; font-weight: 700; color: #3D96AA; }
.r19_home-call-to-action-box h2 a { font-family: 'Titillium Web', sans-serif; font-weight: 700; color: #3D96AA; display: block; text-align: center; }
.r19_home-call-to-action-box h2 a:hover { color: #18525F; }
.r19_home-call-to-action-box h2 span{ background: #3D96AA no-repeat 50% 50%; margin: 0 auto 49px; }
.fa.circluar-icon{ background-color: #3D96AA; margin: 0 auto 25px; }
.circluar-icon:before{ text-align: center; line-height: 1.9; font-size: 50px; display: block; }
.r19_home-call-to-action-box h2 a:hover span, .r19_home-call-to-action-box h2 a:focus span, .r19_home-call-to-action-box h2 a:active span { background-color: #18525F; }
.r19_home-call-to-action-box h2 .r19_submit-resume { background-image: url("../images/submit-resume.svg"); }
.r19_home-call-to-action-box h2 .r19_job-request { background-image: url("../images/refer-friend.svg"); }
.r19_home-call-to-action-box h2 .r19_job-alert { background-image: url("../images/job-search.svg"); }
.r19_home-call-to-action-box h2 .r19_register { background-image: url("../images/register.svg"); }
.r19_home-call-to-action-box .r19_button a { background: #DCE4E6; color: #333333; font-weight: 700; font-family: 'Titillium Web', sans-serif; padding: 0 38px; }
.r19_home-call-to-action-box .r19_button a:hover, .r19_home-call-to-action-box .r19_button a:focus, .r19_home-call-to-action-box .r19_button a:active, .r19_home-call-to-action-box h2 a:hover .circluar-icon { background: #494949; }

/* Job Seekers And Employers */
.r19_background.r19_alt-1 { background: url("../images/employers-bg.png") repeat; }
.r19_our-services-background { background: url("../images/job-bg.png") repeat; }
.job-seekers { margin-top: 87px; padding-bottom: 60px; margin-bottom: 17px; }
.r19_our-services-box h2 { color: #FFF; font-family: 'Titillium Web', sans-serif; font-weight: 700; margin-top: 49px; padding-bottom: 10px; }
.r19paddingervices-box h4 { color: #3D96AA; font-family: 'Open Sans margin-bottom: 25px;', sans-serif; font-weight: 600; letter-spacing: 1px; }
.r19_our-services-box p { color: #FFF; padding: 0 73px 10px 73px; }
.r19_our-services-box .mini-new-buttons{ text-transform:none;}
.jobdetail-top .backtoresults a { background: #3D96AA; color: #FFF; font-weight: 600; font-family: 'Titillium Web', sans-serif;}
.mini-new-buttons { background: #bb0000; color: #FFF; font-weight: 600; font-family: 'Titillium Web', sans-serif; }
.jobdetail-top .backtoresults a:hover, .jobdetail-top .backtoresults a:active, .jobdetail-top .backtoresults a:focus { background: #18525F; }
.mini-new-buttons:hover, .mini-new-buttons:active, .mini-new-buttons:focus { background: #ac2626; }
.btn-1 { margin-top: 41px; }

.job-seeker-block { margin:0;}
.job-seeker-block .r19_submit-resume, .job-seeker-block .r19_job-request, .job-seeker-block .r19_job-alert, .job-seeker-block .r19_register{ margin-bottom:25px;}
.job-seeker-block .r19_home-call-to-action-box{ min-height:240px !important; padding:0 10px; margin:0; height:auto;}
.job-seeker-block .r19_home-call-to-action-box:after{ height:240px;}

/*Job Template*/
.omage-job-full-header {background: #f5fdff; margin-top:-15px; margin-bottom:20px;}
.omega-jobheader {padding:10px 0 0 0}
.omega-jobheader .job-ref {margin-top: 15px;}
.omega-job-details h4 {margin: 0 0 10px;}
.omega-jobheader .btm-head {border-top: 1px solid #3d96aa;}
.omega-jobheader .btm-head .row > div {border-right: 1px solid #3d96aa; display: table-cell; min-width: 250px; padding: 20px 30px 20px 20px;}
.omega-jobheader .btm-head .row > div:last-child {border-right: medium none;}

/* Latest Jobs */
#r19_home-latest-jobs ul, #r19_home-latest-jobs .jcarousel-clip{ /*height:auto;*/}
#r19_home-latest-jobs li{ height:auto; margin:0;}
#r19_home-latest-jobs .rss-item{ width:46%; margin:0 0 75px 43px;}
#r19_home-latest-jobs .rss-item-pubDate{ height:90px; width:90px; padding-top:23px; background:#3e96aa; border-radius:50%; position:absolute;}
#r19_home-latest-jobs .rss-item-pubDate span{font-family: 'Titillium Web', sans-serif; font-weight: 600; font-size:18px; line-height:18px; display:block; color:#FFF;}
#r19_home-latest-jobs .rss-item-location::before{ color:#494949;}
#r19_home-latest-jobs .rss-item-location{ color:#494949; font-weight:700; }
#r19_home-latest-jobs .rss-item-title a{ color: #3D96AA; font-family: 'Titillium Web', sans-serif; font-weight: 700; font-size:15px;}
#r19_home-latest-jobs .rss-item-title a:hover, #r19_home-latest-jobs .rss-item-title a:focus, #r19_home-latest-jobs .rss-item-title a:active{ color:#18525e;}
#r19_home-latest-jobs .rss-item-description{ line-height:26px; color:#333333;}

/* What Clients have said */
#r19_footer-quote-container { background: #3e96aa; margin-top: 50px; }
#r19_footer-quote { margin-left: -38px; padding: 28px 0 16px 0; }
#r19_footer-quote .rss-item-title a { margin-bottom: 7px; }
#r19_footer-quote .rss-item-description { line-height: 24px; }
#r19_footer-quote-content h2 { position: relative; margin: 22px 0px 0px 223px; width: 180px; font-weight: 700; }
#r19_footer-quote-content h2:before { font-size: 0; left: -53px; top: -13px; display: block; position: absolute; background: url("../images/quote.svg") no-repeat; width: 106px; height: 31px; }
#r19_footer-quote-content small { padding: 0; font-weight: 400; margin: -6px 0 0 0; }
/* Footer */
#r19_footer-container { padding: 29px 0 33px 0; background: url("../images/footer-bg.png") repeat; }
#r19_footer-content h2 { margin-bottom: 18px; }
#r19_footer-summary p { margin-bottom: 30px; color: #DCE4E6; }
#r19_footer-content h3 { margin-bottom: 25px; color: #DCE4E6; }
#r19_footer-menu { margin-top: 35px; }
#r19_footer-menu > ul { padding-left: 15px; }
#r19_footer-menu li li a { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #DCE4E6; }
#r19_footer-menu li li a:hover, #r19_footer-menu li li a:focus, #r19_footer-menu li li a:active { color: #3d96aa; }
#r19_footer-menu > ul > li > a:hover { color: #3d96aa; }
#r19_bottom-bar-content a:hover, #r19_bottom-bar-content a:focus, #r19_bottom-bar-content a:active { color: #3d96aa; }
#r19_bottom-bar-container { background: #262626; }
#r19_bottom-bar-container { padding: 8px 0 16px 0; }
#r19_bottom-bar-copyright, #r19_bottom-bar-menu { margin-top: 6px; }
#r19_bottom-bar-menu a:before { margin: 0 12px; }

#advanced_search-holder .left-col{
	margin-bottom: 4px;
}

/* Meet our team */
#team-list dt{ font-size: 20px; line-height: 1.1; }
#team-list dt span{ font-size:16px; font-weight: 400; }

/*Screening Questions*/
.SQstTemp {list-style-type:none; margin:0; padding:0}
.SQstTemp li {padding-bottom:10px;}
.SQstTemp li strong {display:block; font-weight:normal !important; padding-bottom:5px;}
.SQstTemp li strong:before {
    content: "Q. ";  font-weight:bold;
}
#lblQstnTempalate > .SQstTemp {
    display: none}
.SQstTemp {background:#ededed; padding:20px; max-height:300px; overflow-y:scroll; }
.STempQstns {list-style-type:none
}
.STempQstns li {
    padding:10px 0; background:#f6f6f6; padding:25px; margin-bottom:20px; border:1px solid #c5c5c5; 
}
.STempQstns li strong{
    display:block
}
.STempQstns li span.remove {
    float:right
    }
#sortable li {
    height:auto !important;
}
.SQstTemp {display:none; padding-top:10px 0; margin-top:15px; border-top:1px dotted #c5c5c5; padding-top:10px;}
.STempQstns li span.remove {display: block; position: relative;}
.STempQstns li span.remove a {margin-top: -15px; position: absolute; right: 0; top: 0;}
