@model JXTNext.Sitefinity.Connector.BusinessLogics.Models.Member.JXTNext_MemberJobAlertUnsubscribeResponse

<h3>Unsubscribe</h3>

@if (Model.Success)
{
    <p>You have been unsubscribed from the job alert.</p>
}
else
{
    <p>There was some problem unsubscribing you from the job alert. Please try again or contact us for assistance.</p>
}
