<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="JXTPortal.Data" type="JXTPortal.Data.Bases.NetTiersServiceSection, JXTPortal.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="NewPassword" value="Pa55w0rd" />
    <add key="WorkingPath" value="C:\Temp\migration\candidates" />
    <add key="CountryJSONPath" value="C:\Temp\migration\taxonomies\countries.json" />
    <add key="JobTypeJSONPath" value="C:\Temp\migration\taxonomies\employment_preferences.json" />
    <add key="GenderJSONPath" value="C:\Temp\migration\taxonomies\genders.json" />
    <add key="LanguageLevelJSONPath" value="C:\Temp\migration\taxonomies\language_levels.json" />
    <add key="RegionsJSONPath" value="C:\Temp\migration\taxonomies\regions.json" />
    <add key="AttachmentPath" value="C:\Temp\migration\candidates\attachments" />
    <add key="MasterSiteID" value="554" />
    <add key="ChildSiteID" value="554" />

    <add key="FTPHost" value="ftp://10.0.20.87/" />
    <add key="FTPUsername" value="jxtupload" />
    <add key="FTPPassword" value="jobx123" />
    <add key="RootFolder" value="media" />
    <add key="MemberRootFolder" value="testing3" />
    <add key="SitesFolder" value="sites" />
    <add key="AdvertisersFolder" value="advertisers" />
    <add key="AdvertiserJobTemplateLogoFolder" value="advertiserjobtemplatelogo" />
    <add key="MemberFilesFolder" value="memberfiles" />
    <add key="ConsultantsFolder" value="consultants" />
    <add key="JobTemplatesFolder" value="jobtemplates" />

    <!-- AWS Configuration-->
    <add key="AWSProfileName" value="JXT_FileManager_Dev" />
    <add key="AWSS3BucketName" value="jxtco01-01-dev-images" />
    <add key="AWSS3NullFileName" value="NULL.jxt" />
    <add key="AWSS3HostUrl" value="http://images.jxt.net.au/" />
    <add key="AWSS3ClientFolder" value="client" />
    <add key="AWSS3Region" value="ap-southeast-2" />
    <add key="AWSS3MediaFolder" value="media" />
    <add key="AWSS3CoverLetterPath" value="applications/coverletter" />
    <add key="AWSS3ResumePath" value="applications/resume" />
    <add key="AWSS3CustomJobApplicationsPath" value=" applications/others" />
    <add key="AWSS3AdvertisersPath" value="/advertisers" />
    <add key="AWSS3ConsultantsPath" value="/consultants" />
    <add key="AWSS3SitesFolder" value="/sites" />
    <add key="AWSS3JobTemplatesFolder" value="/jobtemplates" />
    <add key="AWSS3MemberRootFolder" value="files" />
    <add key="AWSS3MemberFilesFolder" value="/memberfiles" />
    <add key="AWSS3CandidateFolder" value="/candidate" />
    <add key="AWSS3AdvertiserJobTemplateLogoFolder" value="/advertiserjobtemplatelogo" />
  </appSettings>
  <connectionStrings>
    <add name="JXTPortal.Data.ConnectionString" connectionString="Data Source=JXT-WS01;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=sa;Password=nameofthegame" />
  </connectionStrings>
  <JXTPortal.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add name="SqlNetTiersProvider" type="JXTPortal.Data.SqlClient.SqlNetTiersProvider, JXTPortal.Data.SqlClient" connectionStringName="JXTPortal.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="JXTPortal.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" defaultCommandTimeout="30" />
      <!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/JXTPortal/JXTPortalServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="JXTPortal.Data.WebServiceClient.WsNetTiersProvider, JXTPortal.Data.WebServiceClient"
					url="/JXTPortalServices.asmx" />
			-->
    </providers>
  </JXTPortal.Data>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="ignored" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\JobXMail\au" />
      </smtp>
      <!--<smtp deliveryMethod="Network" from="testuser@jxt.com">
        <network defaultCredentials="false" host="jobx-svr01.jobx.local" port="25" userName="Daniel.Ng" password="d@1234"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
