.salary-survey-widget .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

.salary-survey-widget .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.salary-survey-widget .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.salary-survey-widget .required,
.salary-survey-widget .help-block-error {
  color: red; }

.salary-survey-widget .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.salary-survey-widget button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0; }

.salary-survey-widget .alert-dismissable .close, .salary-survey-widget .alert-dismissible .close {
  position: relative;
  top: -2px;
  color: inherit; }

.salary-survey-widget .wait img {
  vertical-align: middle; }

.salary-survey-widget-salaries .table,
.salary-survey-widget-salary .table,
.salary-survey-widget-import-salaries .table,
.salary-survey-widget-import-taxonomies .table {
  width: 100%;
  border: none;
  border-collapse: collapse; }
  .salary-survey-widget-salaries .table th,
  .salary-survey-widget-salary .table th,
  .salary-survey-widget-import-salaries .table th,
  .salary-survey-widget-import-taxonomies .table th {
    font-weight: bold; }
  .salary-survey-widget-salaries .table th, .salary-survey-widget-salaries .table td,
  .salary-survey-widget-salary .table th,
  .salary-survey-widget-salary .table td,
  .salary-survey-widget-import-salaries .table th,
  .salary-survey-widget-import-salaries .table td,
  .salary-survey-widget-import-taxonomies .table th,
  .salary-survey-widget-import-taxonomies .table td {
    border: 1px solid #ccc;
    padding: 5px; }

.salary-survey-widget-salary .table th {
  width: 25%; }

.salary-survey-widget-salary .table tr.sep th {
  width: auto;
  font-size: 115%;
  font-weight: bold;
  background: #808080;
  color: #fff; }
