@{
    ViewBag.Title = "Change Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Thank you for registering.</h2>
    @Html.ActionLink("Please click here to go to the main site.", "Index", "Home")
</hgroup>
