@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">
    <div class="sub">
        <div class="img">
            @if (!string.IsNullOrEmpty(Model.SelectedSizeUrl))
            {
            <img src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText" />
            }
        </div>
    </div>
              </div>