@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


@*@Html.StyleSheet(Url.WidgetContent("app/dist/styles.e6abd70190b7cf9a3831.css"))*@
<link href="/styles.e6abd70190b7cf9a3831.css" />

<body>

    @*@Html.Script(Url.WidgetContent("app/dist/runtime.6afe30102d8fe7337431.js"))
        @Html.Script(Url.WidgetContent("app/dist/polyfills.2d976f42c1abc2acac30.js"))
        @Html.Script(Url.WidgetContent("app/dist/main.3b4b59a192e730d55715.js"))*@


    <script src="/runtime.6afe30102d8fe7337431.js" type="text/javascript"></script>
    <script src="/polyfills.2d976f42c1abc2acac30.js" type="text/javascript"></script>
    <script src="/main.3b4b59a192e730d55715.js" type="text/javascript"></script>

    <app-root></app-root>
</body>
