// this is used with js-bg-img to set an background image for the container
.is-bg-img-container
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.js-bg-img
{
    display: none;
}