.o-icon-img {
  display: inline-block;
  height: auto;
  width: auto;
  margin-right: 1rem;
}

.o-social-lnk {
  img {
    width: auto;
  }
  &:hover,
  &:active {
    img {
      opacity: 0.5;
    }
  }
}

.o-social-lnk--linkedin {
  position: relative;
  top: -1px;
  img {
    height: rem-calc(10);
  }
}

.o-higlight {
  font-size: rem-calc(18);
  background-color: get-color(primary);
  display: inline-block;
  padding: $button-padding;
  padding-left: 0;
  padding-right: 0;
  margin: 2.3rem auto $global-margin;

  @include breakpoint(medium) {
    padding: rem-calc(14) rem-calc(42);
  }
}

.o-statement {
  padding: 2rem 1rem;
  margin-bottom: rem-calc(34);
  min-height: 230px;
  @include flex;
  @include flex-align(center, middle);

  &__content {
    text-align: center;
    font-size: rem-calc(28);
    line-height: (34/28);
    max-width: rem-calc(440);
    margin-left: auto;
    margin-right: auto;

    p {
      margin-bottom: 0;
    }
  }

  @include breakpoint(medium) {
    //padding: rem-calc(41) 26%;
  }
}

.callout--thick {
  padding: 1.85rem 1.75rem 0.9rem;
  border: 4px solid #f2f2f2;
}

.callout__inner {
  max-width: rem-calc(204);
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @include headings-all {
    text-align: left;
    margin-bottom: rem-calc(10);
  }

  h3 {
    @extend .h4;
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      position: relative;
      padding-left: rem-calc(8);
      margin-bottom: rem-calc(3);

      &:before {
        position: absolute;
        content: "-";
        left: 0;
      }
    }
  }
}

.o-contact-lnk {
  font-size: rem-calc(18);
  font-family: $header-font-family;
  text-align: left;

  &__icon {
    display: inline-block;
    width: rem-calc(47);
    margin-right: rem-calc(11);
  }
  img {
    height: rem-calc(37);
    margin-right: 0;
  }

  &--phone {
    margin-top: rem-calc(10);
    letter-spacing: 0.02em;

    img {
      margin-left: rem-calc(5);
    }
  }
}

#tracking-consent-dialog {
  text-align: center;
  font-size: rem-calc(16);
  padding: 0.25rem rem-calc(20) !important;
  background-color: #9c9b9b;
  color: $anchor-color;
  width: 100%;

  p {
    display: inline;
  }

  strong {
    @extend .show-for-sr;
  }

  a {
    font-family: $header-font-family;
    color: $anchor-color;

    &:hover,
    &:active {
      text-decoration: underline;
      color: $anchor-color-hover;
    }
  }

  .o-button-refuse,
  .o-button-accept {
    margin: 0 0.25rem;
    padding: 0.25rem;
    color: $anchor-color;

    &:hover,
    &:active {
      color: $anchor-color-hover;
      cursor: pointer;
    }
    &:before {
      content: url("../img/no.svg?v=2");
      margin-right: 0.25rem;
    }
  }
  .o-button-accept {
    &:before {
      content: url("../img/yes.svg?v=2");
    }
  }
}

.o-upload {
  margin: 0.5rem 0;

  legend {
    font-size: rem-calc(16);
    font-family: $body-font-family;
    margin-bottom: 0.5rem;
  }
}
