@include headings-all {
  text-transform: uppercase;
  text-align: center;
}

a {
  font-family: $avenir-medium;
  &:active
  {
    color: $anchor-color-hover;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

strong {
  font-family: $avenir-medium;
}

.o-special-title {
  font-family: $header-font-family;
  text-transform: none;
  font-size: rem-calc(28);
  text-align: left;
  margin-bottom: rem-calc(12);
}

.u-no-caps
{
   text-transform: none; 
}