
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Template based on Layout file by convention</h1>
    <div class="sfPublicWrapper" id="PublicWrapper">
        @Html.SfPlaceHolder("Contentplaceholder1")
        @Html.SfPlaceHolder("Contentplaceholder2")
        @Html.SfPlaceHolder("Contentplaceholder3")
    </div>
</body>
</html>