@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="@Model.CssClass">
       
    <div class="hexagon-text-wrap">
        <p>@Html.HtmlSanitize(Model.Heading)</p>
    </div>
       
</div>
