.subscribe-form {
    .form-control {
        width: 100%;
        height: 40px;
        border: none;
        background: #454e65;
        font-size: 14px;
        color: #daf0ff;
        padding: 0 20px;
    }

    .btn {
        font-size: 16px;
        font-weight: 700;
        @include Montserrat-font;
        height: 40px;
        width: 100%;
        text-transform: uppercase;
        color: #192b3b;
        border-color: #76e8b5;
        background: #76e8b5;
    }
}
