<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Qudos Recruitment - Melbourne Employment Agency</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="http://images.jxt.net.au/qudos/images/favicon.ico" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/images/apple-icon114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/images/apple-icon72.png" />
		<link rel="apple-touch-icon-precomposed" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/images/apple-icon57.png" />
		<link rel="apple-touch-icon" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/images/apple-icon57.png" />	
		
		<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="http://images.jxt.net.au/mobile/Content/Whitelabel/@JXTPortal.Entities.SessionData.Site.SiteId/Styles/style.css"> 
		
        <script src="http://images.jxt.net.au/mobile/Scripts/jquery-1.7.2.min.js"></script>
        <script src="http://images.jxt.net.au/mobile/Scripts/knockout-2.0.0.js"></script>
		<script src="http://images.jxt.net.au/mobile/Content/Javascripts/main/core-functions.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				if ($("h1:contains('Your search resulted in')").length > 0) {
       				$("h1").hide();                                
				} 
			});
		
		</script>
        @RenderSection("Javascript", false) 
    </head>
	
    <body>
	
	<div class="wrapper">
		<header>	
		<div class="header-logo">
            <a href="/"><img src="http://images.jxt.net.au/mobile/Content/Whitelabel/196/images/logo.png"></a>
			
        </div>
		
		<!-- <nav class="top-fixed-nav"> 
			<div class="left-col">
				<a href="/"><img src="http://images.jxt.net.au/mobile/Content/Whitelabel/196/images/logoSamll.jpg"/></a>
			</div>
			<div class="right-col">
            	
                     @if (JXTPortal.Entities.SessionData.Member != null) {
	                        <button class="top-button btn-navbar-icon" type="button" id="jsmenu">
						    	<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button> 
	                    }
	                    else
	                    {
	                        <a href="~/account/login" class="top-button">Login</a>
	                    } 
			</div>   
    
        
    
                <div class="collapse jsmenuCollapse">
                    <ul>
                        <li><a href="/Account/SavedJobs">My Saved Jobs</a></li>
                        <li><a href="/Account/MyAlerts">My Alerts</a></li>
                        <li><a href="/Account/Documents">My Resumes/Cover Letter</a></li>
                        <li><a href="/Account/ChangePassword">Change Password</a></li>
                        <li><a href="/Account/LogOff">Log off</a></li>
                    </ul>
                </div>	              
            </nav> -->
				      	
			
       </header>	                        
        
		                

			
		<section>	
        	<div class="content-wrap body-content">
		        	@RenderBody()                     
      
            </div>
		</section>		




				
		<footer>
		
		    	<div class="mobi-footer">					
					<ul>
						<li><a href="/Job/Viewall" class="latestJobs">VIEW OUR LATEST JOBS</a></li>
						<li><a href="/page/?id=Contact" class="ContactUs">CONTACT US</a></li>
						<li><a href="http://www.facebook.com/qudosrecruitment?v=wall" class="stayConnected" target="_blank">STAY CONNECTED WITH QUDOS<small>for Info, Tips and Advice</small></a></li>
						<li><a href="http://qudos.com.au/?mob=1" class="fullSite">VISIT FULL WEBSITE</a></li>
					</ul>
			</div><!-- end of mobi-footer -->            	
		</footer>
	</div>
    </body>
</html>