<?xml version="1.0" encoding="utf-8"?>
<commentsModuleConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<CommentableTypes>
		<commentableType AllowComments="False" ItemType="Telerik.Sitefinity.Blogs.Model.BlogPost" config:flags="1" />
	</CommentableTypes>
</commentsModuleConfig>