@model JXTNext.Sitefinity.SalarySurvey.Mvc.Models.SubmitSalaryViewModel

<div class="salary-survey-widget salary-survey-widget-submit-salary salary-survey-widget-submit-salary-not-found">
    @if (!string.IsNullOrEmpty(Model.Widget.Heading))
    {
        <h2 class="widget-heading">@Html.Raw(Model.Widget.Heading)</h2>
    }

    <div class="alert alert-danger">
        Requested salary does not exist.
    </div>
</div>
