/* Brand logo */
.app-header .app-logo {
    margin-bottom: 0;
    position: relative;
    top: -7px;
}

@media (max-width: 991px) {
    .app-header .app-logo {
        max-height: 55px;
    }
}


/*color only*/
a,
.cta-icon h3, .btn-link,
.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav li:hover > .nav-link,
.top-menus .navbar-nav a:hover, .top-menus .navbar-nav a.active,
.app-header .dropdown-menu .dropdown-item:hover, .app-header .dropdown-menu .dropdown-item.active, .app-header .dropdown-menu .dropdown-item:focus,
.video-wrap .btn-link:hover,
.video-wrap .btn-link.active {
    color: #009f9c;
}

    a:hover, a:focus,
    .btn-link:hover {
        color: #3465b0;
    }

.btn-primary {
    border-color: #009f9c;
    background-color: #009f9c;
}

    .btn-primary.active, .btn-primary:focus, .btn-primary:hover, .btn-primary:active,
    .job-wrapper .btn-block .btn:hover, .job-wrapper .btn-block .btn:focus, .job-wrapper .btn-block .btn:active {
        border-color: #3465b0;
        background-color: #3465b0;
    }

.video-wrap .play-btn:hover,
.video-wrap .play-btn:focus,
.video-wrap .play-btn.active {
    background: #009f9c;
}

/* CTA icon with svg image color change */
.cta-icon a:hover, .cta-icon a.active, .cta-icon a:focus, .cta-icon a:active:hover,
.cta-icon a:hover h3, .cta-icon a:focus h3 {
    color: #333;
}

    .cta-icon a:hover img {
        filter: brightness(0.4) saturate(0);
        -webkit-filter: brightness(0.4) saturate(0);
        -moz-filter: brightness(0.4) saturate(0);
        -ms-filter: brightness(0.4) saturate(0);
    }

.video-wrap .play-btn:hover,
.video-wrap .play-btn:focus,
.video-wrap .play-btn.active {
    background: #009f9b;
}



/* border */
.owl-nav > div,
.form-control:focus {
    border-color: #009f9c;
}

.owl-nav .owl-prev {
    background-image: url(../images/prev-icon-green.png);
}

.owl-nav .owl-next {
    background-image: url(../images/next-icon-green.png);
}

    .owl-nav .owl-next:hover, .owl-nav .owl-next:focus,
    .featured-carousel .carousel-overlay {
        background-color: #009f9c;
    }


.btn-outline-primary {
    color: #009f9c;
    border-color: #009f9c;
}

    .btn-outline-primary.active, .btn-outline-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:active {
        color: #fff;
        background-color: #009f9c;
    }

/* background gradient */
.squire-box .squire-overlay {
    background-color: #009f9c;
    background: -moz-linear-gradient(90deg, #009f9c 0%, #3465b0 100%);
    background: -webkit-linear-gradient(90deg, #009f9c 0%, #3465b0 100%);
    background: linear-gradient(90deg, rgba(0,159,155,1) 0%, rgba(2,109,105,1) 100%);
}

.brand_blk::before {
    background-color: #009f9c;
    background: -moz-linear-gradient(left, rgba(0,159,156,0.71) 0%, rgba(52,101,176,0.71) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,159,156,0.71) 0%, rgba(52,101,176,0.71) 100%);
    background: linear-gradient(90deg, rgba(0,159,156,0.71) 0%, rgba(52,101,176,0.71) 100%);
}


/* background rgba */
.squire-box-row .col-12:nth-of-type(3n+1) .squire-overlay {
    background: rgba(0, 159, 155,0.7);
}


/*Important stuff*/
.navbar.top-navbar .top-menus a:hover, .navbar.top-navbar .top-menus a:hover span, .navbar.top-navbar .top-menus a.active span {
    color: #009f9c !important;
}

/* custom select */
.select:before {
    color: #009f9c;
}
