<div class="form-group">
    <label>Heading</label>
    <input ng-model="properties.Heading.PropertyValue" type="text" class="form-control" />
</div>

<div class="form-group">
    <label>Introduction</label>
    <input ng-model="properties.Introduction.PropertyValue" type="text" class="form-control" />
</div>
