<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="AdminEmail" value="naveen@jxt.com.au"/>
    <add key="WebserviceURL" value="http://webservice.mini.jxt.com.au/Post/Jobs?format=xml"/>
    <add key="WebserviceArchiveURL" value="http://webservice.mini.jxt.com.au/Archive/Jobs?format=xml"/>
    <add key="WebServiceEndPoint" value="http://webservice.mini.jxt.com.au/Get/DefaultList"/>
    

    <add key="FTPTempStorage" value="C:\Developments\MiniJXT\MiniJXT\JXTPosterTransform.Website\xml\logs\"/>
    <add key="ClientMappingsFolderPath" value="C:\Developments\MiniJXT\MiniJXT\JXTPosterTransform.Website\xml\client_mappings\" />
    <add key="ClientSetupMappingsFolderPath" value="C:\Developments\MiniJXT\MiniJXT\JXTPosterTransform.Website\xml\setup_mappings\" />
  </appSettings>
  <connectionStrings>
    <!--<add name="PosterTransformConnectionString" connectionString="metadata=res://*/JXTPosterTransformContext.csdl|res://*/JXTPosterTransformContext.ssdl|res://*/JXTPosterTransformContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.120.200;initial catalog=MiniJXT_PosterTransform;user id=sa;password=nameofthegame;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PosterTransformEntities" connectionString="metadata=res://*/JXTPosterTransformContext.csdl|res://*/JXTPosterTransformContext.ssdl|res://*/JXTPosterTransformContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.120.200;initial catalog=MiniJXT_PosterTransform;user id=sa;password=nameofthegame;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PosterTransformEntities" connectionString="metadata=res://*/PosterTransformContext.csdl|res://*/PosterTransformContext.ssdl|res://*/PosterTransformContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.120.200;initial catalog=MiniJXT_PosterTransform;persist security info=True;user id=sa;password=nameofthegame;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
