//common styling

//general selector styling
html{
    font-size: 10px;
}
body{
    color: $fontColor;
    font:1.8rem/1.667 $baseFont;    
    margin:0;
    background: #fff url('../images/body-bg.jpg') repeat-x left top;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $boldFont;
    font-weight: 700;
    margin-top: 0;
    color: $baseColor;
    line-height: 1.3;
    a{
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}
h1{
    font-size: 9rem;
    line-height: 1;
    margin-bottom: 3rem;
    @include bp-max(md){
        font-size: 5rem;
    }
    @include bp-max(xs){
        font-size: 3.5rem;
    }
}
h2{
    font-size: 3.2rem;
    margin-bottom: $vrt-gap - 1rem;
}
h3{
    font-size: 2.4rem;
    margin-bottom: $vrt-gap / 2.5;
}
h4{
    font-size: 1.8rem;
}
a{
    color: $baseColor;
}
a:hover,
a:focus{
    color: $p1Color;
}
img{
    max-width: 100%;
    height: auto;
}

p,ul,ol{
    margin-bottom: 3rem;
}

//common classes
.hidden{
    display: none!important;
}
.show-for-sr, .show-on-focus{
    position: absolute!important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}
.clear{
    clear: both;
}

// buttons
.btn, button[data-sf-role="comments-new-submit-button"]{
    font: 700 1.2rem $boldFont;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $brightColor;
    background-color: $p1Color;
    border-radius: 3rem;
    border: none;
    padding: 21px 40px;
    min-width: 200px;
    &:hover, &:focus{
        background-color: darken($p1Color, 5%);
        color: $brightColor;
        box-shadow: none;
    }
    &:active{
        background-color: darken($p1Color, 15%)!important;
    }
    &.btn-sm{
        font-size: 1.2rem;
        padding: 13px 30px;
        min-width: 150px;
    }
    &.btn-1{
        background-color: $p2Color;
        color: $baseColor;
        &:hover, &:focus{
            background-color: darken($p2Color, 10%);
        }
        &:active{
            background-color: darken($p2Color, 15%)!important;
        }
    }
    //dropdown button
    &.dropdown-toggle{
        background: none;
        color: inherit;
        letter-spacing: 0;
        text-transform: none;
        font-weight: normal;
        padding: initial;
        &:active{
            background-color: none!important;
        }
    }
}

.buttons-wrapper{
    .btn{
        margin-right: 10px;
    }
    @include bp-max(sm){
        margin-right: 0;
        margin-bottom:5px;
    }
}


//common structural styles
@include bp-min(xl){
    .container {
        max-width: 1170px;
    }
}
// @include bp-max(sm){
//     .container{
//         padding-left: 40px;
//         padding-right: 40px;
//         >.row{
//             margin-left: -40px;
//             margin-right: -40px;
//         }
//     }
// }
@include bp-max(xs){
    .container{
        padding-left: 15px;
        padding-right: 15px;
        >.row{
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

#main, #footer{
    clear: both;
}
.h-section{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.section-intro{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.section-header{
    margin-bottom: 3rem;
}

.block-title{
    text-align: center;
}

// innerpage
.content-holder{
    padding-top: 4rem;
    padding-bottom: 3rem;
}

//background
//widget which has background image
.has-bgImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.bg-1{
    background-image: url('../images/bg-1.jpg');
}
.no-bg{
    background: none!important;
}

.multi-widget-wrapper {
    padding-bottom: $vrt-gap + 2rem;

    .jn_multiCard {
        padding-bottom: 1rem;
    }
}


.intro-text{
    text-align: center;
    max-width: 850px;
    margin: 0 auto 7rem;
}
.title-only{
    h2{
        margin-bottom: 0;
    }
}
.block-shrinker{
    margin-left: 6rem;
    @include bp-max(xl){
       margin-left: 0; 
    }
}
.flex-wrap{
    display: flex;
}
.no-marg-btm{
    margin-bottom: 0!important;
}
.no-pad-btm{
    padding-bottom: 0!important;
}
.pad-btm-3{
    padding-bottom: 3rem!important;
}
.pad-btm-5{
    padding-bottom: 5rem!important;
}

.content-holder{
    max-width: 100%;
    flex-grow: 1;
}
//two column layout
@include bp-min(md){
    .sidebar{
        max-width: 230px;   
        float: left;
        margin-right: 40px;
    }

    .content-holder{
        float: left;
        width: calc(100% - 270px);

    }
}
@include bp-max(sm){
    .sidebar, .content-holder{
        flex-basis: auto;
    }
}