// Bootstrap override for sitefinity cms

//popup
.sfPageEditor.modal-open .modal.fade.in{
    opacity: 1;
}
.sfPageEditor {
    //never make fixed or absolute position in cms editor
    #header{
        position: static;
    }
    .modal-dialog {
        max-width: 98%;

        select.form-control {
            height:auto;
        }
    }

    //if any element is fixed::header fixed
    .site-header {
        position: relative;
    }
    .modal-header {
        display: block;
    }

    .dropdown-toggle::after{
        display: none;
    }
    .sf-backend-wrp .caret{
        margin-top: 8px
    }
    .modal-dialog .form-control,
    .form-group input[type="text"]{
        margin-bottom: 5px;
        padding: 7px 5px;
    }
    .rdTitleBar li a:before{
        display: none;
    }
}