@model JXTNext.Sitefinity.Widgets.Content.Mvc.Models.MapsViewModel

<div>Maps in construction</div>
<div>@Model.Address</div>

<div id="map" data-address= @Model.GoogleMapsAPIKey></div>

<script type="text/javascript">

    @{
          var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
          var json = serializer.Serialize(Model);
     }

    var model = @Html.Raw(json);
    var latlngFromAdd = {};
    
    // Initialize and add the map
    function initMap() {

        if (model.Address != null && model.Address != 'undefined' && model.Address.length > 0)
            getLatitudeLongitude(model.Address);

        // The location of Uluru
        var uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 4, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }

     function getLatitudeLongitude(address) {
        // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
        address = address || 'Sydney';
   
        // Initialize the Geocoder
        geocoder = new google.maps.Geocoder();
        if (geocoder) {
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latlngFromAdd.lat = results[0].geometry.location.lat();
                    latlngFromAdd.lng = results[0].geometry.location.lng();
                  
                }
            });
        }
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.setAttribute("async", "");
        script.setAttribute("defer", "");
        var key = document.getElementById("map").getAttribute("data-address");
        script.src = "https://maps.googleapis.com/maps/api/js?key=" + key +"&callback=initMap";
        document.body.appendChild(script);
    }
    window.onload = loadScript; 
</script>

