<footer class="c-site-footer">
    <div class="grid-container" data-equalizer data-equalize-on-stack="true">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-auto">
                <div class="l-footer-cell" data-equalizer-watch>
                    <a href="#" class="c-site-footer__logo">
                        <img src="{{root}}assets/img/thronsberg-logo.svg" class="c-site-footer__logo-img" title=""
                            alt="">
                    </a>
                </div>
                <div class="l-footer-cell" data-equalizer-watch>
                    <div class="c-site-footer__tagline">
                        Success through people.
                    </div>
                </div>
            </div>
            <div class="cell medium-shrink">
                <div class="l-footer-cell" data-equalizer-watch>
                    <div class="o-contact-lnk o-contact-lnk--phone">
                        <span class="o-contact-lnk__icon"><img src="{{root}}assets/img/phone.svg?sfvrsn=e225e0fc_4"
                                alt="Phone" title="phone" data-displaymode="Original"></span>
                        <a href="tel:+4969348763530" class="o-contact-lnk__lnk">+49 (0) 69 34 876 3530</a>
                    </div>
                </div>
                <div class="l-footer-cell l-footer-cell--email" data-equalizer-watch>
                        <div class="o-contact-lnk">
                                <span class="o-contact-lnk__icon"><img src="{{root}}assets/img/plane.svg?sfvrsn=df16b0fc_8" alt="Email" title="Email" data-displaymode="Original"></span>
                        <a href="mailto:info@thronsberg.com" class="o-contact-lnk__lnk">info@thronsberg.com</a>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell auto c-site-footer__legal">
                <ul class="o-legal-menu">
                    <li><a href="/legal/legal-disclaimer">Legal disclaimer</a></li>
                    <li><a href="/legal/privacy-policy">Privacy policy</a></li>
                    <li><a href="/legal/impressum">Impressum</a></li>
                    <li class="o-legal-menu__copy">&copy Thronsberg Human Capital GMBH</li>
                    <li><a href="#" class="o-social-lnk o-social-lnk--linkedin"><img
                                src="{{root}}assets/img/linkedin.svg" alt="LinkedIn" title="Thronsberg Human
                        Capital GMBH on
                        LinkedIn" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>