<section class="l-section l-section--values">
    <div class="grid-container l-container--sml">
        <h2>The 'how' makes thronsberg values</h2>
        <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-5 l-values">
            {{#repeat 5}}
            <div class="cell">
                <div class="card o-card--values">
                    <img src="{{root}}assets/img/private-capital.svg" alt="" class="o-card__img" />
                    <div class="card-section o-card__section">
                        <hr>
                        <h3 class="o-card__title">Empathy</h3>
                        <p class="o-card__body">We are your sparing partner.</p>
                    </div>
                </div>
            </div>
            {{/repeat}}
        </div>
        <div class="text-center">
            <a href="#" class="button">More</a>
        </div>
    </div>
</section>