@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


@foreach (var card in Model.Cards)
{
    @*<div class="col-md-6 wow slideInUp">*@
        <div class="brand_blk" style="background-image:url('@Model.SelectedSizeUrl')">
            <!-- <div class="brand_content"> -->
            <h4>@Html.HtmlSanitize(card.Heading)</h4>
            <img src="@card.SelectedSizeUrl" alt="@card.ImageAlternativeText">
            <!-- </div> -->
        </div>
    @*</div>*@
}
