@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="tab-content news_side_search">
    <div class="post-list">
        @foreach (var jobOffer in Model.SearchResults)
        {            
            <div class="items">
                <div class="text">
                    <h3>
                        <a href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID">@jobOffer.Title</a>
                    </h3>
                    <div class="entry-meta">
                        <span class="author">@jobOffer.CustomData["CountryLocationArea[0].Filters[0].Value"]</span>
                        @*<span class="sep">-</span>*@
                        <div><span class="date">@jobOffer.DateCreated_Representation</span></div>
                    </div>
                </div>

            </div>
        }

    </div>
</div>
