@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.RelatedData;

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Modules.Libraries;

<div class="testimonials-slider bg-lighter with-top-image @Model.CssClass">
    <div class="container">
        <div class="owl-carousel owl-carousel-testimonials owl-theme">
            @foreach (var item in Model.Items)
            {
                var testimonialImage = "/ResourcePackages/Hudson/assets/dist/images/placeholder-image.png";
                if (item.Fields.Image != null)
                {
                    testimonialImage = MediaContentExtensions.ResolveThumbnailUrl(item.Fields.Image.DataItem, "thumb160");
                }
            <div class="item">
                <div class="testimonial-slider-img" style="background-image: url(@testimonialImage)"></div>

                <div class="testimonial-title">@item.Fields.Title</div>
                <div class="quote"><span>&ldquo;</span></div>
                <div class="testimonial font-light">@item.Fields.Quote</div>
                <div class="testimonial-author">@item.Fields.By</div>
                <div class="quote text-right"><span>&rdquo;</span></div>

            </div>

            }
        </div>
    </div>
</div>