<div class="tabs-wrap">
    <div id="home-tab-menu" class="offer-tab">
        <ul>
            <li class="active">
                <a href="javascript:void(0)">
                    <div class="sf_colsIn" data-sf-element="HeadingTab1" data-placeholder-label="Heading Tab1"></div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="sf_colsIn" data-sf-element="HeadingTab2" data-placeholder-label="Heading Tab2"></div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="sf_colsIn" data-sf-element="HeadingTab3" data-placeholder-label="Heading Tab3"></div>
                </a>
            </li>
        </ul>
    </div>
    <div id="home-tab-container">
        <div class="home-tab active">
            <div class="sf_colsIn" data-sf-element="Tab1Content" data-placeholder-label="Tab1 Content"></div>
        </div>
        <div class="home-tab">
            <div class="sf_colsIn" data-sf-element="Tab2Content" data-placeholder-label="Tab2 Content"></div>
        </div>
        <div class="home-tab">
            <div class="sf_colsIn" data-sf-element="Tab3Content" data-placeholder-label="Tab3 Content"></div>
        </div>
    </div>
</div>