<header id="Top-nav-sticky" class="navbar-fixed-top">
    <div class="phoneTop">
        <div class="container">
            <div class="row">
                <div class="top-logo-bg">
                    <a class="navbar-brand" href="/" title="Enterprise Recruitment & People">
                        <div class="sf_colsIn site-logo" data-sf-element="Logo" data-placeholder-label="Logo">
                        </div>
                    </a>
                </div>
                <div class="top-social-icons">
                    <div class="sf_colsIn" data-sf-element="SocialIcons" data-placeholder-label="SocialIcons">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar" role="navigation" id="site-topnav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only"> Toggle navigation</span> <i class="fa fa-bars"><!-- --></i> </button>
                </div>
                <div class="sf_colsIn navbar-collapse collapse site-navigation" data-sf-element="Navigation" data-placeholder-label="Navigation">
                </div>
            </div>
        </div>
    </div>
</header>