@model JXTPortal.Domain.ViewModel.MemberModel.ForgetPasswordModel

@{
    ViewBag.Title = "Forgotten your password";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h1>@ViewBag.Title</h1>
<p>Enter your username or email address, your login details will be emailed to you</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Recover password was unsuccessful. Please correct the errors and try again.")

    <ul data-role="listview" data-inset="true" class="FormFields">
		<li data-role="fieldcontain">
            <label for="UserNameEmail">Username or Email</label>
            <span class="inputFieldsWrap">@Html.TextBoxFor(m => m.UserNameEmail)</span>
        </li>
		@Html.ValidationMessageFor(m => m.UserNameEmail)
    </ul>
	<input type="submit" value="Submit" class="btn-submit" />
} 