@{
    ViewBag.Title = "Your password has been reset";
}

<h1>Your password has been sent</h1>
<p>
    Please check your emails and follow the link to set a new secure password.
</p>

<p><a class="site-btns btn-small" href="/">Home</a></p>
   