@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;


<div class="@ViewBag.CssClass">

    <h4>Similar Roles</h4>
    <div class="vrt-list">
        <ul>

            @foreach (var result in Model.SearchResults)
            {
                <li><a href="@ViewBag.JobDetailsPageUrl?jobId=@result.JobID">@result.Title</a></li>
            }

        </ul>
    </div>

</div>
