@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;
@{ 
    var guid = Guid.NewGuid();
}

<div class="@ViewBag.CssClass">

    <h4>Similar Roles</h4>
    <div class="vrt-list">
        <ul>

            @foreach (var result in Model.SearchResults)
            {
                <li><a href="@ViewBag.JobDetailsPageUrl/@result.ClassificationURL/@result.JobID?g=@guid">@result.Title</a></li>
            }

        </ul>
    </div>

</div>
