//color theme
.default-theme{
    background-color: $brightColor;
}
.p1-theme{
    background-color: $p1Color;
    color: $brightColor;
    h2, h3{
        color: $brightColor;
    }
    .btn{
        background-color: $brightColor;
        color: $baseColor;
        &:hover, &:focus{
            background-color: $fontColor;
            color: $brightColor;
        }
    }
}
.p2-theme{
    background-color: $p2Color;
    .btn{
        background-color: $brightColor;
        color: $baseColor;
        &:hover, &:focus{
            background-color: $p3Color;
            color: $brightColor;
        }
    }
}

//multi background color
.multi-bg{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 47%;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $baseColor;

        @include bp-max(sm){
            height: 25%;
        }
    }
}

.light-bg{
    h2{
        color: $fontColor;
    }
}
.dark-bg{
    h2{
        color: $brightColor;
    }
}
.btn-p2{
    background-color: $p2Color;
    color: $baseColor;
    &:hover, &:focus{
        background-color: darken($p2Color,10%);
        color: $baseColor;
    }
}