@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="chevron-list @Model.CssClass">
    <ul>
        @foreach (var card in Model.Cards)
        {

            <li><span>@Html.HtmlSanitize(card.Heading)</span></li>

        }
    </ul>
</div>