@model  JXTNext.Sitefinity.Widgets.Content.Mvc.Models.PageTitleViewModel


@*TO-DO: Update the page title model to expose @Model.WrapperCssClass and add it in the wrapper div. Wrapper div is currently kept without any class so that once backend is updated, only class has to be added there. *@ 
    <div>
        <h3 role="heading">@Model.PageTitle</h3>
    </div>