.card-cta{
    margin: 3rem 0;
    text-align: center;
    a.cta-btn{
        display: block;
        text-decoration: none;
        border-radius: 2px;
        font:300 2.5rem/1.8 'Open Sans', Arial, sans-serif;
        padding: 3.5rem 0;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            border: lighten($linkColor, 20%) solid 1px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: top, right, bottom, left;
            transition-property: top, right, bottom, left;
        }
        &:hover, &:focus{
            color: #fff;
            background: $baseColor;
            &:before{
                top: -0.8rem;
                right: -0.8rem;
                bottom: -0.8rem;
                left: -0.8rem;
            }
        }
        .fa{
            font-size: 4.8rem;
        }
    }
    h3{
        font-weight: 300;
        text-transform: uppercase;
    }
}