//Grid Box
.insight-block{
    background: $bgColor;
    padding: $vrt-gap+2 0;
    .gridBox-item{
        border-radius: 5px;
        overflow: hidden;        
        margin-bottom: 2rem;
        p:last-child{
            margin-bottom: 0;
        }
    }
    .ins-quote{
        background-color: $p3Color;
        color: $brightColor;
        position: relative;
        padding: 5.5rem 3rem;
        &::before{
            content: '';
            background: url('../images/quote-open.png') no-repeat left top;
            position: absolute;
            z-index: 0;
            top: 3.3rem;
            left: 2rem;
            height: 5rem;
            width: 7rem;
        }
        p{
            position: relative;
            z-index: 1;
        }
    }
    .ins-blog{
        background-color: $brightColor;
        padding: 3rem;
    }
    .ins-title{
        background-color: $p4Color;
        text-align: center;
        padding: 5rem 2rem;
        h3{
            color: $brightColor;
            font-size: 5rem;
            font-weight: 300;
            margin: 2rem 0;
        }
    }
    .ins-image{
        background-color: $p4Color;
        img{
            width: 100%;
        }
    }
    .button-wrapper{
        flex-grow: 1;
        text-align: center;
    }
}
.jn_gridBox{
    h2{
        text-align: center;
    }
    .gridBox-wrap{
        -webkit-column-count: 3;
        -webkit-column-gap:   30px;
        -moz-column-count:    3;
        -moz-column-gap:      30px;
        column-count:         3;
        column-gap:           30px;
        
        margin-bottom: 5rem;
        //prevent from vertical gap between box
        line-height: 0;

        @include bp-max(lg){
            -webkit-column-count: 2;
            -webkit-column-gap:   20px;
            -moz-column-count:    2;
            -moz-column-gap:      20px;
            column-count:         2;
            column-gap:           20px;
        }
        @include bp-max(md){
            -webkit-column-count: 1;
            -moz-column-count:    1;
            column-count:         1;
            margin:               0 15px;
        }
        @include bp-max(xs){
            margin: 0;
            .gridBox-item{
                border-radius: 0;
            }
        }

        .gridBox-item{
            /* Just in case there are inline attributes */
            width: 100% !important;
            height: auto !important;
            display: block;
            line-height: 1.67;
            //prevent from big gap at the bottom
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}