//image scroller
//used by Image gallery widget
.jn_imageGallery{
    padding: $vrt-gap+2 0;
    &.has-bgImg{
        background-image: url("../images/star-chain.jpg");
        background-position: center top;
    }
}
//gallery with horizontal scrolling
.image-scroller{
    .owl-item{
        img{
            display: inline-block;
            width: auto;
            margin: 0 2rem;
            padding: 0 3rem;
        }
    }
}

//gallery with no horizontal scrolling
//if no scrolling using flex grid
.image-wrapper{
    [class*="col-"]{
        min-height: 100px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

//image-grid-scroller
//rows based grid layout image scroller
.image-grid-scroller{
    img{
        display: block;
        margin-bottom: 2rem;
    }
}