.jn_jobsFeed{
    padding: 7rem 0 9rem;
    
    .jn_scroller{
        background-color: $brightColor;
        border-radius: 5px;
        padding: 3.5rem 4%;
        > .sc-item{
            width: 50%;
        }
        h3{
            margin-top: 1.2rem;
        }
        .owl-controls .owl-nav{
            .owl-prev{
                left: -47px;
            }
            .owl-next{
                right: -47px;
            }
            @include bp-range(xl){
                .owl-prev{
                    left: -22px;
                }
                .owl-next{
                    right: -22px;
                } 
            }
            @include bp-range(lg){
                .owl-prev{
                    left: -9px;
                }
                .owl-next{
                    right: -9px;
                } 
            }
            @include bp-range(md){
                .owl-prev{
                    left: -9px;
                }
                .owl-next{
                    right: -9px;
                } 
            }
            @include bp-max(sm){
                .owl-prev{
                    left: -30px;
                }
                .owl-next{
                    right: -30px;
                } 
            }
            @include bp-max(xs){
                .owl-prev,
                .owl-next{
                    top: auto;
                    bottom: -30px;
                }
                .owl-prev{
                    left: 40px;
                }
                .owl-next{
                    right: 40px;
                } 
            }
        }
    }
    .sc-item{
        padding-left: 8rem;
        padding-right: 5.5rem;
        background: url('../images/curve-divider.png') no-repeat left top / 20px auto;
        overflow: hidden;
        @include bp-max(xl){
            padding-left: 5rem;
            padding-right: 2.5rem;
        }
        @include bp-max(sm){
            background:none;
            padding-left: 2rem;
            padding-right: 2rem;
            .btn-sm{
                max-width: 180px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .sc-desc{
        max-height: 120px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    
    

    //two column layout
    &.simple-layout{
        .feed-item{
            margin-bottom: 5rem;
            h3{
                margin-bottom: 0;
                a{
                    color: $p1Color;
                    &:hover, &:focus{
                        color: darken($p1Color,3%);
                    }
                }
            }
            .apply-link{
                font: bold 1.2rem $boldFont;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        .button-wrapper{
            flex-grow: 1;
            text-align: center;
        }
    }
}

.sc-job-meta-group{
    border-top: 2px solid lighten($baseColor,76%);
    padding-top: 13px;
    font-size: 1.4rem;
    color: $baseColor;
    margin-bottom: 4rem;
    .jn_ico{
        font-size: 2rem;
        position: relative;
        top: 4px;
        margin-right: 10px;
    }
    dd{
        margin-right: 2%;
        margin-left: 2%;
        overflow: hidden;
        float: left;
        width: 29%;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include bp-max(xs){
            width: auto;
            max-width: 100%;
        }
    }
}
