.jn_jobSearch-scroller{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    label{
        position: absolute;
        left: 85px;
        @include setLbl;
    }
    ul{
        @include listReset;
        padding-left: 250px;
        padding-right: 90px;
        position: relative;
        overflow: hidden;
        max-height: 20px;
        &.owl-carousel{
            overflow: visible;
        }
    }
    li{
        margin: 0 15px;
        display: inline;
        a{
            text-decoration: none;
        }
    }
    .owl-controls .owl-nav{
        >div{
            top: -50px;
        }
    }
}
@include bp-max(sm){
    .jn_jobSearch-scroller{
        label{
            left: 60px;
        }
        ul{
            padding-left: 215px;
            padding-right: 60px;
        }
        li{
            margin: 0 10px;
        }
        .owl-controls .owl-nav{
            >div{
                top: -34px;
            }
        }
    }
}
@include bp-max(xs){
    .jn_jobSearch-scroller{
        label{
            left: 70px;
            top: -40px
        }
        ul{
            padding-left: 60px;
        }
    }
}