/* Social link widget */
.jn_social-links{
    display: inline-block;
    ul{
        @include listReset;
        li{
            display: inline-block;
            margin:0 5px;
            a{
                font-size: 1.9rem;
            }
        }
    }
}
@include bp-min(xl){
    #header .jn_social-links{
        margin:5px 13px 0;
        li{
            margin: 0 11px;
        }
    }
}
@include bp-min(xs){
    #header .jn_social-links{
        display: inline-block;
        margin: 5px 7px 0;
    }
}
@include bp-max(sm){
    #header .jn_social-links{
        display: none;
    }
}