// Testimonial Feed widget
.jn_testimonialFeed{
    padding: $vrt-gap+2rem 0;
}
.testimonial-slider{
    .slide-item{
        position: relative;
        padding: 9rem 18rem 9rem 39.5rem;
        figure{
            position: absolute;
            max-width: 256px;
            padding: 10px 13px 0;
            left: 8rem;
            top: 0;
            margin-top: 8rem;
            &::before, &::after{
                content: '';
                position: absolute;
                border-radius: 50%;
            }
            &::before{
               width: 255px;
               height: 255px;
               background: $p1Color;
               bottom: 0;
               left: 0;
               z-index: -2; 
            }
            &::after{
                width: 185px;
                height:185px;
                background: $p2Color;
                top: -42px;
                left: -42px;
                z-index: -1;
                @include bp-max(xs){
                    width: 150px;
                    height: 150px;
                    left: -15px;
                }
            }
            img{
                position: relative;
                z-index: 1;
                border-radius: 50%;
            }
        }
        .slide-copy{
            position: relative;
            padding-top: 7rem;
            padding-bottom: 4rem;
            &::before{
                content: '';
                position: absolute;
                display: block;
                background:url('../images/quote.png') no-repeat;
                width: 65px;
                height: 50px;
                top: 0;
                right: -1.5rem;
            }
        }
        h3{
            margin-bottom: 0;
        }
        .pos{
            color: $p1Color;
        }
        
        @include bp-max(md){
            padding: 4.5rem;
            figure{
                position: relative;
                left: 0;
                margin:0 auto;
            }
            .slide-header{
                max-width: 42rem;
            }
        }
        @include bp-max(sm){
            padding: 4.2rem 0;
            .slide-copy::before{
                right: 0;
            }
        }
    }
    // .owl-stage-outer{
    //     &::before, &::after{
    //         content: '';
    //         position: absolute;
    //         height: 100%;
    //         width: 15rem;
    //         top: 0;
    //     }
    //     &::before{
    //         background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    //         left: 0;
    //     }
    //     &::after{
    //         background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    //         right: 0;
    //     }
    // }
    //slider nav
    .owl-controls .owl-prev{
        top: 9rem;
        left: auto;
        right: 8rem;
    }
    .owl-controls .owl-next{
        top: 3rem;
        right: 4.5rem;
    }
    @include bp-max(md){
        .owl-controls .owl-prev{
            top: auto;
            bottom: 5rem;
        }
        .owl-controls .owl-next{
            top: auto;
            bottom: 11rem;
        }
    }
    @include bp-max(sm){
        .owl-controls .owl-prev{
            bottom: 4.6rem;
            right: 3rem;
        }
        .owl-controls .owl-next{
            bottom: 9rem;
            right: 0;
        }
    }
}