@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel
<div class="categories-list">
    <ul class="@Model.CssClass nav">
        @foreach (var taxon in Model.Taxa)
        {
            <li>
                <a href="@taxon.Url">@taxon.Title</a>

                @if (Model.ShowItemCount)
                {

                    <span class="text-muted hide">@Html.Raw(string.Format("({0})", taxon.Count))</span>

                }
            </li>

        }
    </ul>
</div>