@using JXTNext.Sitefinity.Widgets.Job.Mvc.Models
@model JobDetailsViewModel
@using System.Collections.Specialized;


@if (Model != null)
{

    <div class="backtoresult">
        <a href="/job-seekers/search-results" id="back-to-results" role="button" title="Back to Results"><span class="prev-btn"></span>Back To Results</a>
    </div>
    <div class="job-offer-details">
        <h1><span>Apply for position </span> <span class="job-title">"@Model.JobDetails.Title"</span></h1>
    </div>

}
