@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

@using Newtonsoft.Json;
@{
    var uri = "";
    var fullUrl = Request.Url.ToString();
    var topic_start = fullUrl.LastIndexOf("/") + 1;
    uri = fullUrl.Substring(topic_start, fullUrl.Length - topic_start);
}
<div id="wellthemes_popular_categories_widget-3" class="widget widget_categories">
    <h4>Categories</h4>
    <ul class="list">
        @foreach (var taxon in Model.Taxa)
        {

            var uri1 = "";
            var fullUrl1 = taxon.Url;
            var topic_start1 = fullUrl1.LastIndexOf("/") + 1;
            uri1 = fullUrl1.Substring(topic_start1, fullUrl1.Length - topic_start1);
            if (fullUrl.Contains(uri1))
            {
                <li class="current">
                    <span class="main-color-bg cat cat3"></span>
                    <a href="@taxon.Url"> @taxon.Title</a>
                </li>
            }
            else
            {
                <li>
                    <span class="main-color-bg cat cat3"></span>
                    <a href="@taxon.Url"> @taxon.Title</a>
                </li>
            }

        }
    </ul>
</div>



