@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel


<h3 class="title">Categories</h3>
<div class="category">
    @foreach (var taxon in Model.Taxa)
    {

        <label><input type="checkbox" class="blog-categories" name="category" data-title="@taxon.Title"><span class="check"></span> <a href="@taxon.Url">@taxon.Title</a></label>
        if (Model.ShowItemCount)
        {
            <span class="text-muted">@Html.Raw(string.Format("({0})", taxon.Count))</span>
        }
    }

</div>