<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="JXTPortal.Data" type="JXTPortal.Data.Bases.NetTiersServiceSection, JXTPortal.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<appSettings>
		<add key="JobAlertResults" value="7"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<network host="ignored" />
				<specifiedPickupDirectory pickupDirectoryLocation="C:\JXTMail" />
			</smtp>
			<!--<smtp deliveryMethod="Network" from="testuser@jxt.com">
        <network defaultCredentials="false" host="jobx-svr01.jobx.local" port="25" userName="Daniel.Ng" password="d@1234"/>
      </smtp>-->
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="JXTPortal.Data.ConnectionString" connectionString="Data Source=jxstgdb03.jobxstaging.local;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=mini;Password=mini"/>
	</connectionStrings>
	<JXTPortal.Data defaultProvider="SqlNetTiersProvider">
		<providers>
			<!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
			<add name="SqlNetTiersProvider" type="JXTPortal.Data.SqlClient.SqlNetTiersProvider, JXTPortal.Data.SqlClient" connectionStringName="JXTPortal.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="JXTPortal.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" defaultCommandTimeout="30"/>
			<!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/JXTPortal/JXTPortalServices.aspx)
				<add 
					name="WsNetTiersProvider" 
					type="JXTPortal.Data.WebServiceClient.WsNetTiersProvider, JXTPortal.Data.WebServiceClient"
					url="/JXTPortalServices.asmx" />
			-->
		</providers>
	</JXTPortal.Data>
</configuration>