@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

@Html.Script(ScriptRef.JQuery, "top", false)




<section class="g-section latest-news bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="pb-30">Latest Blogs</h2>
            </div>
        </div>
        <!-- .row/ -->
        <div class="md-row">
            @foreach (var item in Model.Items)
            {
                var imageurl = "";
                foreach (var relatedItem in item.Fields.BlogImage)
                {
                    imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
                }



                var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
                <div class="news-list col-12 col-sm-6 col-md-4">
                    <div class="bg-image-wrap"><div class="bg-image" style="background-image: url('@imageurl');"></div></div>
                    <div class="news-date"> @item.GetDateTime("PublicationDate", "MMM d, yyyy")</div>
                    <p class="news-desc">@item.Fields.Title</p>
                    <a href="@navigateUrl" class="btn btn-link">> Read more</a>
                </div>
            }
        </div>
        <!-- .row/ -->
    </div>
</section>