<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="PosterTransformConnectionString" connectionString="metadata=res://*/JXTPosterTransformContext.csdl|res://*/JXTPosterTransformContext.ssdl|res://*/JXTPosterTransformContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.120.200;initial catalog=MiniJXT_PosterTransform;user id=sa;password=nameofthegame;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PosterTransformEntities" connectionString="metadata=res://*/JXTPosterTransformContext.csdl|res://*/JXTPosterTransformContext.ssdl|res://*/JXTPosterTransformContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.120.200;initial catalog=MiniJXT_PosterTransform;user id=sa;password=nameofthegame;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="PosterTransformEntities" connectionString="metadata=res://*/PosterTransformContext.csdl|res://*/PosterTransformContext.ssdl|res://*/PosterTransformContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.120.200;initial catalog=MiniJXT_PosterTransform;persist security info=True;user id=sa;password=nameofthegame;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>