<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MvcLayout1</title>

    @RenderSection("CustomMetas", false)
</head>
<body>
    @RenderBody()
</body>
</html>
