.list-featured-articles {
    margin: 70px 0;

    li {
        position: relative;

        & + li {
            margin-top: 80px;
        }
    }

    .featured-article {
        position: relative;
        margin-right: 30%;
        padding: 30px;
        min-height: 200px;
        background: #fff;

        &-image {
            position: absolute;
            top: -20px;
            right: 0;
            box-shadow: 0 3px 9px 0px rgb(239,239,239);
            box-shadow: 0 3px 9px 0px rgba(0,0,0,0.14);
            width: 30%;
            max-height: 245px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

    .text-muted {
        font-family: $font-family-medium;
        text-transform: uppercase;
    }

    h3 {
        font-size: 22px;
        font-size: 2.2rem;

        a {
            color: inherit;
            &,&:hover,&:focus{
                text-decoration:none;
            }
        }
    }

    .btn-more {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.article-details {
    max-width: 660px;
    margin: 0 auto;

    .breadcrumb a {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .h1, h1,
    .h2, h2,
    .h3, h3,
    .h4, h4,
    p, div, ul, ol {
        margin-top: 0;
        margin-bottom: 30px;
    }

    h1.article-detail-title {
        margin: 20px 0;
        color: $global-text-color;
    }
    .h2, h2{
        color: $global-text-color;
    }
    .h3, h3{
        color: $highlighted-headings-color;
    }

    img {
        margin: 30px 0;
    }
    .article-description{
        font-size: 1.8rem;
        line-height: 1.4;
        .box{
            margin: 4rem 0;
        }
    }
}

.article-detail {
    color: $article-detail-text-color;

    &-category {
        font-family: $font-family-medium;
        text-transform: uppercase;
        color: $article-detail-highlight-color;
    }

    &-author {

        a {
            color: $article-detail-highlight-color;
        }
    }

    &-image {
        margin: 30px 0;

        img {
            margin: 0;
            width: 100%;
        }
    }
    
    &-advice {
        margin-top: 40px;
        padding: 40px 50px;
        font-size: 18px;
        background: $article-detail-advice-background;
        color: $article-detail-advice-color;

        .h1, h1,
        .h2, h2,
        .h3, h3,
        .h4, h4 {
            margin-top: 0;
            color: $article-detail-advice-color;
        }
    }

    &-social {
        margin: 30px 0;
        text-align: center;

        li {
            margin: 0 10px;
        }

        .fab, .fas {
            font-size: 22px;
            color: $article-detail-social-link;
        }

        a:hover {

            .fab, .fas {
                color: $article-detail-highlight-color;
            }
        }
    }
}

.articles-top {
    select.default-select {
        display: inline-block;
        min-width: 200px;
    }

    .articles-top-displaying {
        line-height: 35px;
        display: inline-block;
        font-size: 14px;
        font-size: 1.4rem;
        margin-right: 15px;
    }
}