.job-search {
    position: relative;
    margin-top: -60px;
    z-index: 9;

    & > .container {
        padding: 12px 20px;
        background: #007077;

        &.filter-job-classification {
            position: relative;
            left: 0;
            right: 0;
            display: none;
            box-shadow: 0 3px 9px 0 rgba(0,0,0,.14);
            margin-bottom: 10px;
            padding: 20px;
            background: #ebebeb;
            z-index: 9;
        }

        .row-filters {
            border-top: 1px solid #fff;
            padding-top: 10px;
        }
    }

    .form-control {
        /*font-style: italic;*/
        color: $global-text-color;
    }

    .form-control::-moz-placeholder,
    input::-moz-placeholder,
    select::-moz-placeholder,
    textarea::-moz-placeholder {
        color: $global-text-color;
        opacity: 1;
    }

    .form-control::-webkit-input-placeholder,
    input::-webkit-input-placeholder,
    select::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: $global-text-color;
    }

    .form-control:-ms-input-placeholder,
    input:-ms-input-placeholder,
    select:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: $global-text-color;
    }

    a {
        position: relative;
        margin-left: 7px;
        font-family: $font-family-regular;
        cursor: pointer;
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    .fa-angle-up {
        display: none;
        color: #fff;
    }

    .filter-active {
        position: relative;

        a {
            font-family: $font-family-medium;
        }

        a:after {
            content: '';
            position: absolute;
            left: 48%;
            bottom: -15px;
            display: block;
            border: 10px solid transparent;
            border-bottom-color: #ebebeb;
        }

        .fa-angle-down {
            display: none;
        }

        .fa-angle-up {
            display: inline-block;
            cursor: pointer;
        }
    }

    .filter-job-close {
        display: none;
    }

    .filter-job-classification {

        .row + .row {
            margin-top: 5px;
        }

        a {
            display: block;
            color: $global-text-color;
        }
    }
}

.SalaryRangeSelect{
    width: 100%;
}

.featured-job-offer {
    position: relative;
    margin: 12px 0;
    padding: 30px 35px 60px 60px;
    background: #fff;

    .job-offer-company {
        margin-bottom: 20px;

        img {
            max-width: 150px;
        }
    }

    .job-offer {

        h3 {
            margin-bottom: 10px;
            /*font-family: $font-family-medium;*/
        }

        .text-muted {
            line-height: 1;
            font-family: $font-family-regular;
        }
        /*p {
            font-family: $font-family-regular;
        }*/
    }

    .btn-more {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .job-offer-sum {
        height: 110px;
        overflow: hidden;
        position: relative;
    }

    .job-offer-sum:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: -webkit-linear-gradient(#fff, #fff);
        background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 255, 1));
    }
}

.job-offer {

    &-details {

        table {
            margin: 30px 0;
            width: 100%;
        }
    }

    &-title {

        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &-advantages{
        margin-bottom: 15px;
    }

    &-sidebar {
        
        h4 {
            margin-top: 30px;
            font-size: 16px;
            font-size: 1.6rem;
        }

        .list-unstyled {
            padding-left: 0;
        }
    }

    &-actions {
        padding-left: 0 !important;
        margin-bottom: 0;
        li{
            margin-bottom: 4px;
        }
        &.sf-social-share li {
            display: block;
        }

        a {
            font-size: 1.5rem;
            position: relative;
            padding-left: 27px;
            color: $job-sidebar-link-color;

            .far, .fas, .fab {
                position: absolute;
                top: 3px;
                left: 0;
                color: $job-sidebar-icon-color;
            }
        }
    }
}

.page-wrapper {
    .search-top {
        margin: 10px 0 30px 0;

        &, .btn {
            font-size: 14px;
            font-size: 1.4rem;
        }

        .btn {
            margin-right: 20px;
        }

        .select {
            margin-top: 10px;
            min-width: 250px;
            display: inline-block;

            select {
                display: block;
                width: 100%;
            }
        }

        .btn {
            margin-top: 10px;
            float: left;
        }
    }

    .search-results {
        .search-result {
            border: 1px solid $global-highlight-color;
            margin-top: 15px;
            transition: .2s;
            -webkit-transition: .2s;

            .search-result-top {
                padding: 10px 15px;
                -webkit-transition: .2s;
                transition: .2s;
                h3{
                    margin: 5px 0;
                }
                .search-result-title {
                    font-size: 24px;
                    font-size: 2.4rem;
                    margin: 10px 0;
                }

                a {
                    font-size: 14px;
                    font-size: 1.4rem;

                    &, &:hover, &:focus {
                        color: inherit;
                    }
                }
            }

            .search-result-description {
                padding: 15px;
                .link-default{
                    font-size: 1.4rem;
                }   
            }

            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.42);

                .search-result-top {
                    color: #fff;
                    background-color: $global-highlight-color;

                    a, a:hover, a:focus {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//job detail
.job-mini{
 .breadcrumb{
     padding-left: 15px;
 }   
}
.jobdetail-sidebar{
    @media (min-width:1024){
        padding-left: 40px;
    }
}

.backtoresult{
    margin-bottom: 25px;
} 

.spt{
    margin: 0 10px;
}

//appilication apge

.upload-section{
    .box{
        border: 1px solid $global-highlight-color;
        padding: 10px;
        margin: 0;
    }
    .uploadfield-wrap{
        padding: 15px 0 5px;
        position: relative;
        color: $global-highlight-color;
        text-align: center;
        width: 33%;
        float: left;
        overflow: hidden;
        &::before{
            content: "\f07c";
            color: #2e2e2e;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 3rem;
            position: absolute;
            top: 15px;
            z-index: 0;
            width: 100%;
            left: 0;
        }
        &.dropbox-upload::before{
            font-family: 'Font Awesome 5 Brands';
            content: "\f16b";
        }
        &.google-drive-upload::before{
            font-family: 'Font Awesome 5 Brands';
            content: "\f3aa";
        }
        &:hover, &:focus{
            &::before{
                color: $global-highlight-color;
            }
        }
        input[type="file"], button{
            opacity: 0;
            height: 50px;
            position: relative;
            z-index: 1;
            cursor: pointer;
        }
        .lbl{
            display: block;
            margin-top: -20px;
            color: $global-highlight-color;
        }
    }
}
.note{
    color: $forms-placeholder-color;
    font-size: 1.4rem;
}
.bdr-right{
    border-right: 1px solid #000;
    padding-right: 30px;
}
.pad-left-30{ padding-left: 30px;  }
.pad-right-30{ padding-right: 30px;  }

#pager{
    border: none;
    background:none;
    text-align: center;
    margin: 10px auto;
    ul{
        list-style: none;
        li{
            float: none;
            display: inline-block;
            margin: 0 1px;
            a{
                border-color: #219fa3;
                color: #219fa3;
                border-radius: 0!important;
                &:hover, &:focus, &.active{
                    background: #219fa3;
                    color: #fff;
                    border-color: #219fa3;
                }
            }
        }
    }
    .pagePrev a, .pageNext a{
        padding: 0 10px;
    }
}
.result-meta{
    p{
        margin-bottom: 0;
    } 
}

