.white-box-list {
    margin-top: 30px;

    .white-box {
        -webkit-clip-path: polygon(100% 0,100% 90%,93% 100%,0 100%,0 0);
        clip-path: polygon(100% 0,100% 90%,93% 100%,0 100%,0 0);
        min-height: 250px;
    }
}
.white-box{
    h3{
        margin-top: 0;
    }
}

.flex .white-box-list .white-box{
    height: 100%!important;
}

.white-box-single .white-box {
    -webkit-clip-path: polygon(100% 0,100% 90%,98% 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% 90%,98% 100%,0 100%,0 0);
}

.white-box-single, .white-box-list {
    .white-box {
        padding: 24px;
        margin: 20px 20px 0 0;
        background-color: #fff;

        .white-box-title {
            font-size: 24px;
            font-size: 2.4rem;
            line-height: 26px;
            line-height: 2.6rem;
            margin-bottom: 15px;
        }

        .white-box-ul {
            list-style: disc;
        }
    }
}