.white-box-list {
    margin-bottom: 30px;

    .white-box {
        // -webkit-clip-path: polygon(100% 0,100% 90%,93% 100%,0 100%,0 0);
        // clip-path: polygon(100% 0,100% 90%,93% 100%,0 100%,0 0);
        min-height: 250px;
        position: relative;
        &::after{
            background: url('../images/clipmask.png') no-repeat right bottom;
            content: '';
            display: block;
            height: 23px;
            position: absolute;
            bottom: -23px;
            width: 100%;
            left: 0;
        }
    }
}
.white-box{
    h3{
        margin-top: 15px;
    }
}

.flex .white-box-list .white-box{
    height: 100%!important;
}

.white-box-single .white-box {
    // -webkit-clip-path: polygon(100% 0,100% 90%,98% 100%,0 100%,0 0);
    // clip-path: polygon(100% 0,100% 90%,98% 100%,0 100%,0 0);
}

.white-box-single, .white-box-list {
    .white-box {
        padding: 30px 30px 0;
        margin: 20px 10px 0 0;
        background-color: #fff;
        height: calc( 100% - 20px );
        .white-box-title {
            font-size: 24px;
            font-size: 2.4rem;
            line-height: 26px;
            line-height: 2.6rem;
            margin-bottom: 15px;
        }

        .white-box-ul {
            list-style: disc;
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
    > .col-sm-3:nth-child(4n+1){
        clear: left;
    }
}