/*#region Tablet*/
@media (min-width:768px) {
    header {

        .brand-logo {
            height: 50px;
            position: relative !important;
            top: 15px;
            z-index: 100;
            a {

                img {
                    margin-top: 20px;
                    height: 60px;
                }
            }
        }

        .main-nav .collapse.navbar-collapse,
        .main-nav .dropdown-menu-container .dropdown-menu-columns {
            width: 750px;
        }

        .mobile-nav {
            .navbar-collapse.collapse {
                display: none !important;
            }
        }
    }

    .page-section {
        .gap-extra{
            padding-left: 35px;
        }
    } 
    .white-box-single .white-box .white-box-ul li {
        width: 50%;
        float:left;
        padding: 0 30px 0 0;
    }
}
@media (min-width:768px) and (max-width: 1199px) {

    header {

        .navbar {

            &.navbar-default {

                .navbar-nav > li > a {
                    padding: 0 5px;
                }

                .navbar-nav > li > a,
                .navbar-nav > .active > a,
                .navbar-nav > .active > a:focus,
                .navbar-nav > .active > a:hover {
                    font-size: 12px;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .thumbnail {

        &.card-rollover-bg .card-description {
            padding: 15px;
        }
    }

    .risk-measurement .risk-wrapper {
        width: 33.3%;
    }
    .list-featured-articles{
        font-size: 1.4rem;
        line-height: 1.4;
        .featured-article{
            min-height: 155px;
            padding: 20px 10px 20px 30px;
            .btn.btn-more {
                width: 20px;
                height: 20px;

                &:after {
                    font-size: 14px;
                    font-size: 1.4rem;
                    line-height: 20px;
                }
            }
        }
        h3{
            font-size: 1.6rem;
            margin-top: 7px;
            margin-bottom: 7px;
        }
    }

}
@media (min-width:768px) and (max-width: 991px){
    .main-content{
        // padding-left: 25px;
    }
}

/*#region Small desktop*/
@media (min-width:992px) {
    header {

        .brand-logo {
            height: 78px;

            a {
                position: absolute;
                z-index: 10;

            }
        }

        .main-nav .collapse.navbar-collapse,
        .main-nav .dropdown-menu-container .dropdown-menu-columns {
            width: 970px;
        }
    }

    .page-wrapper {
        .login-form .basic-form {
            margin-top: 20px;

            .login-border {
                padding: 30px 30px 0 0;
                margin-bottom: 10px;
                border-right: 1px solid$global-highlight-color;
            }

            .registration-link {
                margin-top: 20px;
                // padding-right: 30px;
            }
        }
        .reg-form{
            .basic-form{
                margin-top: 0;
                .login-border{
                    padding-top: 0;
                }
            }
        }
    }
    
    .page-section {

        .right-bottom-img img {
            max-width: 43%;
        }

        .center-bottom-img img {
            position: absolute;
            left: 55%;
            bottom: 0;
            max-height: 90%;
        }

        .right-top-above {
            img {
                margin-top: -75px;
                position: relative;
                max-width: 115%;
            }
        }

        .right-bottom-below {
            img {
                bottom: -155px;
                position: absolute;
                overflow: visible;
                z-index: 1;
            }
        }
    }

    .process-card-holder.display-table {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
        min-width: 100%;
        margin-top: 20px;

        .display-cell {
            position: relative;
            padding: 0 50px 20px;

            &:before {
                background-color: #fff;
                position: absolute;
                content: '';
                height: 100%;
                width: 95%;
                width: calc(100% - 30px);
                z-index: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        &.process-card-holder-3 .display-cell {
            width: 33.3333333333%;
        }

        &.process-card-holder-4 .display-cell {
            width: 25%;
        }
    }

    .consultant-form {

        .col-md-8 {
            width: 50%;
        }
    }

    .contact-consultant .contact-consultant-info {
        position: relative;
        min-height: 325px;
        padding-bottom: 70px;

        .btn {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    .white-box-single .white-box .white-box-ul  li{
        width: 33.3333333333%;
    }
}
/*#endregion Small desktop*/

/*#region Large desktop*/
@media (min-width:1200px) {
    
    header {

        .main-nav .collapse.navbar-collapse,
        .main-nav .dropdown-menu-container .dropdown-menu-columns {
            width: 1170px;
        }
    }

    .page-wrapper {

        .basic-form {

            .form-label {
                padding-top: 10px;
            }

            .upload-section .form-label {
                padding-top: 0px;
            }
        }
    }

    .risk-measurement .risk-wrapper {
        width: 20%;

        // .risk img {
        //     left: 15px;
        // }
    }
    
    .contact-consultant {
        .contact-consultant-info {
            min-height: 370px;
        }
    }
    

    .right-bottom-below img {
        max-width: 115%;
    }
    
}
/*#endregion Large desktop*/

/*#endregion Tablet*/
@media (max-width: 1199px){
    .long-card-basic-list {
        .thumbnail{
            .img-wrap{
                height: 200px;
            }
        }
    }
    .thumbnail.card-basic{
        .img-wrap{
            height: 200px;
        }
        .caption{
            min-height: 230px;
        }
    }
    .list-featured-articles .featured-article-image{
        max-height: 200px;
    }
    
    .press-release-filter{
        ul{
            li{
                a{
                    font-size: 1.4rem;
                }
                &.dropdown{
                    > a{
                        &::after{
                            font-size: 1.1rem;
                            right: -5px;
                        }
                    }
                }
            }
            li + li{
                margin-left: 10px;
                padding-left: 10px;
            }
        }
    }
    .contact-consultant {
        .contact-consultant-image{
            margin-right: 0;
        }
    }
    header{
        .main-nav .navbar-nav > li.dropdown:hover {

            .dropdown-menu {
                width: 33%;

                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }

    .testimonials-slider{
        &.testimonials-simple.with-side-image{
            .item{
                position: relative!important;
                bottom: auto!important;
            }
            .owl-dots{
                bottom: 15px;
            }
        } 
    }
}
@media (max-width: 1024px){
    #pager{
        ul{
            position: static;
            transform: none;
            display: block;
            padding: 0;
            margin: 0;
            li{
                a{
                    padding: 0 1px;
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    main .page-section{
        padding: 30px 0;
    }
    .flex{
        display: block;
    }
    .sm-flex{
        display: flex;
    }
    .sm-text-center{
        text-align: center!important;
    }
    .page-wrapper {
        font-size: 16px;
        font-size: 1.6rem;

        .h1, h1 {
            font-size: 36px;
            font-size: 3.6rem;
            margin-bottom: 3rem;
        }

        .h2, h2 {
            font-size: 24px;
            font-size: 2.4rem;
            margin-bottom: 2rem;
        }

        .h3, h3 {
            font-size: 20px;
            font-size: 2.0rem;
        }
        .h4, h4 {
            font-size: 18px;
            font-size: 1.8rem;
        }

        .btn {
            font-size: 16px;
            font-size: 1.6rem;
            margin-bottom: 5px;
        }
        .btn-more{
            margin-bottom: 0;
        }
        .basic-form .form-label {
            text-align: left;
            display: block;
        }
        .display-table{
            width: auto;
        }
    }

    header {
        .navbar.navbar-default .navbar-nav{
            width: 77%;
            > li{
                padding-left: 3px;
                padding-right: 3px;
            }
            > li + li > a:before{
                left: -6px;
            }
        }
        .main-nav .navbar-nav > li.dropdown:hover {

            .dropdown-menu {
                padding: 10px;
                width: 50%;

                &:nth-child(4) {
                    display: none;
                }

                & + .dropdown-menu {
                    padding-left: 10px;
                }
            }
        }
    }

    footer {

        a img {
            max-width: 200px;
        }
    }
    .paralax-image{
        background-position: center!important;
        background-attachment: scroll!important;
    }
    .testimonials-slider {
        padding: $gap 0;

        .owl-dots {
            bottom: 25px;
        }

        .owl-item {
            padding: 30px 45px;
            min-height: 240px;
        }

        .quote {
            height: 33px;
            font-size: 123px;
            font-size: 12.3rem;

            span {
                top: 10px;
            }
        }

        .testimonial {
            padding-top: 20px;
            padding-bottom: 10px;
            font-size: 16px;
            font-size: 1.6rem;
        }

        .testimonial-title {
            font-size: 24px;
            font-size: 2.4rem;
            padding: 0 50px;
        }

        .testimonial-author {
            font-size: 11px;
            font-size: 1.1rem;
        }
        &.testimonials-simple.with-side-image{
            .img-holder{
                max-width: 200px;
                margin: 0 auto;
            }
            .owl-dots{
                width: 100%;
                position: relative;
                margin-top: -10px;
            }
        }
        &.with-top-image{
            .quote{
                span{
                    top: 25px;
                }
                &.text-right{
                    bottom: 65px;
                    right: -50px;
                }
            }
        }
    }

    .thumbnail {
        &.card-basic {

            .caption {
                // padding: 20px 50px 40px;
                min-height: 180px;
            }
            .img-wrap{
                max-height: none;
            }
        }
        &.fixed-width{
            width: 48%;
            margin-bottom: 20px;
        }
        
        &.card-rollover .card-description {
            font-size: 16px;
            font-size: 1.6rem;
        }
    }
    .long-card-basic-list{
        .thumbnail{
            max-width: 400px;
            margin: 0 auto 30px;
            .img-wrap{
                max-height: none;
            }
        }
    }
    
    .home-padding .thumbnail.card-basic .caption{
        padding: 30px;
    }
    .featured-job-offer{
        .job-offer-sum{
            height: 125px;
        }
    }

    .process-card-holder .display-cell {
        display: block;
        margin-top: 20px;

        .process-card {
            background-color: #fff;
            padding: 20px;
        }
    }

    .customer-logo, .customer-logo .display-cell {
        height: 150px;
        padding: 10px 0;
        width: 100%;
    }
    .customer-logo img{
        max-height: 130px;
    }

    .list-featured-articles {
        margin-bottom: 45px;

        li + li {
            margin-top: 55px;
        }

        .featured-article {
            margin-right: 35%;
            min-height: 140px;

            &-image {
                width: 35%;
                max-height: 180px;
            }

            .btn.btn-more {
                width: 20px;
                height: 20px;

                &:after {
                    font-size: 14px;
                    font-size: 1.4rem;
                    line-height: 20px;
                }
            }
        }

        .text-muted {
            font-size: 10px;
            font-size: 1rem;
        }

        .h3, h3 {
            margin-top: 5px;
        }

        h3 + div {
            height: 35px;
            overflow: hidden;
            position: relative;

            // &:after {
            //     content: "";
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     height: 30px;
            //     width: 100%;
            //     background: -webkit-linear-gradient(#fff, #fff);
            //     background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 255, 1));
            // }
        }
    }

    .press-release-filter{
        text-align: center;
        ul li{
            display: inline-block;
            float: none;
            margin-bottom: 5px;
            &.dropdown{
                > a{
                    &::after{
                        bottom:2px; 
                    }
                }
            }
        }
    }

    .consultant-images img {
        margin-bottom: 10px;
    }
    .consultant-minimal{
        .filters-wrapper{
            .btn-near-labels{
                margin-top: 23px;
            }
            .btn-primary{
                padding: 13px 30px 12px;
                width: 100%;
            }
        }
        .consultant .item{
            width: 31%;   
        }
    }

    .testimonials-slider .testimonial-title {
        margin: 0 auto;
    }

    .center-bottom-img{
        text-align: center;
        [class*="col-sm"]{
            width: auto;
            float: none;
        }
    }
    .owl-carousel-jumbotron .owl-nav {
        button span{
            top: -15px;
        }
    }
    .minWt100{
        min-width: 90px;
    }

    .board-members-row{
        display: block; 
        > div{
            max-width: 500px;
            margin: 0 auto 40px;
        }
    }

    .page-wrapper .form-control,
    .left-sidebar .container-fluid, 
    .left-sidebar .navbar-collapse{
        font-size: 1.6rem;
    }
    .article-sorting-wrapper{
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .page-wrapper{
        position: relative;
        padding-bottom: 50px;
        .quick-links {

            &-toggle,
            &-toggle.active {
                display: none;
            }
    
            &-content {
                top: auto;
                left: 0;
                bottom: 0;
                width: 100%;
                position: fixed;
                padding: 15px;
            }
    
            .list-unstyled {
                display: flex;
                li {
                    width: 25%;
                    text-align: center;
                    flex-grow: 1;
                    padding: 0 10px;
                    margin-bottom: 0;
                }
            }
    
            .quick-links-close {
                display: none;
            }
    
            a {
                font-size: 0;
    
                .far, .fas {
                    position: static;
                    font-size: 21px;
                    font-size: 2.1rem;
                }
            }
        }
    }
}

/*#region Phones*/
@media (max-width: 767px) {
  
    .page-wrapper main{
        padding-top: 0;
    }
    
    header {
        .navbar{
            min-height: 10px;
        }
        .navbar-fixed-top:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: #007077;
            background: rgba(0,112,119,.8);
        }
        .brand-logo {
            height: 23px;
            width: 150px;
            display: block;
            margin: 10px auto;
            background-image: url('../images/logo-sm.png');
            background-size: auto 100%;
            background-position: center;
        }
        .navbar-fixed-top{
            .brand-logo {
                height: 23px;
                text-align: center;
            }
            .main-nav{
                top: 8px;
            }
        }

        .main-nav {
            position: absolute;
            top: 8px;
            right: 10px;
            margin: 0;
            height: 0;
            width: auto;
            min-width: 42px;

            .navbar-default .navbar-toggle {
                float: left;
                border: 0;
                margin: 0;
                padding: 7px 10px;

                .icon-bar {
                    background: none;
                    &::before{
                        font: 900 2rem 'Font Awesome 5 Free';
                        content: '\f00d';
                        color: $brightColor;
                        position: relative;
                        left: 2px;
                        top: -2px;
                    }
                    & + .icon-bar{
                        display: none;
                    }
                }

                &.collapsed{
                    .icon-bar{
                        background-color: $btn-primary-color;
                        &::before{
                            display: none;
                        }
                        & + .icon-bar{
                            display: block;
                        }
                    }
                }

                &:hover, &:active, &:focus {
                    background: none;
                    &.collapsed{
                        .icon-bar {
                            background-color: $btn-primary-color;
                        }
                    }
                }
            }
        }
        
    }

    .mobile-owl-carousel {
        .thumbnail{
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        .owl-dots{
            position: static;
        }
        &.owl-loaded {

            .col-xs-6 {
                float: none;
                width: 100%;
            }

            .customer-logo, .customer-logo .display-cell {
                height: 140px;

                img {
                    margin: 0 auto;
                    width: auto;
                }
            }
        }
    }

    .paralax-image {
        background-size: auto !important;
    }

    .jumbotron-container .jumbotron {
        padding-top: 100px;
        min-height: 260px;
        .h1, h1 {
            font-size: 30px;
            font-size: 3rem;
        }

        p {
            font-size: 18px;
            font-size: 1.8rem;
        }
    }

    .thumbnail {

        &.card-rollover {
            margin-top: 20px;
            margin-bottom: 0;
            text-align: left;

            .caption {
                padding: 9px 0;

                .h3, h3 {
                    font-size: 18px;
                    font-size: 1.8rem;
                    color: $global-text-color;
                }
            }

            .card-description {
                position: static;
                padding: 0;
                font-size: 16px;
                font-size: 1.6rem;
                opacity: 1;
                filter: alpha(opacity=100);
                -webkit-transition: none;
                transition: none;
                background: none;
                color: $global-text-color;
                .card-description-content{
                    padding: 0;
                }
            }
        }
    }

    .featured-job-offer{
        .job-offer-sum{
            height: auto;
        }
    }

    .job-search {
        margin-top: -30px;
        .filter-job-classification .row {

            & + .row {
                margin-top: 0;
            }

            & > div {
                float: left;
                margin-top: 0;
                margin-bottom: 10px;
                width: 50%;
            }
        }
        .filter > a{
            margin-left: 0;
        } 

        .col-xs-5{
            width: auto;
            float: left;
        }
        .col-xs-4.pull-right{
            width: auto;
            padding-left: 0;
        }
        .form-group{
            margin-bottom: 8px;
        }
    }

    .job-container{
        position: static;
    }
    .filter-toggle, .search-toggle{
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        width: 80px;
        overflow: hidden;
        .btn, i{
            padding: 11px 10px;
            width: 100%;
            background: $brightColor;
            color: $global-highlight-color;
            border: 1px solid $global-highlight-color;
            font-size: 1.6rem;
            line-height: 1;
            margin-bottom: 0;
            &:hover, &:focus{
                background: $global-highlight-color;
                color: $brightColor;
            }
        }
    }
    .search-toggle{
        left: auto;
        right: 15px;
        width: 40px;
    }
    
    .search-top{
        .jobalert-btn{
            position: absolute;
            top: 20px;
            right: 63px;
            padding: 10px 20px;
            margin: 0!important;
            font-size: 1.6rem!important;
            line-height: 1.15;
            width: 40px;
            text-indent: -92em;
            overflow: hidden;
            &::before {
                content: '\f0f3';
                font: 900 2.2rem/1.7 'Font Awesome 5 Free';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 1;
                text-indent: 0;
            }
        }
        .select{
            position: absolute;
            top: 30px;
            left: 103px;
            min-width: 103px!important;
            width: 104px;
            margin-top: 0!important;
            &::before{
                color: $global-highlight-color;
            }
            select{
                height: 40px!important;
                text-transform: uppercase;
                font-size: 1.6rem!important;
                font-family: $font-family-medium;
                padding-right: 20px;
                border-color: $global-highlight-color;
                color: $global-highlight-color;
                option {
                    text-transform: none;
                    font-family: $font-family-regular;
                }
            }
        }
    }
    .sm-wrapper{
        display: none;
        margin-top: 20px;
    }
    div#filtersPagePartialContent{
        padding-top: 50px;
        
        .keywordfilter{
            display: none;
            margin-top:10px;
        }
        .filter-outer-wrapper{
            margin-bottom: 10px;
            display: block;
        }
        .sm-wrapper{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    
    .list-featured-articles {
        padding: 0!important;
        margin: 0 auto 40px;
        width: 100%;
        max-width: 400px;
        li {
            margin-bottom: 10px;
            & + li {
                margin-top: 0 !important;

                // &:before {
                //     content: '';
                //     position: absolute;
                //     top: 0;
                //     right: 10%;
                //     display: block;
                //     border-top: 2px solid #ebebeb;
                //     width: 80%;
                //     z-index: 1;
                // }
            }

            &:first-child {
                padding-top: 230px;

                .featured-article-image {
                    top: 0;
                    left: 0;
                    right: 0;
                    display: block;
                    box-shadow: none;
                    width: 100%;
                    height: 240px;
                    max-height: 240px;
                    overflow: hidden;
                }

                .featured-article {
                }
            }

            .featured-article-image {
                display: none;
            }

            .featured-article {
                margin: 0 auto;
                width: 90%;
            }
        }
        h3+div{
            height: auto;
        }
    }
    
    .risk-measurement .risk-wrapper {
        width: 50%;
        margin: 10px auto 20px;
        .risk img{
            bottom: 0;
        }
    }

    .customer-logo .display-cell {
        display: block;
    }
    .white-box-list .white-box {
        height: auto !important;
        min-height: 0;
        margin-right: 0;
    }
    .white-box-list > div {
        margin-bottom: 30px;
    }

    .thumbnail.card-rollover .card-rollover-more{
        position:relative;
        padding-right:35px;
        .btn{
            position: absolute;
            bottom:7px;
            right:0;
        }
    }
    
    .page-wrapper{
       
        footer{
            .page-section{
                padding: 15px 0;
            }
            .footer-social{
                margin-top: 18px;
            }
            .postfooter-links{
                display: block;
                a{
                    font-size: 1.1rem;
                    padding-left: 5px;
                    margin-left: 5px;
                }
            } 
        }
        .display-table{
            width: auto;
            display: block;
        }
        .form-group .text-right{
            text-align: left;
        }
        .mobile-footer-menu{
            padding-bottom: 15px;
            .col-xs-6{
                clear: none!important;
                float: left;
                width: 50%;
            }
        }
        .footer-bar{
            padding: 10px 0;
        }
    }
    .thumbnail{
        .display-table{
            display: table;
            width: 100%;
        }
    }
    .testimonials-slider {
        .quote{
            height: 33px;
            &.text-right{
                top: 20px;
            }
        }
        .owl-item{
            padding-bottom: 30px
        }
        .owl-dots{
            bottom: 43px;
        }
        &.with-top-image{
            .quote{
                span{
                    top: -15px;
                    left: 0;
                }
                &.text-right{
                    right: 0;
                    bottom: 45px;
                    span{
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    .xs-no-bdr-right{
        border-right: none;
    }
    .xs-pad-right-15{
        padding-right: 15px;
    }
    .xs-marg-btm{
        margin-bottom: 30px;
    }
    .left-sidebar{
        margin-bottom: 50px;
        display: none;
        &.mobile-nav{
            display: block;
        }
    }
    .page-section {
        .right-bottom-img{
            padding-bottom: 40vw;
            img {
                max-width: 70%;
            }
        }
    } 
    .process-card-holder .display-cell {
        .process-card{
            min-height: 0!important;
        }
    }
    .board-members-item{
        h4{
            line-height: 1.3;
        }
    }
    iframe{
        width: 100%;
    }
    .testimonials-slider.testimonials-simple{
        .quote{
            top: 5px;
        }
        .quote.text-right{
            right: 15px;
        }
        .testimonial{
            padding: 40px 70px 10px;
        }
        &.with-side-image{
            .quote{
                .text-right{
                    right: 0;
                }
            }
        }
    }
   
    .form-newsletter{
        max-width: 400px;
        margin: 0 auto;
    }
    .consultant-minimal{
        .filters-wrapper{
            label{
                display: none;
            }
            .btn-near-labels{
                margin-top: 0;
            }
        }
        .consultant .item{
            width:46.5%;   
        }
    }

    .mobile-breadcrumb{
        z-index: 10;
        margin-top: 24px;
        position: relative;
        height: 35px;
        .breadcrumb {
            margin: 0;
            position: fixed;
            width: 100%;
            border-bottom: 1px solid #eee;
            left: 0;
            top: 43px;
            padding: 10px 15px;
            background: white;
            li a:before{
                content: '<';
                margin-right: 5px;
            }
        }
    }
    .pos-static{
        margin-top: 0;
        margin-bottom: 2rem;
        .breadcrumb{
            position: static;
        }
    }
    
    .contact-box {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .owl-carousel-jumbotron .owl-nav {
        display: none;
    }
}

@media (min-width: 500px) and (max-width:767px) {
    .col-xs-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (max-width:499px) {
   
    .left-sidebar{
        margin-bottom: 30px;
    }

    $grid-prefix: col-xs !default

    @for $i from 1 through 12 {
        .#{$grid-prefix}-#{$i} {
            float: none;
            width: 100%;
        }
    }

    .hide-sub-xs {
        display: none !important;
    }

    .thumbnail.card-rollover {
        margin-top: 5px;
        padding: 10px;
        display: tablet;
        .card-rollover-image{
            display: table-cell;
            padding-right: 20px;
            width: 100px;
            vertical-align: middle;
        }
        .caption{
            display: table-cell;
            vertical-align: middle;
            h3{
                margin-top: 0;
                margin-bottom: 5px;
            }
        }

    }

    .thumbnail{
        &.fixed-width{
            width: 100%;
            margin: 0 0 20px;
        }
    }
    .page-wrapper {
        footer{
            .col-xs-3, .col-xs-9{
                float: left;
                width: auto;
            }
            .brand-logo{
                height: 45px;
            }
            .footer-social{
                .fab{
                    margin: 0 3px;
                }
            }
            .postfooter-links{
                a{
                    white-space: nowrap;
                }
            } 
        }

        .apply-with, .sign-in-with{
            ul {
                li {
                    float: none;
                    margin-right: 0;
                }
            }
        }
    }

    .job-search {

        .filter-active a:after {
            content: none;
        }

        .filter-job-classification {

            &:before {
                content: '';
                position: absolute;
                left: 48%;
                top: -18px;
                display: block;
                border: 10px solid transparent;
                border-bottom-color: #ebebeb;
            }

            .row {

                & > div {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    .board-members-row{
        padding-bottom: 0;
    }
    .board-members-item {
        width: 100%;
        margin-bottom: 30px;

        & + .board-members-item {
            margin-left: 0;
        }
    }

    .owl-carousel.owl-drag{
        .owl-item, .testimonial{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .owl-carousel-jumbotron.owl-drag{
        .owl-item{
            padding: 0;
        }
    }
    .owl-consultants .owl-stage .consultant .consultant-photo{
        height: 300px;
    }
    .featured-job-offer .job-offer-sum:after,
    .list-featured-articles h3+div:after{
        display: none;
    }
    .featured-job-offer, 
    .home-padding .thumbnail.card-basic .caption{
        padding-right:18px; 
        padding-left:18px;
    }
    .mobile-owl-carousel {
        .owl-item{
            padding: 0!important;
            >div{
                padding: 0;
            }
        }
    }
    .mobile-owl-2-items{
        .owl-item{
            >div{
                padding: 0 15px;
            }
        }
    }

    .list-featured-articles{

        li:first-child{
            padding-top: 200px;
            .featured-article-image{
                max-height: 200px;
            }
        }
    }
    .testimonials-slider.testimonials-simple{
        
        .item, .owl-item>div{
            padding-bottom: 50px;
        }
        .testimonial{
            padding: 50px 0 10px;
        }
        .testimonial-author{
            padding: 10px;
        }
        .owl-dots{
            position: absolute;
            bottom: 0;
        }
        .quote{
            top: 3px;
            left: 0;
            &.text-right{
                bottom: 0;
            }
        }
        &.with-side-image{
            .img-holder{
                max-width: 150px;
            }
            .owl-item>div{
                padding-bottom: 0;
            }
            
            .quote{
                .text-right span{
                    bottom: -10px;
                }
            }
            
        }
    }
    .testimonials-slider{
        .owl-item{
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 50px; 
        }
        .testimonial{
            padding-left: 0;
            padding-right: 0; 
        }
        .owl-dots{
            bottom: 25px;
        }
        
    }
    .job-offer-contacts{
        table, tbody{
            display: block;
        }
        tr{
            display: block;
            margin-bottom: 10px;
        }
        td{
            display: block;
            margin-bottom: 5px;
            word-break: break-word;
        }
    }
    .consultant-minimal{
        .consultant{
            .item{
                width:auto; 
                margin: 12px 15px;  
            }
        }
    }
    .popup-overlay{
        .container{
            max-width:100%;
            margin-left: 0;
            left: 0;
        }
    }
    .risk-measurement .risk-wrapper {
        width: 100%;
        float: none;
    }
}

@media (max-width:400px){
    
    .section-ul ul.nav-stacked{
        li{
            width: auto;
            float: none;
            margin-right: 0;
        }
    }   

}

/*#endregion Phones*/


