@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;
@using System.Collections;
@using Newtonsoft.Json;


@{
    //var model = Model.Items.OrderByDescending(x => x.Fields.PublicationDate).Select(x => x.Fields.PublicationDate.ToString("MMMMM yyyy")).Distinct().ToList();
    var model = Model.Items.Where(m => m.Fields.EventEnd < DateTime.Now);
    List<dynamic> model1 = model.OrderByDescending(x => x.Fields.EventEnd).Select(x => x.Fields.EventEnd.ToString("MMMMM yyyy")).Distinct().ToList();
}

<div class="archive-list">
    <h4 class="title">Archive</h4>
    <ul>
        @foreach (var item in model1)
        {
            var arr = item.ToString().Split(' ');
            if (arr[1] == DateTime.Now.ToString("yyyy"))
            {
                <li><a href="/events?duration=@item">@item</a></li>
            }
            else
            {
                <li><a href="/events?duration=@arr[1]">@arr[1]</a></li>
                break;
            }
        }
    </ul>
</div>





