.l-features {
  max-width: rem-calc(330 * 2+147);

  &__row {
    @include xy-grid();
    @include flex-align(center, null);
    @include xy-gutters($negative: true);

    @include breakpoint(medium) {
      @include flex-align(justify, null);
    }
  }

  &__cell {
    @include xy-cell();
    max-width: rem-calc(330);
    margin-bottom: 3rem;

    &:last-child
    {
      margin-bottom: 0;
    }

    @include breakpoint(medium) {
      @include xy-cell(auto, $breakpoint: medium);
      margin-bottom: 0;
    }
  }
}

.o-features {
  @include flex-align(spaced, stretch);

  &__list {
    list-style: none;
    @include flex();
    @include flex-direction(column);
    @include flex-align(center, middle);
    margin: rem-calc(57) 0 rem-calc(33);
  }

  &__intro
  {
    text-align: left;

    @include headings-all
    {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__item {
    margin: rem-calc(10) 0; 
    @include flex();
    @include flex-align(left, middle);
    width: 100%;
    color: $body-font-color;
    font-family: $avenir-light;

    &:hover, &:active
    {
      color: $anchor-color;
    }
  }

  &__img {  
    margin-right: rem-calc(26);
    width: rem-calc(70);
    height: rem-calc(60);
    @include flex;
    @include flex-align(center,middle);

    img {
      width: 100%;
      height: auto;
      max-width: rem-calc(70);
      max-height: rem-calc(60);
      text-align: center;
    }
  }

  &__txt {
    font-family: $header-font-family;

    p {
      margin-bottom: 0;
    }
  }

  &__action {
    text-align: center;
  }
}
