@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@if (Model != null)
{

    foreach (var item in Model)
    {
        //item is JobFilterRoot
        <ul class="filter-multilevel">
            <li>
                <a href="#">@item.Name</a>
                @if (item.Filters != null)
                {
                    <ul>
                        @foreach (var filters in item.Filters)
                        {
                            @PrintFilters(filters)
                        }
                    </ul>
                }
            </li>
        </ul>
    }

}

@helper PrintFilters(dynamic node)
{
    <li>
        <a href="#">@node.Label</a>
        @if (node.Filters != null)
        {
            <ul>
                @foreach (var filters in node.Filters)
                {
                    @PrintFilters(filters)
                }
            </ul>
        }
    </li>
}
