@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@Html.StyleSheet(Url.EmbeddedResource("JXTNext.Sitefinity.Widgets.Job.Mvc.Controllers.JobSearchController", "JXTNext.Sitefinity.Widgets.Job.Mvc.Scripts.JobSearch.dropdowntree.css"), "bottom")
@Html.Script(Url.EmbeddedResource("JXTNext.Sitefinity.Widgets.Job.Mvc.Controllers.JobSearchController", "JXTNext.Sitefinity.Widgets.Job.Mvc.Scripts.JobSearch.dropdowntree.js"), "bottom")

@if (Model != null)
{
    <input id="selectedkeywordsfilter" type="text" value="@ViewBag.Keywords" /><br /><br />

    foreach (var item in Model)
    {
        <div class="dropdown dropdown-tree" id=@string.Format("{0}{1}",ViewBag.PrefixIdsText,item.Name)></div>
    }
}

@Html.Partial("_SimpleJS_Partial", (object)Model)
