@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Image.ImageViewModel 
 
<div class="@Model.CssClass" style="background-image: @Model.SelectedSizeUrl">
    @Html.SfPlaceHolder("ImageContainerPlaceholder")
</div>