<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6726.0">
	<securityTokenServiceSettings>
		<authenticationProviders>
			<add appId="1531652517150783" appSecret="8901dec409a8057bf20c08e14c9a5907" enabled="True" name="Facebook" config:flags="1" />
			<add appId="649915968306-4sqv8vnp7v016f6fvnqj2em5sfaoallr.apps.googleusercontent.com" appSecret="e1iMufdirceH25SuP2Uf2DGI" enabled="True" name="Google" config:flags="1" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>