<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="RootFolder" value="C:\inetpub\Websites\Minijxt\uploads\media" />
    <add key="MemberRootFolder" value="testing3" />
    <add key="SitesFolder" value="sites" />
    <add key="AdvertisersFolder" value="advertisers" />
    <add key="AdvertiserJobTemplateLogoFolder" value="advertiserjobtemplatelogo" />
    <add key="MemberFilesFolder" value="memberfiles" />
    <add key="ConsultantsFolder" value="consultants" />
    <add key="JobTemplatesFolder" value="jobtemplates" />
    <add key="DefaultBatchSize" value="1000" />
  </appSettings>
  <log4net>
    <root>
      <appender-ref ref="Console" />
      <appender-ref ref="File" />
    </root>
    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p:%date{dd/MM/yyyy HH:mm:ss}] %logger: %message%newline"/>
      </layout>
    </appender>
    <appender name="File" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%p:%date{dd/MM/yyyy HH:mm:ss}] %logger: %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="JXTPortal.Data.ConnectionString" connectionString="Data Source=JXT-WS01;Initial Catalog=MiniJXT;Persist Security Info=True;User ID=sa;Password=nameofthegame" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
