<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FTPHost" value="ftp://10.0.20.87/" />
    <add key="FTPUsername" value="jxtupload" />
    <add key="FTPPassword" value="jobx123" />
    <add key="RootFolder" value="testing3" />
    <add key="SitesFolder" value="Sites" />
    <add key="AdvertisersFolder" value="Advertisers" />
    <add key="AdvertiserJobTemplateLogoFolder" value="AdvertiserJobTemplateLogo" />
    <add key="MemberFilesFolder" value="MemberFiles" />
    <add key="ConsultantsFolder" value="Consultants" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
