@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@Html.Script(ScriptRef.JQuery, "top", false)
<div>
    <div>
        <div class="testimonials-slider paralax-image" style="background:url(/images/default-source/banners/banner-2.jpg) center center/cover no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-carousel-testimonials owl-theme">
                            @foreach (var item in Model.Items)
                            {
                                <div>
                                    <div class="quote"><span>&ldquo;</span></div>
                                    <div class="testimonial-title">What our clients and job seekers say about us</div>
                                    <div class="testimonial">@item.Fields.Quote</div>
                                    <div class="testimonial-author">@item.Fields.By</div>
                                    <div class="quote text-right"><span>&rdquo;</span></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>